Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs: update documentation for Cargo workspace assembly and mark assembly complete
  docs/ARCHITECTURE.md
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
Due: none

feat(assembly): implement Cargo workspace assembly
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
  src/parsers/cargo.rs
  testdata/cargo-golden/rustup/Cargo.toml.expected
  testdata/cargo-golden/tauri/Cargo.toml.expected
Due: fmt, clippy, generate-supported-formats

feat(debian): add extracted control file parser for ExtractCode compatibility
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/assembly/cargo_workspace_merge.rs
  src/models/datasource_id.rs
  src/parsers/debian.rs
  src/parsers/debian_test.rs
  src/parsers/mod.rs
  testdata/assembly-golden/cargo-workspace/Cargo.toml
  testdata/assembly-golden/cargo-workspace/crates/cli/Cargo.toml
  testdata/assembly-golden/cargo-workspace/crates/core/Cargo.toml
  testdata/assembly-golden/cargo-workspace/expected.json
  testdata/cargo-workspace/Cargo.toml
  testdata/cargo-workspace/crates/cli/Cargo.toml
  testdata/cargo-workspace/crates/core/Cargo.toml
  testdata/debian/extracted-md5sums/example_1.0-1_amd64.deb-extract/control.tar.gz-extract/control
  testdata/debian/extracted-md5sums/testpkg_2.5-3_i386.deb-extract/control.tar.xz-extract/control
Due: fmt, clippy, generate-supported-formats

chore: add strum dependency for enum iteration
  Cargo.lock
  Cargo.toml
Due: none

fix(assembly): add missing datasource IDs and exhaustiveness test
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
Due: fmt, clippy

docs: mark parser parity plan as complete
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs: add comprehensive copyright detection implementation plan
  docs/ARCHITECTURE.md
  docs/implementation-plans/text-detection/COPYRIGHT_DETECTION_PLAN.md
Due: none

docs: add comprehensive email/URL detection implementation plan
  docs/ARCHITECTURE.md
  docs/implementation-plans/text-detection/EMAIL_URL_DETECTION_PLAN.md
Due: none

docs: add comprehensive caching infrastructure implementation plan
  docs/ARCHITECTURE.md
  docs/implementation-plans/infrastructure/CACHING_PLAN.md
Due: none

docs: add comprehensive progress tracking implementation plan
  docs/ARCHITECTURE.md
  docs/implementation-plans/infrastructure/PROGRESS_TRACKING_PLAN.md
Due: none

fix(npm): extract is_private from package.json and fix workspace package_type
  src/parsers/npm.rs
  src/parsers/npm_workspace.rs
  src/parsers/npm_workspace_test.rs
Due: fmt, clippy, generate-supported-formats

feat(maven): add SCM developerConnection, inception_year, and consistent extra_data keys
  src/parsers/maven.rs
  testdata/maven-golden/commons-fileupload/pom.xml.expected
  testdata/maven-golden/jrecordbind/pom.xml.expected
  testdata/maven-golden/logback-access/pom.xml.expected
  testdata/maven-golden/spring/pom.xml.expected
Due: fmt, clippy, generate-supported-formats

perf(assembly): use LazyLock static for assembler config lookup
  src/assembly/mod.rs
Due: fmt, clippy

docs: add Maven improvement doc and update beyond-parity documentation
  docs/ARCHITECTURE.md
  docs/improvements/README.md
  docs/improvements/maven-parser.md
  docs/improvements/npm-workspace-parser.md
Due: none

docs: refresh PARSER_PLAN, ASSEMBLY_PLAN, and HOW_TO_ADD_A_PARSER
  docs/HOW_TO_ADD_A_PARSER.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

test: move parser test fixtures from reference submodule into testdata/
  src/parsers/podspec_json_test.rs
  src/parsers/rpm_db.rs
  src/parsers/swift_resolved_test.rs
  testdata/cocoapods/FirebaseAnalytics.podspec.json
  testdata/rpm/rpmdb.sqlite
  testdata/swift/Package-fastlane-v1.resolved
  testdata/swift/Package-mapboxmaps.resolved
  testdata/swift/Package-vercelui.resolved
Due: fmt, clippy, generate-supported-formats

chore: gitignore SQLite WAL journal files from test fixtures
  .gitignore
Due: none

improve plan
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
Due: none

Phase 0: Remove askalono license detection module
  Cargo.lock
  Cargo.toml
  src/askalono/license.rs
  src/askalono/mod.rs
  src/askalono/ngram.rs
  src/askalono/preproc.rs
  src/askalono/store/analyze.rs
  src/askalono/store/base.rs
  src/askalono/store/cache.rs
  src/askalono/store/mod.rs
  src/askalono/store/spdx.rs
  src/askalono/strategy.rs
  src/lib.rs
  src/main.rs
  src/models/mod.rs
  src/scanner/process.rs
  tests/scanner_integration.rs
Due: fmt, clippy

Phase 2: Index Construction
  docs/license-detection/phase-2.3-thresholds-implementation.md
  src/license_detection/index/dictionary.rs
  src/license_detection/index/mod.rs
  src/license_detection/index/token_sets.rs
  src/license_detection/models.rs
  src/license_detection/rules/legalese.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/mod.rs
  src/license_detection/rules/thresholds.rs
Due: fmt, clippy

Phase 1: Foundation - rule loading and tokenization
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/improvements/tokenization_improvements.md
  src/lib.rs
  src/license_detection/expression.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/index/mod.rs
  src/license_detection/mod.rs
  src/license_detection/models.rs
  src/license_detection/query.rs
  src/license_detection/rules/legalese.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/mod.rs
  src/license_detection/spans.rs
  src/license_detection/tokenize.rs
Due: fmt, clippy

Phase 4: Matching Strategies
  Cargo.lock
  Cargo.toml
  src/license_detection/aho_match.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/mod.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
  src/license_detection/seq_match.rs
  src/license_detection/spans.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

Phase 3: Query Processing
  docs/license-detection/improvements/01-query-construction.md
  src/license_detection/index/mod.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
  src/license_detection/spdx_lid.rs
Due: fmt, clippy

Update documentation for Phase 4 completion
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/phase-4-matching-strategies.md
Due: none

feat(license): add Phase 6 - Detection Assembly and Heuristics
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/phase-6-detection-assembly.md
  src/license_detection/detection.rs
  src/license_detection/mod.rs
Due: fmt, clippy

Phase 5: License Expression Composition
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/phase-5-expression-composition.md
  src/license_detection/expression.rs
  src/license_detection/index/mod.rs
  src/license_detection/mod.rs
  src/license_detection/spdx_mapping.rs
Due: fmt, clippy

feat(license-detection): complete legalese dictionary with 4506 words
  src/license_detection/index/dictionary.rs
  src/license_detection/rules/legalese.rs
Due: fmt, clippy

feat(license-detection): implement build_index() for index construction
  src/license_detection/aho_match.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/builder.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/index/mod.rs
  src/license_detection/models.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/thresholds.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
Due: fmt, clippy

feat(license-detection): implement LicenseDetectionEngine
  src/license_detection/mod.rs
Due: fmt, clippy

feat(license-detection): add comprehensive index building tests
  src/license_detection/index/builder.rs
  src/license_detection/mod.rs
  src/license_detection/rules/loader.rs
Due: fmt, clippy

feat(license-detection): complete P2 tasks - matcher docs, test utils, detection logs
  docs/license-detection/improvements/02-matcher-order-analysis.md
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/models.rs
  src/license_detection/query.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/test_utils.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

refactor(license-detection): rename query::Span to PositionSpan
  src/license_detection/query.rs
Due: fmt, clippy

feat(license-detection): add rule validation for duplicates and empty expressions
  src/license_detection/rules/loader.rs
Due: fmt, clippy

feat(license-detection): complete Phase 7 scanner integration
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/improvements/spdx-lid-deduplication.md
  src/cli.rs
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/expression.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/index/mod.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
  src/license_detection/rules/legalese.rs
  src/license_detection/rules/mod.rs
  src/license_detection/seq_match.rs
  src/license_detection/spans.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/spdx_mapping.rs
  src/license_detection/unknown_match.rs
  src/main.rs
  src/models/mod.rs
  src/scanner/process.rs
  testdata/license_test/test.txt
  tests/scanner_integration.rs
Due: fmt, clippy

feat(license-detection): preserve parentheses in expression-to-string
  src/license_detection/expression.rs
Due: fmt, clippy

docs: update LICENSE_DETECTION_PLAN.md to reflect complete status
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
Due: none

fix(license-detection): correct pattern_id to rid mapping in Aho-Corasick matcher
  docs/implementation-plans/license-detection/CHECK-PHASE-5-DETAILED.md
  docs/implementation-plans/license-detection/CHECK-PHASE-6-DETAILED.md
  docs/implementation-plans/license-detection/CHECK-PHASE-7.md
  docs/implementation-plans/license-detection/PLAN-PHASE-7.md
  src/license_detection/aho_match.rs
  src/license_detection/index/builder.rs
  src/license_detection/index/mod.rs
  src/license_detection/query.rs
Due: fmt, clippy

feat(license-detection): populate matched_text field in all matchers
  src/license_detection/aho_match.rs
  src/license_detection/hash_match.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/test_utils.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

feat(cli): add --include-text flag for matched_text in output
  src/cli.rs
  src/main.rs
  src/scanner/process.rs
  tests/scanner_integration.rs
Due: fmt, clippy
