Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

test(python): expand parser golden coverage
  src/parsers/python_golden_test.rs
  testdata/python/golden/pypi.json-expected.json
  testdata/python/golden/pyproject.toml-expected.json
  testdata/python/pypi.json
  testdata/python/setup_cfg_wheel/setup.cfg-expected-corrected.json
Due: fmt, clippy, generate-supported-formats

docs(python): add improvement notes
  docs/improvements/README.md
  docs/improvements/python-parser.md
Due: none

docs(python): update workboard coverage
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  testdata/python-golden/README.md
Due: none

docs(python): clarify follow-up issue tracking
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

feat(python): add richer manifest parser support
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/parsers/python.rs
Due: fmt, clippy, generate-supported-formats

test(python): cover manifest metadata regressions
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats

feat(python): collect installed metadata file refs
  src/parsers/python.rs
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats

fix(python): assign installed metadata files in scans
  src/assembly/assemblers.rs
  src/assembly/file_ref_resolve.rs
  src/main_test.rs
Due: fmt, clippy

docs(python): record file assignment follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/python-parser.md
Due: none

feat(python): collect SOURCES file references
  src/parsers/python.rs
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats

fix(python): assign SOURCES-listed files in scans
  src/assembly/file_ref_resolve.rs
  src/main_test.rs
Due: fmt, clippy

docs(python): record SOURCES follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/python-parser.md
Due: none

feat(python): extract RFC822 dependency metadata
  src/parsers/python.rs
Due: fmt, clippy, generate-supported-formats

test(python): cover wheel and sdist dependency parity
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats

docs(python): close RFC822 dependency follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/python-parser.md
Due: none

Fix Unicode seq-container collapse in SPDX HTML (53->51)
  src/license_detection/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

feat(debian): introspect direct deb archives
  Cargo.lock
  Cargo.toml
  src/parsers/debian.rs
Due: fmt, clippy, generate-supported-formats

test(debian): cover source tree keyfiles
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

docs(debian): record archive slice progress
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

fix(debian): detect primary copyright license
  src/parsers/debian.rs
Due: fmt, clippy, generate-supported-formats

docs(debian): record primary license follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

fix(debian): emit ordered paragraph license detections
  src/parsers/debian.rs
Due: fmt, clippy, generate-supported-formats

docs(debian): record paragraph detection follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

test(debian): add copyright parser golden coverage
  src/parsers/debian_golden_test.rs
  testdata/debian/copyright/copyright.expected.json
  testdata/debian/copyright/libseccomp_copyright.expected.json
Due: fmt, clippy, generate-supported-formats
