Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

feat(assembly): add Pixi sibling merge support
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
Due: fmt, clippy

test(helm): add parser golden coverage
  src/parsers/helm_golden_test.rs
  testdata/helm-golden/chart-basic/Chart.yaml
  testdata/helm-golden/chart-basic/Chart.yaml.expected.json
  testdata/helm-golden/lock-basic/Chart.lock
  testdata/helm-golden/lock-basic/Chart.lock.expected.json
Due: fmt, clippy, generate-supported-formats

test(pixi): add parser golden coverage
  src/parsers/pixi_golden_test.rs
  testdata/pixi-golden/basic-lock/pixi.lock
  testdata/pixi-golden/basic-lock/pixi.lock.expected.json
  testdata/pixi-golden/basic-manifest/pixi.toml
  testdata/pixi-golden/basic-manifest/pixi.toml.expected.json
Due: fmt, clippy, generate-supported-formats

feat(pixi): add package and datasource identifiers
  src/models/datasource_id.rs
  src/models/package_type.rs
Due: fmt, clippy

test(assembly): add Pixi assembly fixture
  testdata/assembly-golden/pixi-basic/expected.json
  testdata/assembly-golden/pixi-basic/pixi.lock
  testdata/assembly-golden/pixi-basic/pixi.toml
Due: none

feat(pixi): add pixi.toml and pixi.lock parsers
  docs/SUPPORTED_FORMATS.md
  src/parsers/mod.rs
  src/parsers/pixi.rs
  src/parsers/pixi_test.rs
Due: fmt, clippy, generate-supported-formats

docs(pixi): describe workspace parser support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/pixi-parser.md
Due: none

docs(helm): describe chart parser support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/helm-parser.md
Due: none

feat(assembly): add Helm sibling merge support
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/helm-basic/Chart.lock
  testdata/assembly-golden/helm-basic/Chart.yaml
  testdata/assembly-golden/helm-basic/expected.json
Due: fmt, clippy

Match Python binary query handling for raw license scans (3->2)
  src/license_detection/golden_test.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/mod.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/tests.rs
  src/scanner/process.rs
Due: fmt, clippy

feat(clojure): add datasource identifiers
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
Due: fmt, clippy

feat(clojure): add deps.edn and project.clj parsers
  docs/SUPPORTED_FORMATS.md
  src/parsers/clojure.rs
  src/parsers/clojure_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(clojure): add parser golden coverage
  src/parsers/clojure_golden_test.rs
  testdata/clojure-golden/basic-deps/deps.edn
  testdata/clojure-golden/basic-deps/deps.edn.expected.json
  testdata/clojure-golden/basic-project/project.clj
  testdata/clojure-golden/basic-project/project.clj.expected.json
Due: fmt, clippy, generate-supported-formats

docs(clojure): describe bounded parser support
  docs/improvements/README.md
  docs/improvements/clojure-parser.md
Due: none

docs(parsers): record Clojure rollout
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

Use Python long-line pseudolines for query runs (2->1)
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/tests.rs
Due: fmt, clippy

Drop low-coverage composite seq wrappers for parity (1->0)
  src/license_detection/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

Remove stale debugging files and root planning notes
  .gitignore
  AGENTS.md
  COMPARISON.md
  DEBUG.md
  FINAL_STATUS_REPORT.md
  FIX_PLAN.md
  HYPOTHESIS_LIST.md
  INVESTIGATION_PLAN.md
  REGRESSION_FIX_PLAN.md
  SESSION.md
  debug_gpl_eula.rs
  debug_gpl_or_mit_test.rs
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/mod.rs
  src/license_detection/models/license.rs
  src/main.rs
  src/utils/text.rs
  test_deunicode.rs
Due: fmt, clippy

feat(nuget): extend CPM parser metadata capture
  src/parsers/nuget.rs
  src/parsers/nuget_test.rs
Due: fmt, clippy, generate-supported-formats

feat(assembly): extend CPM imported-parent resolution
  src/assembly/assembly_test.rs
  src/assembly/nuget_cpm_resolve.rs
Due: fmt, clippy

test(assembly): add NuGet CPM golden coverage
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/nuget-cpm-imported-parent/Directory.Packages.props
  testdata/assembly-golden/nuget-cpm-imported-parent/expected.json
  testdata/assembly-golden/nuget-cpm-imported-parent/src/Directory.Packages.props
  testdata/assembly-golden/nuget-cpm-imported-parent/src/app/Contoso.Utility.csproj
Due: fmt, clippy

docs(nuget): describe bounded CPM follow-up
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/nuget-parser.md
  testdata/assembly-golden/README.md
  testdata/nuget-golden/README.md
Due: none

feat(sbt): support config-prefixed dependencies
  src/parsers/sbt.rs
  src/parsers/sbt_test.rs
Due: fmt, clippy, generate-supported-formats

test(sbt): add config-prefixed parser golden
  src/parsers/sbt_golden_test.rs
  testdata/sbt-golden/config-prefixed-deps/build.sbt
  testdata/sbt-golden/config-prefixed-deps/build.sbt-expected.json
Due: fmt, clippy, generate-supported-formats

docs(sbt): describe config-scoped follow-up
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/sbt-parser.md
Due: none

feat(sbt): support root settings and shared bundles
  src/parsers/sbt.rs
  src/parsers/sbt_test.rs
Due: fmt, clippy, generate-supported-formats

test(sbt): add settings-and-bundles parser goldens
  src/parsers/sbt_golden_test.rs
  testdata/sbt-golden/config-prefixed-deps/build.sbt-expected.json
  testdata/sbt-golden/fallback-and-skips/build.sbt-expected.json
  testdata/sbt-golden/settings-and-shared-bundles/build.sbt
  testdata/sbt-golden/settings-and-shared-bundles/build.sbt-expected.json
Due: fmt, clippy, generate-supported-formats

docs(sbt): describe bounded settings-bundle support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/sbt-parser.md
Due: none
