Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

feat(lint): add markdownlint-cli2 configuration
  .markdownlint-cli2.jsonc
Due: none

feat(ci): consolidate quality check workflows
  .github/workflows/check.yml
Due: none

docs: reorganize documentation and archive obsolete files
  docs/TESTING_STRATEGY.md
  docs/archived/FEATURE_PARITY.md
  docs/archived/PARSER_IMPLEMENTATION_PLAN.md
Due: none

ci(pre-commit): add markdown linting hook
  .pre-commit-config.yaml
Due: none

docs(lib): add comprehensive public API documentation
  src/lib.rs
Due: fmt, clippy

docs(AGENTS): add documentation map and improve architecture section
  AGENTS.md
Due: none

feat(scripts): add URL validation with allowlist support
  scripts/README.md
  scripts/extract_urls.sh
  scripts/validate_urls.py
Due: none

feat(deps): add Linux package parser dependencies
  Cargo.lock
  Cargo.toml
Due: none

feat(parsers): add Linux system package parsers
  src/models/file_info.rs
  src/parsers/alpine.rs
  src/parsers/alpine_golden_test.rs
  src/parsers/debian.rs
  src/parsers/debian_golden_test.rs
  src/parsers/mod.rs
  src/parsers/rfc822.rs
  src/parsers/rpm_db.rs
  src/parsers/rpm_golden_test.rs
  src/parsers/rpm_parser.rs
  testdata/alpine/lib/apk/db/installed
  testdata/alpine/lib/apk/db/installed.expected.json
  testdata/debian/copyright/copyright
  testdata/debian/copyright/libseccomp_copyright.expected.json
  testdata/debian/deb/adduser_3.112ubuntu1_all.deb
  testdata/debian/deb/adduser_3.112ubuntu1_all.deb.expected.json
  testdata/debian/dsc_files/adduser_3.118+deb11u1.dsc
  testdata/debian/dsc_files/zsh_5.7.1-1+deb10u1.dsc
  testdata/debian/dsc_files/zsh_5.7.1-1+deb10u1.dsc.expected.json
  testdata/debian/var/lib/dpkg/info/bash.list
  testdata/debian/var/lib/dpkg/info/bash.md5sums
  testdata/debian/var/lib/dpkg/status.d/base-files
  testdata/rpm/Eterm-0.9.3-5mdv2007.0.rpm
  testdata/rpm/fping-2.4b2-10.fc12.x86_64.rpm
  testdata/rpm/fping-2.4b2-10.fc12.x86_64.rpm.expected.json
  testdata/rpm/setup-2.5.49-b1.src.rpm
Due: fmt, clippy, generate-supported-formats

feat(tools): add test expectation generator utility
  bin/generate_test_expected.rs
Due: fmt, clippy

docs: add architectural decision records
  docs/adr/0001-trait-based-parsers.md
  docs/adr/0002-extraction-vs-detection.md
  docs/adr/0003-golden-test-strategy.md
  docs/adr/0004-security-first-parsing.md
  docs/adr/0005-auto-generated-docs.md
  docs/adr/README.md
Due: none

docs: add parser improvement documentation
  docs/improvements/README.md
  docs/improvements/alpine-parser.md
  docs/improvements/composer-parser.md
  docs/improvements/dart-parser.md
  docs/improvements/debian-parser.md
  docs/improvements/gradle-parser.md
  docs/improvements/rpm-parser.md
  docs/improvements/ruby-parser.md
Due: none

docs: add development guides and documentation index
  docs/ARCHITECTURE.md
  docs/DOCUMENTATION_SUMMARY.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/MARKDOWN_LINTING_STATUS.md
Due: none

docs(parsers): add module-level documentation
  docs/SUPPORTED_FORMATS.md
  src/parsers/conda.rs
  src/parsers/dart.rs
  src/parsers/go.rs
  src/parsers/gradle.rs
  src/parsers/npm_workspace.rs
  src/parsers/opam.rs
  src/parsers/pipfile_lock.rs
  src/parsers/podfile.rs
  src/parsers/podfile_lock.rs
  src/parsers/podspec.rs
  src/parsers/poetry_lock.rs
  src/parsers/python.rs
  src/parsers/requirements_txt.rs
  src/parsers/yarn_lock.rs
Due: fmt, clippy, generate-supported-formats

feat(tools): implement macro-based parser auto-discovery
  bin/generate_test_expected.rs
  docs/HOW_TO_ADD_A_PARSER.md
  scripts/generate_test_expected.sh
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

refactor: audit and remove unjustified clippy allow directives
  docs/ARCHITECTURE.md
  docs/HOW_TO_ADD_A_PARSER.md
  src/models/file_info.rs
  src/models/mod.rs
  src/parsers/cargo_lock.rs
  src/parsers/gradle.rs
  src/parsers/mod.rs
  src/parsers/podspec.rs
  tests/scanner_integration.rs
Due: fmt, clippy, generate-supported-formats

feat(parsers): add CPAN Perl package parsers
  docs/improvements/cpan-parser.md
  src/parsers/cpan.rs
  src/parsers/cpan_test.rs
  testdata/cpan/manifest/MANIFEST
  testdata/cpan/meta_json/META.json
  testdata/cpan/meta_yml/META.yml
Due: fmt, clippy, generate-supported-formats

feat(parsers): add Bazel BUILD and Buck parsers
  src/parsers/bazel.rs
  src/parsers/bazel_test.rs
  src/parsers/buck.rs
  src/parsers/buck_test.rs
  testdata/bazel/end2end/BUILD
  testdata/bazel/end2end/subdir2/BUILD
  testdata/bazel/parse/BUILD
  testdata/buck/end2end/BUCK
  testdata/buck/end2end/subdir2/BUCK
  testdata/buck/metadata/METADATA.bzl
  testdata/buck/metadata/new-format-METADATA.bzl
  testdata/buck/metadata/with-package-url-METADATA.bzl
  testdata/buck/parse/BUCK
Due: fmt, clippy, generate-supported-formats

docs: update parser implementation plan and supported formats
  docs/NEXT_PHASE_PLAN.md
  docs/SUPPORTED_FORMATS.md
  docs/archived/PARSER_IMPLEMENTATION_PLAN.md
Due: none

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
