Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

fix(python): implement is_pinned computation for dependencies (issues #2753, #3697)
  src/parsers/python.rs
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats

fix(general): implement architecture bugfixes
  src/assembly/dir_assign.rs
  src/assembly/mod.rs
  src/models/package_type.rs
  src/parsers/about_test.rs
  src/parsers/cargo.rs
  src/parsers/cargo_test.rs
  src/parsers/npm.rs
  src/parsers/npm_test.rs
  src/scanner/process.rs
  src/utils/download_url.rs
  src/utils/mod.rs
Due: fmt, clippy, generate-supported-formats

fix(maven-gradle): implement bugfixes for issues #3472, #2254, #4521
  src/parsers/gradle.rs
  src/parsers/maven_test.rs
Due: fmt, clippy, generate-supported-formats

fix(alpine-rpm): implement bugfixes for issues #3731, #4684, #3443
  src/parsers/alpine.rs
  src/parsers/npm_test.rs
  src/parsers/rpm_db.rs
  src/parsers/rpm_parser.rs
  testdata/alpine/lib/apk/db/installed.expected.json
Due: fmt, clippy, generate-supported-formats

fix(debian): implement bugfixes for issues #2643, #2644, #2645, #2646
  src/parsers/debian.rs
  src/parsers/debian_test.rs
  src/parsers/rfc822.rs
  src/utils/spdx.rs
Due: fmt, clippy, generate-supported-formats

fix(nuget): implement bugfixes for issues #4609, #2991
  docs/improvements/nuget-party-type-inference.md
  src/parsers/nuget.rs
  src/parsers/nuget_golden_test.rs
  src/parsers/nuget_test.rs
  testdata/nuget-golden/aspnet-mvc/Microsoft.AspNet.Mvc.nuspec.expected
  testdata/nuget-golden/bootstrap/bootstrap.nuspec.expected
  testdata/nuget-golden/castle-core/Castle.Core.nuspec.expected
  testdata/nuget-golden/entity-framework/EntityFramework.nuspec.expected
  testdata/nuget-golden/jquery-ui/jQuery.UI.Combined.nuspec.expected
  testdata/nuget-golden/modern-license/WinGetUtil.nuspec
  testdata/nuget-golden/modern-license/WinGetUtil.nuspec.expected
  testdata/nuget-golden/net-http/Microsoft.Net.Http.nuspec.expected
Due: fmt, clippy, generate-supported-formats

fix(cargo): implement bugfixes for issues #3895, #3975
  src/assembly/cargo_workspace_merge.rs
  src/assembly/dir_assign.rs
  testdata/assembly-golden/cargo-basic/LICENSE
  testdata/assembly-golden/cargo-basic/README.md
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/cargo-basic/src/lib.rs
  testdata/assembly-golden/cargo-workspace/LICENSE
  testdata/assembly-golden/cargo-workspace/crates/cli/src/main.rs
  testdata/assembly-golden/cargo-workspace/crates/core/LICENSE
  testdata/assembly-golden/cargo-workspace/crates/core/src/lib.rs
  testdata/assembly-golden/cargo-workspace/expected.json
Due: fmt, clippy

fix(jar-composer): implement bugfixes for issues #2474, #1326, #3313
  src/parsers/composer.rs
  src/parsers/composer_test.rs
  src/parsers/misc.rs
  src/parsers/misc_test.rs
Due: fmt, clippy, generate-supported-formats

fix(license-detection): Implement false positive filtering fixes (PLAN-025)
  docs/license-detection/PLAN-020-golden-test-failures.md
  docs/license-detection/PLAN-023-failure-analysis-lic1.md
  docs/license-detection/PLAN-023-failure-analysis-lic2.md
  docs/license-detection/PLAN-023-failure-analysis-lic3.md
  docs/license-detection/PLAN-023-failure-analysis-lic4.md
  docs/license-detection/PLAN-023-failure-analysis-summary.md
  docs/license-detection/PLAN-024-fix-match-merging.md
  docs/license-detection/PLAN-028-fix-utf8-binary-handling.md
  src/license_detection/match_refine.rs
Due: fmt, clippy

docs: Update PLAN-025, PLAN-026, PLAN-027 with current code state
  docs/license-detection/PLAN-025-fix-false-positive-filtering.md
  docs/license-detection/PLAN-026-fix-short-license-detection.md
  docs/license-detection/PLAN-027-fix-expression-combination.md
Due: none

fix(license-detection): Remove incorrect is_false_positive check (PLAN-026)
  .markdownlint-cli2.jsonc
  docs/license-detection/PLAN-020-golden-test-failures.md
  docs/license-detection/PLAN-023-failure-analysis-lic2.md
  src/license_detection/detection.rs
  src/license_detection/golden_test.rs
Due: fmt, clippy

docs: Update PLAN-025 with validation results
  docs/license-detection/PLAN-025-fix-false-positive-filtering.md
Due: none

docs: Update PLAN-026 with validation results
  docs/license-detection/PLAN-026-fix-short-license-detection.md
Due: none

fix(license-detection): Add expression subsumption to filter_contained_matches (PLAN-027)
  src/license_detection/match_refine.rs
Due: fmt, clippy

docs: Update PLAN-027 with validation results
  docs/license-detection/PLAN-027-fix-expression-combination.md
Due: none

feat(license-detection): Implement PLAN-033, PLAN-034, PLAN-038 - BOM handling, copyright check, threshold fix
  docs/license-detection/PLAN-025-fix-false-positive-filtering.md
  docs/license-detection/PLAN-026-fix-short-license-detection.md
  docs/license-detection/PLAN-027-fix-expression-combination.md
  docs/license-detection/PLAN-029-comprehensive-difference-analysis.md
  docs/license-detection/PLAN-030-restore-non-overlapping-fix.md
  docs/license-detection/PLAN-031-score-formula-fix.md
  docs/license-detection/PLAN-032-spdx-key-mapping-fix.md
  docs/license-detection/PLAN-033-bom-handling-fix.md
  docs/license-detection/PLAN-034-copyright-check-fix.md
  docs/license-detection/PLAN-035-qdensity-metric-fix.md
  docs/license-detection/PLAN-036-equal-ispan-selection-fix.md
  docs/license-detection/PLAN-037-post-phase-merge-fix.md
  docs/license-detection/PLAN-038-threshold-parameter-fix.md
  src/license_detection/detection.rs
  src/license_detection/mod.rs
  src/scanner/process.rs
  src/utils/language.rs
  src/utils/mod.rs
  src/utils/text.rs
Due: fmt, clippy

docs: Update PLAN-033, PLAN-034, PLAN-038 with implementation notes
  docs/license-detection/PLAN-033-bom-handling-fix.md
  docs/license-detection/PLAN-034-copyright-check-fix.md
  docs/license-detection/PLAN-038-threshold-parameter-fix.md
Due: none

fix(license-detection): Implement PLAN-035 - Fix qdensity, qmagnitude, idensity metrics
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

docs: Update PLAN-035 with implementation notes
  docs/license-detection/PLAN-035-qdensity-metric-fix.md
Due: none

fix(license-detection): Implement PLAN-036 - Fix equal ispan selection to use qspan_magnitude
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

Revert "fix(license-detection): Implement PLAN-036 - Fix equal ispan selection to use qspan_magnitude"
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

feat(license-detection): Implement PLAN-032 - Add SPDX key mapping and unknown-spdx handling
  src/license_detection/index/builder.rs
  src/license_detection/index/mod.rs
  src/license_detection/spdx_lid.rs
Due: fmt, clippy

docs: Update PLAN-032 with implementation notes
  docs/license-detection/PLAN-032-spdx-key-mapping-fix.md
Due: none

fix(license-detection): Implement PLAN-031 - Fix score formula to match Python
  src/license_detection/detection.rs
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

fix(license-detection): Update stale test for is_false_positive
  docs/license-detection/PLAN-039-fix-is-false-positive-test.md
  src/license_detection/detection.rs
Due: fmt, clippy

docs: Update PLAN-031 with implementation notes
  docs/license-detection/PLAN-031-score-formula-fix.md
Due: none

docs: Update PLAN-030, PLAN-036, PLAN-037 with revised implementation strategies
  docs/license-detection/PLAN-030-restore-non-overlapping-fix.md
  docs/license-detection/PLAN-036-equal-ispan-selection-fix.md
  docs/license-detection/PLAN-037-post-phase-merge-fix.md
Due: none

fix(license-detection): Implement PLAN-036 - Fix equal ispan selection with magnitude
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

fix(license-detection): Add matcher_order to merge sort key (PLAN-037 prerequisite)
  src/license_detection/match_refine.rs
Due: fmt, clippy

docs: Update PLAN-036 with completion status
  docs/license-detection/PLAN-036-equal-ispan-selection-fix.md
Due: none

docs: Update PLAN-029, PLAN-030, PLAN-037 after verification
  docs/license-detection/PLAN-029-comprehensive-difference-analysis.md
  docs/license-detection/PLAN-030-restore-non-overlapping-fix.md
  docs/license-detection/PLAN-037-post-phase-merge-fix.md
Due: none

feat(license-detection): Implement PLAN-037 - Add post-phase merge calls
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
Due: fmt, clippy

docs: Update PLAN-037 with completion status
  docs/license-detection/PLAN-037-post-phase-merge-fix.md
Due: none

docs: Add PLAN-040 for expression normalization analysis
  docs/license-detection/PLAN-040-expression-normalization.md
Due: none

docs: Update plans based on investigation findings
  docs/license-detection/PLAN-030-restore-non-overlapping-fix.md
  docs/license-detection/PLAN-040-expression-normalization.md
  docs/license-detection/PLAN-041-fix-plan37-regressions.md
Due: none

fix(npm): implement bugfixes for issues #2015, #3393, #4753, #3139, #4399
  src/assembly/file_ref_resolve.rs
  src/parsers/npm.rs
  src/parsers/npm_lock.rs
  src/parsers/npm_lock_test.rs
  src/parsers/npm_test.rs
Due: fmt, clippy, generate-supported-formats

fix(ruby): implement bugfixes for issues #2513, #2781, #3088, #3072
  src/assembly/assemblers.rs
  src/parsers/ruby.rs
  src/parsers/ruby_test.rs
  testdata/ruby/description_edge_case.gemspec
Due: fmt, clippy, generate-supported-formats

fix(general): implement architecture bugfixes
  src/assembly/dir_assign.rs
  src/assembly/mod.rs
  src/models/package_type.rs
  src/parsers/about_test.rs
  src/parsers/cargo.rs
  src/parsers/cargo_test.rs
  src/parsers/npm.rs
  src/parsers/npm_test.rs
  src/scanner/process.rs
Due: fmt, clippy, generate-supported-formats
