Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

fix(python): validate dependency names instead of a no-op purl gate
  src/parsers/python/pyproject.rs
  src/parsers/python/setup_cfg.rs
  src/parsers/python/test.rs
  src/parsers/python/utils.rs
Due: fmt, clippy, generate-supported-formats

test(python): cover the purl-less setup.cfg dependency through assembly
  src/parsers/python/scan_test.rs
Due: fmt, clippy, generate-supported-formats

fix(nuget): match central package versions on an encoded PURL (#1349)
  src/assembly/assembly_test.rs
  src/assembly/nuget_cpm_resolve.rs
  src/parsers/mod.rs
  src/parsers/nuget/mod.rs
Due: fmt, clippy, generate-supported-formats

fix(python): validate dependency names and drop unreachable PURL fallbacks (#1346)
  src/parsers/conan.rs
  src/parsers/poetry_lock.rs
  src/parsers/pylock_toml.rs
  src/parsers/python/pyproject.rs
  src/parsers/python/scan_test.rs
  src/parsers/python/setup_cfg.rs
  src/parsers/python/test.rs
  src/parsers/python/utils.rs
  src/parsers/uv_lock.rs
Due: fmt, clippy, generate-supported-formats

fix(opam): encode PURL components instead of formatting them
  src/parsers/opam.rs
  src/parsers/utils.rs
Due: fmt, clippy, generate-supported-formats

fix(swift): encode PURL components in show-dependencies output
  src/parsers/swift_show_dependencies.rs
  src/parsers/utils.rs
Due: fmt, clippy, generate-supported-formats

fix(conan): encode reference PURL components
  src/parsers/conan.rs
  src/parsers/conan_test.rs
Due: fmt, clippy, generate-supported-formats

fix(purl): encode opam, swift and conan PURL components (#1350)
  src/parsers/conan.rs
  src/parsers/conan_test.rs
  src/parsers/opam.rs
  src/parsers/swift_show_dependencies.rs
  src/parsers/utils.rs
Due: fmt, clippy, generate-supported-formats

fix(ivy,osgi): encode PURL components instead of formatting them
  src/parsers/ivy.rs
  src/parsers/ivy_test.rs
  src/parsers/maven/manifest.rs
  src/parsers/maven/manifest_test.rs
Due: fmt, clippy, generate-supported-formats

fix(alpine,hackage): keep constraints out of PURL names and encode components
  src/parsers/alpine.rs
  src/parsers/hackage.rs
  src/parsers/hackage_test.rs
  testdata/alpine/apk/basic/test-package-1.0-r0.apk.expected.json
Due: fmt, clippy, generate-supported-formats

fix(purl): encode gitmodules PURLs and drop pnpm's unreachable fallback
  src/parsers/gitmodules.rs
  src/parsers/pnpm_lock.rs
  src/parsers/pnpm_lock_test.rs
Due: fmt, clippy, generate-supported-formats

feat(purl): guard emitted PURL validity, and build source RPM PURLs
  .github/workflows/check.yml
  src/parsers/rpm_db.rs
  src/parsers/rpm_parser.rs
  testdata/rpm/fedora-bdb-rootfs.expected.json
  testdata/rpm/fping-2.4b2-10.fc12.x86_64.rpm.expected.json
  testdata/rpm/rpmdb.sqlite.expected.json
  tests/emitted_purl_validity_guard.rs
Due: fmt, clippy, generate-supported-formats

docs(pnpm): state create_purl's contract without the removed fallback
  src/parsers/pnpm_lock.rs
Due: fmt, clippy, generate-supported-formats

fix(purl): bound PURL components before construction, not after
  src/parsers/ivy.rs
  src/parsers/opam.rs
  src/parsers/utils.rs
Due: fmt, clippy, generate-supported-formats

docs: record three contracts that were being mistaken for defects
  src/assembly/mod.rs
  src/parsers/metadata.rs
  src/post_processing/tallies.rs
Due: fmt, clippy, generate-supported-formats

fix(alpine,hackage): keep constraints out of PURL names and encode components (#1352)
  src/parsers/alpine.rs
  src/parsers/hackage.rs
  src/parsers/hackage_test.rs
  testdata/alpine/apk/basic/test-package-1.0-r0.apk.expected.json
Due: fmt, clippy, generate-supported-formats

fix(purl): encode gitmodules PURLs and drop pnpm's unreachable fallback (#1353)
  src/parsers/gitmodules.rs
  src/parsers/pnpm_lock.rs
  src/parsers/pnpm_lock_test.rs
Due: fmt, clippy, generate-supported-formats

feat(purl): guard emitted PURL validity, and build source RPM PURLs (#1354)
  .github/workflows/check.yml
  src/parsers/rpm_db.rs
  src/parsers/rpm_parser.rs
  testdata/rpm/fedora-bdb-rootfs.expected.json
  testdata/rpm/fping-2.4b2-10.fc12.x86_64.rpm.expected.json
  testdata/rpm/rpmdb.sqlite.expected.json
  tests/emitted_purl_validity_guard.rs
Due: fmt, clippy, generate-supported-formats

fix(ivy,osgi): encode PURL components instead of formatting them (#1351)
  src/parsers/ivy.rs
  src/parsers/ivy_test.rs
  src/parsers/maven/manifest.rs
  src/parsers/maven/manifest_test.rs
  src/parsers/opam.rs
  src/parsers/utils.rs
Due: fmt, clippy, generate-supported-formats

docs: record three contracts that were being mistaken for defects (#1355)
  src/assembly/mod.rs
  src/parsers/metadata.rs
  src/post_processing/tallies.rs
Due: fmt, clippy, generate-supported-formats

fix(pypi): encode extras names fully, and mark the remaining raw sites safe
  src/parsers/podfile_lock.rs
  src/parsers/poetry_lock.rs
  src/parsers/python/utils.rs
  src/parsers/requirements_txt.rs
  src/parsers/uv_lock.rs
Due: fmt, clippy, generate-supported-formats

fix(pypi): encode extras names fully, and mark the remaining raw sites safe (#1356)
  src/parsers/podfile_lock.rs
  src/parsers/poetry_lock.rs
  src/parsers/python/utils.rs
  src/parsers/requirements_txt.rs
  src/parsers/uv_lock.rs
Due: fmt, clippy, generate-supported-formats

chore(examples): refresh SBOM examples for 1.0.5
  examples/sbom/README.md
  examples/sbom/express/README.md
  examples/sbom/express/sbom.cdx.json
  examples/sbom/express/sbom.spdx
  examples/sbom/flask/README.md
  examples/sbom/flask/sbom.cdx.json
  examples/sbom/flask/sbom.spdx
  examples/sbom/ripgrep/README.md
  examples/sbom/ripgrep/sbom.cdx.json
  examples/sbom/ripgrep/sbom.spdx
  examples/sbom/tokio/README.md
  examples/sbom/tokio/sbom.cdx.json
  examples/sbom/tokio/sbom.spdx
Due: none

docs: name the source of the stray root lockfile
  .gitignore
Due: none

chore(examples): refresh SBOM examples for 1.0.5 (#1357)
  .gitignore
  examples/sbom/README.md
  examples/sbom/express/README.md
  examples/sbom/express/sbom.cdx.json
  examples/sbom/express/sbom.spdx
  examples/sbom/flask/README.md
  examples/sbom/flask/sbom.cdx.json
  examples/sbom/flask/sbom.spdx
  examples/sbom/ripgrep/README.md
  examples/sbom/ripgrep/sbom.cdx.json
  examples/sbom/ripgrep/sbom.spdx
  examples/sbom/tokio/README.md
  examples/sbom/tokio/sbom.cdx.json
  examples/sbom/tokio/sbom.spdx
Due: none

chore: update license rules/licenses to latest
  resources/license_detection/license_index.zst
Due: none

chore: release
  CITATION.cff
  Cargo.lock
  Cargo.toml
Due: none

fix(license): back a file's expression with detections after demotion
  src/post_processing/reference_following.rs
  testdata/summarycode-golden/reference_following/wheel_metadata_license_file_reference/codebase/demo-1.0.dist-info/METADATA
  testdata/summarycode-golden/reference_following/wheel_metadata_license_file_reference/codebase/demo-1.0.dist-info/licenses/LICENSE
  testdata/summarycode-golden/reference_following/wheel_metadata_license_file_reference/expected.json
  tests/post_processing_golden.rs
Due: fmt, clippy

docs: condense the demotion adoption comments
  src/post_processing/reference_following.rs
  tests/post_processing_golden.rs
Due: fmt, clippy

fix(license): back a file's expression with detections after demotion (#1358)
  src/post_processing/reference_following.rs
  testdata/summarycode-golden/reference_following/wheel_metadata_license_file_reference/codebase/demo-1.0.dist-info/METADATA
  testdata/summarycode-golden/reference_following/wheel_metadata_license_file_reference/codebase/demo-1.0.dist-info/licenses/LICENSE
  testdata/summarycode-golden/reference_following/wheel_metadata_license_file_reference/expected.json
  tests/post_processing_golden.rs
Due: fmt, clippy

fix(models): stop a UID marker overwriting a PURL's own uuid qualifier
  src/models/purl.rs
  tests/emitted_purl_validity_guard.rs
Due: fmt, clippy

fix(models): stop a UID marker overwriting a PURL's own uuid qualifier (#1359)
  src/models/purl.rs
  tests/emitted_purl_validity_guard.rs
Due: fmt, clippy

fix(copyright): terminate on an Author-email field with no value
  src/copyright/detector/author_heuristics/extraction.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

test(copyright): assert the merge by its span, and trim narration
  src/copyright/detector/author_heuristics/extraction.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): terminate on an Author-email field with no value (#1360)
  src/copyright/detector/author_heuristics/extraction.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): stop reading PEP 643 field names as authors
  src/copyright/detector/author_heuristics/extraction.rs
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): match the metadata gate case-insensitively
  src/copyright/detector/author_heuristics/extraction.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): stop reading PEP 643 field names as authors (#1361)
  src/copyright/detector/author_heuristics/extraction.rs
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): honour the scan deadline during postprocess
  src/copyright/detector/mod.rs
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
