Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

fix: restore summary and parser parity
  src/main.rs
  src/parsers/python.rs
Due: fmt, clippy, generate-supported-formats

feat: expand summary score parity
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

docs: update summarization facet roadmap
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

test: share scan path normalization helper
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/swift_scan_test.rs
  xtask/Cargo.lock
Due: fmt, clippy, generate-supported-formats

feat: broaden score fixture parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

docs: record summary scoring progress
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat: add detailed summary tallies
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/output.rs
  src/output/mod.rs
  src/scanner/process.rs
  tests/output_format_golden.rs
Due: fmt, clippy

feat: add top-level summary tallies
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/ruby-parser.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  tests/output_format_golden.rs
Due: fmt, clippy

refactor: isolate scan shaping and file-reference ownership
  docs/HOW_TO_ADD_A_PARSER.md
  docs/TESTING_STRATEGY.md
  docs/improvements/gradle-module-parser.md
  src/assembly/file_ref_resolve.rs
  src/main.rs
  src/main_test.rs
  src/parsers/about_scan_test.rs
  src/parsers/alpine_scan_test.rs
  src/parsers/cpan_scan_test.rs
  src/parsers/debian_scan_test.rs
  src/parsers/docker_scan_test.rs
  src/parsers/gradle_module_scan_test.rs
  src/parsers/mod.rs
  src/parsers/python_scan_test.rs
  src/parsers/rpm_db_scan_test.rs
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/swift_scan_test.rs
  src/post_processing/classify_test.rs
  src/post_processing/facet_test.rs
  src/post_processing/generated_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping.rs
  src/scan_result_shaping_test.rs
Due: fmt, clippy, generate-supported-formats

feat: add facet-based summary tallies
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/cli.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  src/scanner/process.rs
  tests/output_format_golden.rs
Due: fmt, clippy

test: prove active generated classify parity
  src/main_test.rs
Due: fmt, clippy

docs: trim post-processing plan history
  docs/implementation-plans/post-processing/SCAN_RESULT_SHAPING_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
Due: none

fix: make package scanning opt in
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  scripts/benchmark.sh
  src/cli.rs
  src/main.rs
  src/main_test.rs
  src/parsers/scan_pipeline_test_utils.rs
  src/post_processing/test_utils.rs
  src/scanner/mod.rs
  src/scanner/process.rs
  tests/scanner_copyright_credits.rs
  tests/scanner_integration.rs
Due: fmt, clippy, generate-supported-formats

fix: broken tests
  src/parsers/swift_scan_test.rs
  tests/scanner_integration.rs
Due: fmt, clippy, generate-supported-formats

fix: align tally fixtures with package support
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/post_processing/golden_test.rs
  src/post_processing/test_utils.rs
Due: fmt, clippy

chore: release v0.0.6
  Cargo.lock
  Cargo.toml
Due: none

docs: update caching plan details for Python ScanCode
  docs/implementation-plans/infrastructure/CACHING_PLAN.md
Due: none

fix: activate localized tally parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/assembly/assemblers.rs
  src/license_detection/detection/mod.rs
  src/license_detection/tests.rs
  src/parsers/freebsd.rs
  src/parsers/freebsd_test.rs
  src/parsers/maven.rs
  src/parsers/maven_test.rs
  src/parsers/npm.rs
  src/parsers/npm_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/mod.rs
  src/post_processing/tallies_test.rs
  src/utils/language.rs
Due: fmt, clippy, generate-supported-formats

fix: align parser and assembly goldens
  src/assembly/npm_workspace_merge.rs
  src/parsers/maven.rs
  testdata/assembly-golden/maven-meta-inf-basic/expected.json
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
  testdata/freebsd/basic/+COMPACT_MANIFEST.expected.json
  testdata/freebsd/multi_license/+COMPACT_MANIFEST.expected.json
Due: fmt, clippy, generate-supported-formats

test: audit downstream parser contracts
  docs/TESTING_STRATEGY.md
  src/assembly/assemblers.rs
  src/parsers/downstream_scan_test.rs
  src/parsers/mod.rs
  src/parsers/opam.rs
  testdata/opam/sample3/output.opam.expected
Due: fmt, clippy, generate-supported-formats

chore: sync xtask lockfile
  xtask/Cargo.lock
Due: none

ci: guard xtask lockfile drift
  .github/workflows/check.yml
  .pre-commit-config.yaml
  Cargo.toml
  docs/RELEASING.md
  scripts/check_xtask_lockfile_sync.sh
Due: none

ci: stop pre-commit hooks from writing the index
  .pre-commit-config.yaml
  AGENTS.md
Due: none

test: extend downstream parser audit
  src/parsers/downstream_scan_test.rs
Due: fmt, clippy, generate-supported-formats

test: cover rule_url parity cases
  src/license_detection/models/mod_tests.rs
Due: fmt, clippy

fix: restore rule_url in license matches
  src/license_detection/aho_match.rs
  src/license_detection/hash_match.rs
  src/license_detection/models/rule.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/spdx_lid/mod.rs
  src/models/file_info.rs
  src/scanner/process.rs
Due: fmt, clippy

test: refresh Debian copyright golden
  testdata/debian/copyright/copyright.expected.json
Due: none

chore: ignore provenant cache artifacts
  .gitignore
Due: none

test: expand downstream parser audit
  docs/HOW_TO_ADD_A_PARSER.md
  docs/TESTING_STRATEGY.md
  src/parsers/downstream_scan_test.rs
Due: fmt, clippy, generate-supported-formats

ci: simplify release workflow and fix rpmdb platform gating
  .github/workflows/release.yml
  Cargo.toml
  renovate.json
  src/parsers/rpm_db.rs
  src/parsers/rpm_db_scan_test.rs
  src/parsers/rpm_golden_test.rs
Due: fmt, clippy, generate-supported-formats

fix: expand downstream parser audit
  src/assembly/sibling_merge.rs
  src/parsers/chef.rs
  src/parsers/conan.rs
  src/parsers/downstream_scan_test.rs
  src/parsers/python.rs
Due: fmt, clippy, generate-supported-formats

fix: simplify equivalent license expressions
  docs/ARCHITECTURE.md
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/license_detection/detection/analysis.rs
  src/license_detection/expression/simplify.rs
  src/parsers/license_normalization.rs
  src/post_processing/summary_test.rs
  src/utils/spdx.rs
  testdata/summarycode-golden/summary/conflicting_license_categories/conflicting_license_categories.expected.json
  testdata/summarycode-golden/summary/holders/clear_holder.expected.json
  testdata/summarycode-golden/summary/holders/combined_holders.expected.json
  testdata/summarycode-golden/summary/license_ambiguity/ambiguous.expected.json
  testdata/summarycode-golden/summary/license_ambiguity/unambiguous.expected.json
  testdata/summarycode-golden/summary/multiple_package_data/multiple_package_data.expected.json
  testdata/summarycode-golden/summary/with_package_data/with_package_data.expected.json
  testdata/summarycode-golden/summary/without_package_data/without_package_data.expected.json
Due: fmt, clippy, generate-supported-formats

test: split parser downstream audits
  docs/HOW_TO_ADD_A_PARSER.md
  docs/TESTING_STRATEGY.md
  src/assembly/assemblers.rs
  src/assembly/mod.rs
  src/parsers/arch_scan_test.rs
  src/parsers/bower_scan_test.rs
  src/parsers/cargo_scan_test.rs
  src/parsers/chef_scan_test.rs
  src/parsers/cocoapods_scan_test.rs
  src/parsers/composer_scan_test.rs
  src/parsers/conan_scan_test.rs
  src/parsers/conda_scan_test.rs
  src/parsers/cran_scan_test.rs
  src/parsers/dart_scan_test.rs
  src/parsers/deno_scan_test.rs
  src/parsers/downstream_scan_test.rs
  src/parsers/freebsd_scan_test.rs
  src/parsers/gitmodules_scan_test.rs
  src/parsers/go_scan_test.rs
  src/parsers/gradle_scan_test.rs
  src/parsers/hackage_scan_test.rs
  src/parsers/haxe_scan_test.rs
  src/parsers/helm_scan_test.rs
  src/parsers/maven_scan_test.rs
  src/parsers/mod.rs
  src/parsers/nix_scan_test.rs
  src/parsers/npm_scan_test.rs
  src/parsers/nuget_scan_test.rs
  src/parsers/opam_scan_test.rs
  src/parsers/pixi_scan_test.rs
  src/parsers/python_scan_test.rs
  src/parsers/rpm_db_scan_test.rs
  src/parsers/rpm_scan_test.rs
  src/parsers/ruby_scan_test.rs
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/vcpkg_scan_test.rs
  testdata/chef/basic/metadata.json.expected.json
  testdata/chef/basic/metadata.rb.expected.json
  testdata/chef/dependencies/metadata.rb.expected.json
  testdata/conan/recipes/libgettext/manifest/conanfile.py-expected.json
Due: fmt, clippy, generate-supported-formats

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
