Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

test(python): cover uv lock parser edge cases
  src/parsers/uv_lock_golden_test.rs
  src/parsers/uv_lock_test.rs
  testdata/python/golden/uv_lock/uv.lock
  testdata/python/golden/uv_lock/uv.lock-expected.json
Due: fmt, clippy, generate-supported-formats

test(assembly): cover pyproject and uv lock merge
  src/assembly/mod.rs
Due: fmt, clippy

docs(parser): mention uv lock support
  src/lib.rs
Due: fmt, clippy

docs(python): record uv lock support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/uv-lock-parser.md
Due: none

feat(python): add uv lock parser
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/parsers/mod.rs
  src/parsers/uv_lock.rs
Due: fmt, clippy, generate-supported-formats

feat(python): add pylock.toml parser
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/parsers/mod.rs
  src/parsers/pylock_toml.rs
Due: fmt, clippy, generate-supported-formats

test(python): cover pylock.toml parser cases
  src/parsers/pylock_toml_golden_test.rs
  src/parsers/pylock_toml_test.rs
  testdata/python/golden/pylock_toml/pylock.toml
  testdata/python/golden/pylock_toml/pylock.toml-expected.json
Due: fmt, clippy, generate-supported-formats

test(assembly): cover pylock sibling merge
  src/assembly/mod.rs
Due: fmt, clippy

docs(parser): mention pylock support
  src/lib.rs
Due: fmt, clippy

docs(python): record pylock support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/pylock-toml-parser.md
Due: none

fix(python): reject invalid pylock metadata
  src/parsers/pylock_toml.rs
  src/parsers/pylock_toml_test.rs
Due: fmt, clippy, generate-supported-formats

perf(hooks): reduce pre-commit hook scope
  .pre-commit-config.yaml
Due: none

perf(hooks): scope formatters to staged files
  .pre-commit-config.yaml
Due: none

feat(python): parse uv pyproject metadata
  src/parsers/python.rs
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats

fix(assembly): refresh package identity after merge backfill
  src/assembly/nested_merge.rs
  src/assembly/sibling_merge.rs
  src/models/file_info.rs
Due: fmt, clippy

test(assembly): cover uv merge safeguards
  src/assembly/mod.rs
Due: fmt, clippy

feat(deno): add manifest parser
  Cargo.lock
  Cargo.toml
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/models/package_type.rs
  src/parsers/deno.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

feat(deno): add lockfile parser
  src/parsers/deno_lock.rs
Due: fmt, clippy, generate-supported-formats

test(deno): cover manifest and lock parsing
  src/parsers/deno_lock_test.rs
  src/parsers/deno_test.rs
Due: fmt, clippy, generate-supported-formats

test(assembly): cover deno sibling merge
  src/assembly/assemblers.rs
  src/assembly/mod.rs
Due: fmt, clippy

docs(deno): record parser support
  docs/improvements/README.md
  docs/improvements/deno-parser.md
  src/lib.rs
Due: fmt, clippy

docs(readme): refresh project and parser planning docs
  README.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

fix(deno): normalize scoped package identity
  src/models/file_info.rs
  src/parsers/deno.rs
  src/parsers/deno_test.rs
Due: fmt, clippy, generate-supported-formats

test(deno): add parser golden coverage
  src/parsers/deno_golden_test.rs
  src/parsers/mod.rs
  testdata/deno/golden/deno_json/deno.json
  testdata/deno/golden/deno_json/deno.json-expected.json
  testdata/deno/golden/deno_jsonc/deno.jsonc
  testdata/deno/golden/deno_jsonc/deno.jsonc-expected.json
  testdata/deno/golden/deno_lock/deno.lock
  testdata/deno/golden/deno_lock/deno.lock-expected.json
Due: fmt, clippy, generate-supported-formats

docs(parsers): require golden coverage
  docs/HOW_TO_ADD_A_PARSER.md
Due: none

test(assembly): add deno assembly golden
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/deno-basic/deno.json
  testdata/assembly-golden/deno-basic/deno.lock
  testdata/assembly-golden/deno-basic/expected.json
Due: fmt, clippy
