Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

fix(parity): validate generated index and deduplicate package-data fallbacks
  .github/actions/prepare-embedded-license-index/action.yml
  src/license_detection/embedded_test.rs
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
Due: fmt, clippy

chore(ci): rename embedded index verify action
  .github/actions/verify-embedded-license-index/action.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  docs/adr/0007-embedded-license-index-artifact-strategy.md
Due: none

chore(ci): run index verification in parallel
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

feat(cache): make persistent caches opt-in
  README.md
  docs/ARCHITECTURE.md
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/TESTING_STRATEGY.md
  docs/adr/0007-embedded-license-index-artifact-strategy.md
  docs/implementation-plans/infrastructure/CACHING_PLAN.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  src/cache/config.rs
  src/cache/license_index_cache.rs
  src/cache/mod.rs
  src/cli.rs
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/mod.rs
  src/main.rs
  src/main_test.rs
  src/parsers/swift_manifest_json.rs
  src/parsers/swift_manifest_json_test.rs
Due: fmt, clippy, generate-supported-formats

fix(license): truncate detection text at char boundary
  src/license_detection/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

chore: point project URLs at getprovenant.dev
  .github/workflows/release.yml
  CITATION.cff
  Cargo.toml
  README.md
Due: none

chore: point project URLs at getprovenant.dev (#1332)
  .github/workflows/release.yml
  CITATION.cff
  Cargo.toml
  README.md
Due: none

fix(triage): move inference to a configurable OpenAI-compatible provider
  .github/workflows/scancode-triage.yml
  xtask/README.md
  xtask/src/bin/scancode-triage.rs
Due: fmt, clippy

fix(triage): move inference to a configurable OpenAI-compatible provider (#1333)
  .github/workflows/scancode-triage.yml
  xtask/README.md
  xtask/src/bin/scancode-triage.rs
Due: fmt, clippy

docs: name the principal authors in README and CITATION.cff
  CITATION.cff
  README.md
Due: none

fix(deps): update rkyv to 0.8.18 for RUSTSEC-2026-0234/0235
  Cargo.lock
  Cargo.toml
Due: none

fix(deps): update rkyv to 0.8.18 for RUSTSEC-2026-0234/0235 (#1336)
  Cargo.lock
  Cargo.toml
Due: none

docs: name the principal authors in README and CITATION.cff (#1335)
  CITATION.cff
  README.md
Due: none

chore: release
  CITATION.cff
  Cargo.lock
  Cargo.toml
Due: none

fix(license): keep detected_license_expression_spdx in step with the key form
  src/post_processing/reference_following.rs
  testdata/summarycode-golden/reference_following/unresolved_reference_clue_only/codebase/README.md
  testdata/summarycode-golden/reference_following/unresolved_reference_clue_only/expected.json
  tests/post_processing_golden.rs
Due: fmt, clippy

fix(assembly): stop hoisting a datafile's dependencies twice
  src/assembly/assembly_test.rs
  src/assembly/mod.rs
Due: fmt, clippy

fix(pypi): stop claiming non-requirements .txt files as pip requirements
  docs/SUPPORTED_FORMATS.md
  src/parsers/requirements_txt.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(pypi): keep version-suffixed requirements organisers matching
  docs/SUPPORTED_FORMATS.md
  src/parsers/requirements_txt.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(license): keep detected_license_expression_spdx in step with the key form (#1337)
  src/post_processing/reference_following.rs
  testdata/summarycode-golden/reference_following/unresolved_reference_clue_only/codebase/README.md
  testdata/summarycode-golden/reference_following/unresolved_reference_clue_only/expected.json
  tests/post_processing_golden.rs
Due: fmt, clippy

fix(assembly): stop hoisting a datafile's dependencies twice (#1338)
  src/assembly/assembly_test.rs
  src/assembly/mod.rs
Due: fmt, clippy

fix(pypi): stop claiming non-requirements .txt files as pip requirements (#1339)
  docs/SUPPORTED_FORMATS.md
  src/parsers/requirements_txt.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(pypi): reject requirement names outside the PEP 508 grammar
  src/parsers/pep508.rs
  src/parsers/requirements_txt.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(pypi): require a version specifier after a requirement name
  src/parsers/pep508.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(pypi): require a PEP 440 version after a specifier operator
  src/parsers/pep508.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(pypi): reject requirement names outside the PEP 508 grammar (#1340)
  src/parsers/pep508.rs
  src/parsers/requirements_txt.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(models): keep the uuid a qualifier in package and dependency UIDs
  src/assembly/mod.rs
  src/models/dependency_uid.rs
  src/models/file_info.rs
  src/models/package_uid.rs
  src/models/purl.rs
Due: fmt, clippy

fix(swift): drop URL userinfo when deriving package identity
  src/parsers/swift_manifest_json.rs
  src/parsers/swift_manifest_json_test.rs
  src/parsers/swift_show_dependencies.rs
  src/parsers/swift_show_dependencies_test.rs
  src/parsers/utils.rs
Due: fmt, clippy, generate-supported-formats

feat(pypi): read egg-info requires.txt extra and marker sections
  src/parsers/requirements_txt.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(models): keep the uuid a qualifier in package and dependency UIDs (#1342)
  src/assembly/mod.rs
  src/models/dependency_uid.rs
  src/models/file_info.rs
  src/models/package_uid.rs
  src/models/purl.rs
Due: fmt, clippy

fix(swift): drop URL userinfo when deriving package identity (#1343)
  src/parsers/swift_manifest_json.rs
  src/parsers/swift_manifest_json_test.rs
  src/parsers/swift_show_dependencies.rs
  src/parsers/swift_show_dependencies_test.rs
  src/parsers/utils.rs
Due: fmt, clippy, generate-supported-formats

chore: anchor the foreign-lockfile ignores to the repository root
  .gitignore
Due: none

chore: ignore lockfiles from non-npm package managers
  .gitignore
Due: none

chore: ignore lockfiles from non-npm package managers (#1344)
  .gitignore
Due: none

feat(pypi): read egg-info requires.txt extra and marker sections (#1345)
  src/parsers/requirements_txt.rs
  src/parsers/requirements_txt_test.rs
Due: fmt, clippy, generate-supported-formats

fix(assembly): report dependencies that resolve to no PURL
  src/assembly/cargo_workspace_merge.rs
  src/assembly/dart_workspace_merge.rs
  src/assembly/debian_source_merge.rs
  src/assembly/gradle_multiproject.rs
  src/assembly/mix_umbrella_merge.rs
  src/assembly/mod.rs
  src/assembly/nested_merge.rs
  src/assembly/npm_workspace_merge.rs
  src/assembly/python_requirements_assign.rs
  src/assembly/sibling_merge.rs
  src/assembly/swift_merge.rs
  src/parsers/python/scan_test.rs
Due: fmt, clippy, generate-supported-formats

fix(nuget): match central package versions on an encoded PURL
  src/assembly/assembly_test.rs
  src/assembly/nuget_cpm_resolve.rs
  src/parsers/mod.rs
  src/parsers/nuget/mod.rs
Due: fmt, clippy, generate-supported-formats

fix(carthage): keep purl-less entries identifiable, and report them
  src/parsers/carthage.rs
  src/parsers/carthage_scan_test.rs
  src/parsers/gitmodules_scan_test.rs
  testdata/carthage-golden/basic/Cartfile.expected
Due: fmt, clippy, generate-supported-formats

fix(assembly): report dependencies that resolve to no PURL (#1347)
  src/assembly/cargo_workspace_merge.rs
  src/assembly/dart_workspace_merge.rs
  src/assembly/debian_source_merge.rs
  src/assembly/gradle_multiproject.rs
  src/assembly/mix_umbrella_merge.rs
  src/assembly/mod.rs
  src/assembly/nested_merge.rs
  src/assembly/npm_workspace_merge.rs
  src/assembly/python_requirements_assign.rs
  src/assembly/sibling_merge.rs
  src/assembly/swift_merge.rs
  src/parsers/carthage.rs
  src/parsers/carthage_scan_test.rs
  src/parsers/gitmodules_scan_test.rs
  src/parsers/python/scan_test.rs
  testdata/carthage-golden/basic/Cartfile.expected
Due: fmt, clippy, generate-supported-formats

refactor(parsers): drop unreachable PURL construction fallbacks
  src/parsers/conan.rs
  src/parsers/poetry_lock.rs
  src/parsers/pylock_toml.rs
  src/parsers/python/pyproject.rs
  src/parsers/python/setup_cfg.rs
  src/parsers/python/utils.rs
  src/parsers/uv_lock.rs
Due: fmt, clippy, generate-supported-formats

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
