Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

feat(rpm): merge yumdb metadata into installed packages
  src/assembly/assemblers.rs
  src/assembly/file_ref_resolve.rs
  src/assembly/mod.rs
  src/parsers/rpm_yumdb.rs
Due: fmt, clippy, generate-supported-formats

docs(plan): align parser enhancement tracker with PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(rpm): enrich archive and installed metadata
  src/parsers/rpm_db.rs
  src/parsers/rpm_parser.rs
Due: fmt, clippy, generate-supported-formats

docs(rpm): refresh improvement notes
  docs/improvements/README.md
  docs/improvements/rpm-parser.md
Due: none

fix(cargo): extract readme and publish metadata
  src/parsers/cargo.rs
  src/parsers/cargo_test.rs
Due: fmt, clippy, generate-supported-formats

fix(cargo): improve lockfile root resolution
  src/parsers/cargo_lock.rs
  src/parsers/cargo_lock_test.rs
Due: fmt, clippy, generate-supported-formats

test(cargo): refresh manifest parser goldens
  testdata/cargo-golden/clap/Cargo.toml.expected
  testdata/cargo-golden/package/Cargo.toml.expected
  testdata/cargo-golden/rustup/Cargo.toml.expected
  testdata/cargo-golden/scan/Cargo.toml.expected
  testdata/cargo-golden/single-file-scan/Cargo.toml.expected
  testdata/cargo-golden/tauri/Cargo.toml.expected
Due: none

test(cargo): add publish and lockfile goldens
  src/parsers/cargo_golden_test.rs
  testdata/cargo-golden/lock-basic/Cargo.lock
  testdata/cargo-golden/lock-basic/Cargo.lock.expected
  testdata/cargo-golden/publish-false/Cargo.toml
  testdata/cargo-golden/publish-false/Cargo.toml.expected
Due: fmt, clippy, generate-supported-formats

test(cargo): refresh golden fixture notes
  testdata/cargo-golden/README.md
Due: none

feat(assembly): assign Cargo crate resources
  src/assembly/mod.rs
  testdata/assembly-golden/cargo-basic/README.md
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/cargo-basic/src/lib.rs
Due: fmt, clippy

test(assembly): cover Cargo workspace member resources
  testdata/assembly-golden/cargo-workspace/crates/cli/LICENSE
  testdata/assembly-golden/cargo-workspace/crates/core/README.md
  testdata/assembly-golden/cargo-workspace/expected.json
Due: none

fix(assembly): support lowercase Cargo workspaces
  src/assembly/assembly_golden_test.rs
  src/assembly/cargo_workspace_merge.rs
  testdata/assembly-golden/cargo-workspace-lowercase/cargo.toml
  testdata/assembly-golden/cargo-workspace-lowercase/crates/core/README.md
  testdata/assembly-golden/cargo-workspace-lowercase/crates/core/cargo.toml
  testdata/assembly-golden/cargo-workspace-lowercase/expected.json
Due: fmt, clippy

docs(cargo): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(cargo): add improvement notes
  docs/improvements/README.md
  docs/improvements/cargo-parser.md
Due: none

docs(plan): record Cargo PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): mark completed ecosystem batches done
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(renovate): ignore fixture directories globally
  renovate.json
Due: none

feat(go): add module graph parser support
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/go.rs
  src/parsers/go_mod_graph.rs
  src/parsers/go_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(go): add directive and graph goldens
  src/parsers/go_golden_test.rs
  testdata/go-golden/README.md
  testdata/go-golden/opencensus-service/go.mod
  testdata/go-golden/opencensus-service/go.mod.expected
  testdata/go-golden/sample-graph/go.mod.graph
  testdata/go-golden/sample-graph/go.mod.graph.expected
Due: fmt, clippy, generate-supported-formats

fix(scanner): classify Go test-only source files
  src/main.rs
  src/main_test.rs
  src/scanner/process.rs
Due: fmt, clippy

test(assembly): cover Go graph merge behavior
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/go-graph-basic/expected.json
  testdata/assembly-golden/go-graph-basic/go.mod
  testdata/assembly-golden/go-graph-basic/go.mod.graph
  testdata/assembly-golden/go-graph-basic/go.sum
Due: fmt, clippy

docs(go): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(go): add parser improvement note
  docs/improvements/go-parser.md
Due: none

docs(go): add summary table entry
  docs/improvements/README.md
Due: none

fix(license_detection): align with Python reference for detection logic
  src/license_detection/aho_match.rs
  src/license_detection/detection/analysis.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/models/license_match.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/query/mod.rs
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

docs(plan): record Go PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(scanner): preserve non-source file state
  src/main.rs
Due: fmt, clippy
