Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs(plan): record Ruby PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

feat(summary): tag key files and score licenses
  src/assembly/assembly_golden_test.rs
  src/assembly/file_ref_resolve.rs
  src/assembly/mod.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  src/scanner/process.rs
  tests/output_format_golden.rs
Due: fmt, clippy

docs(ruby): refresh improvements index
  docs/improvements/README.md
Due: none

docs(ruby): document key-file follow-up
  docs/improvements/ruby-parser.md
Due: none

docs(ruby): update follow-up workboard
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): record Ruby keyfile follow-up PR
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

feat(summary): add holder and language summary fields
  src/main.rs
  src/main_test.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/mod.rs
Due: fmt, clippy

docs(summary): add foundations improvement note
  docs/improvements/README.md
  docs/improvements/summarization-foundations.md
Due: none

docs(plan): update summarization status
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
Due: none

fix(composer): support alternate names and lock efficiency
  docs/SUPPORTED_FORMATS.md
  src/parsers/composer.rs
  src/parsers/composer_test.rs
Due: fmt, clippy, generate-supported-formats

feat(assembly): assign nested Composer package files
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  testdata/assembly-golden/composer-basic/expected.json
  testdata/assembly-golden/composer-nested/expected.json
  testdata/assembly-golden/composer-nested/packages/plugin/README.md
  testdata/assembly-golden/composer-nested/packages/plugin/composer.symfony.json
  testdata/assembly-golden/composer-nested/php.composer.json
  testdata/assembly-golden/composer-nested/src/Root.php
Due: fmt, clippy

test(composer): add manifest parser goldens
  src/parsers/composer_golden_test.rs
  testdata/composer-golden/README.md
  testdata/composer-golden/a-timer/composer.json
  testdata/composer-golden/a-timer/composer.json.expected
Due: fmt, clippy, generate-supported-formats

docs(composer): refresh improvement notes
  docs/improvements/README.md
  docs/improvements/composer-parser.md
Due: none

docs(composer): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): record Composer PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(conda): add meta json references and channel disambiguation
  src/parsers/conda.rs
  src/parsers/conda_meta_json.rs
  src/parsers/conda_meta_json_test.rs
  src/parsers/conda_test.rs
Due: fmt, clippy, generate-supported-formats

feat(assembly): assign Conda rootfs package files
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/file_ref_resolve.rs
  src/assembly/mod.rs
Due: fmt, clippy

test(conda): add conda-meta parser golden
  src/parsers/conda_golden_test.rs
  testdata/conda/conda-meta/tzdata-2024b-h04d1e81_0.json-expected.json
Due: fmt, clippy, generate-supported-formats

docs(conda): add improvement notes
  docs/improvements/README.md
  docs/improvements/conda-parser.md
Due: none

docs(conda): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): record Conda PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none
