Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

fix(rpm): handle bounded preamble conditionals
  docs/improvements/rpm-specfile-parser.md
  src/parsers/rpm_specfile.rs
  src/parsers/rpm_specfile_test.rs
Due: fmt, clippy, generate-supported-formats

fix(osgi): honor optional Import-Package semantics
  docs/improvements/osgi-manifest-parser.md
  src/parsers/maven.rs
  src/parsers/osgi_test.rs
Due: fmt, clippy, generate-supported-formats

fix(alpine): extract apkbuild deps and normalize licenses
  docs/improvements/README.md
  docs/improvements/alpine-parser.md
  src/parsers/alpine.rs
  testdata/alpine/apk/basic/test-package-1.0-r0.apk.expected.json
  testdata/alpine/apkbuild/icu/APKBUILD.expected.json
  testdata/alpine/apkbuild/linux-firmware/APKBUILD.expected.json
  testdata/alpine/lib/apk/db/installed.expected.json
Due: fmt, clippy, generate-supported-formats

fix(rpm): preserve archive relationship metadata
  docs/improvements/rpm-parser.md
  src/parsers/rpm_parser.rs
Due: fmt, clippy, generate-supported-formats

test(swift): align assembled mapbox fallback purls
  testdata/swift-golden/swift-mapboxmaps-manifest-and-resolved-package-expected.json
Due: none

fix(conda): treat env deps as conda by default
  docs/improvements/conda-parser.md
  src/parsers/conda.rs
  src/parsers/conda_test.rs
  testdata/conda/conda-yaml/phc-gnn/environment_gpu.yml-expected.json
  testdata/conda/conda-yaml/ringer/environment.yaml-expected.json
Due: fmt, clippy, generate-supported-formats

test(alpine): update assembly golden for license fields
  testdata/assembly-golden/alpine-file-refs/expected.json
Due: none

fix(composer): normalize safe license metadata
  docs/improvements/README.md
  docs/improvements/composer-parser.md
  src/parsers/composer.rs
  src/parsers/composer_golden_test.rs
  src/parsers/composer_test.rs
  testdata/composer-golden/a-timer/composer.json.expected
  testdata/composer-golden/license-normalization/composer.json
  testdata/composer-golden/license-normalization/composer.json.expected
  testdata/composer-golden/license-normalization/composer.json.license.expected.json
Due: fmt, clippy, generate-supported-formats

fix(swift): preserve manifest intent over lockfile fallback
  docs/improvements/README.md
  docs/improvements/swift-parser.md
  docs/improvements/swift-show-dependencies-parser.md
  src/assembly/swift_merge.rs
  src/parsers/swift_manifest_json.rs
  src/parsers/swift_manifest_json_test.rs
  src/parsers/swift_resolved.rs
  src/parsers/swift_resolved_test.rs
  src/parsers/swift_show_dependencies.rs
  src/parsers/swift_show_dependencies_test.rs
  testdata/swift-golden/swift-fastlane-resolved-v1-parse-expected.json
  testdata/swift-golden/swift-maboxmaps-manifest-parse-expected.json
  testdata/swift-golden/swift-maboxmaps-resolved-parse-expected.json
  testdata/swift-golden/swift-mapboxmaps-manifest-and-resolved-package-expected.json
  testdata/swift-golden/swift-vercelui-expected.json
  testdata/swift-golden/swift-vercelui-resolved-parse-expected.json
  testdata/swift-golden/swift-vercelui-show-dependencies-expected.json
  testdata/swift-golden/swift-vercelui-show-dependencies-parse-expected.json
Due: fmt, clippy, generate-supported-formats

fix(dart): preserve pubspec and lockfile intent
  docs/improvements/README.md
  docs/improvements/dart-parser.md
  src/parsers/dart.rs
  src/parsers/dart_golden_test.rs
  src/parsers/dart_test.rs
  testdata/dart-golden/README.md
  testdata/dart-golden/deps-versions-dict-pubspec/pubspec.yaml
  testdata/dart-golden/deps-versions-dict-pubspec/pubspec.yaml.expected
  testdata/dart-golden/many-deps-yaml/pubspec.yaml.expected
  testdata/dart-golden/mini-lock/pubspec.lock.expected
  testdata/dart-golden/path-lock/pubspec.lock
  testdata/dart-golden/path-lock/pubspec.lock.expected
  testdata/dart-golden/private-archive-pubspec/pubspec.yaml
  testdata/dart-golden/private-archive-pubspec/pubspec.yaml.expected
  testdata/dart-golden/publish-pubspec/pubspec.yaml
  testdata/dart-golden/publish-pubspec/pubspec.yaml.expected
  testdata/dart-golden/simple-yaml/pubspec.yaml.expected
  testdata/dart-golden/stock-lock/pubspec.lock.expected
Due: fmt, clippy, generate-supported-formats

fix(cpan): classify ConfigureRequires correctly
  docs/improvements/README.md
  docs/improvements/cpan-dist-ini-parser.md
  src/parsers/cpan_dist_ini.rs
  src/parsers/cpan_dist_ini_test.rs
  testdata/cpan/dist-ini/basic/dist.ini
  testdata/cpan/dist-ini/basic/dist.ini.expected.json
Due: fmt, clippy, generate-supported-formats

feat(cli): add CC-BY attribution for ScanCode license data in --version
  src/cli.rs
Due: fmt, clippy

feat(cli): add --show-attribution flag to display NOTICE file
  src/cli.rs
  src/main.rs
Due: fmt, clippy

chore: fix formatting
  docs/license-detection/improvements/tokenization_improvements.md
Due: none

ci: add license-detection golden test shard to CI workflow
  .github/workflows/check.yml
Due: none

chore: misc cleanup
  Cargo.toml
  src/license_detection/detection/grouping.rs.orig
  src/license_detection/detection/grouping.rs.rej
Due: none

test: use prebuilt embedded license index instead of loading from reference directory
  src/license_detection/golden_test.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/rules/loader_test.rs
  src/license_detection/seq_match/gfdl_debug_test.rs
  src/license_detection/spdx_lid/test.rs
  src/license_detection/tests.rs
Due: fmt, clippy

chore: remove unused resources/licenses submodule
  .gitmodules
  .markdownlint-cli2.jsonc
  .prettierignore
  AGENTS.md
  Cargo.toml
  release.sh
  scripts/README.md
  setup.sh
Due: none

refactor: use constants for scancode-licenses paths
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  src/license_detection/embedded_test.rs
  src/license_detection/mod.rs
  src/license_detection/rules/loader.rs
  src/license_detection/tests.rs
  tests/scanner_integration.rs
  xtask/src/bin/generate_license_loader_artifact.rs
Due: fmt, clippy

feat: add license data update checks to setup.sh and release.sh
  release.sh
  setup.sh
Due: none

fix: remove needless borrows flagged by clippy
  src/license_detection/index/builder/tests.rs
  src/license_detection/spdx_lid/test.rs
Due: fmt, clippy

ci: use release builds for golden tests
  .github/workflows/check.yml
Due: none

fix: correct doctests and remove unnecessary examples
  src/copyright/candidates.rs
  src/license_detection/aho_match.rs
  src/license_detection/expression/parse.rs
  src/license_detection/expression/simplify.rs
  src/license_detection/mod.rs
  src/license_detection/models/license.rs
  src/license_detection/spdx_mapping/mod.rs
  src/license_detection/tokenize.rs
Due: fmt, clippy

Revert "fix(composer): normalize safe license metadata"
  docs/improvements/README.md
  docs/improvements/composer-parser.md
  src/parsers/composer.rs
  src/parsers/composer_golden_test.rs
  src/parsers/composer_test.rs
  testdata/composer-golden/a-timer/composer.json.expected
  testdata/composer-golden/license-normalization/composer.json
  testdata/composer-golden/license-normalization/composer.json.expected
  testdata/composer-golden/license-normalization/composer.json.license.expected.json
Due: fmt, clippy, generate-supported-formats

Consolidate license data to single submodule, add license golden sync tool
  .gitmodules
  AGENTS.md
  release.sh
  scripts/README.md
  scripts/update_license_golden.sh
  setup.sh
  src/license_detection/mod.rs
  testdata/license-golden/datadriven/lic1/e2fsprogs.txt.yml
  xtask/Cargo.toml
  xtask/src/bin/update_license_golden.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
