Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs(bazel): record module support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/bazel-module-parser.md
Due: none

test(bazel): cover module parsing
  src/parsers/bazel_module_golden_test.rs
  src/parsers/bazel_module_test.rs
  testdata/bazel-golden/module/MODULE.bazel
  testdata/bazel-golden/module/MODULE.bazel-expected.json
  testdata/bazel-golden/module/MODULE_no_version.bazel
  testdata/bazel-golden/module/MODULE_no_version.bazel-expected.json
Due: fmt, clippy, generate-supported-formats

test(assembly): add bazel module golden
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/bazel-module-basic/MODULE.bazel
  testdata/assembly-golden/bazel-module-basic/expected.json
Due: fmt, clippy

feat(nuget): add deps json parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/mod.rs
  src/parsers/nuget.rs
Due: fmt, clippy, generate-supported-formats

test(nuget): cover deps json parsing
  src/parsers/nuget_golden_test.rs
  src/parsers/nuget_test.rs
  testdata/nuget-golden/README.md
  testdata/nuget-golden/deps-json/ExampleApp.deps.json
  testdata/nuget-golden/deps-json/ExampleApp.deps.json.expected
  testdata/nuget-golden/deps-json/ExampleApp.deps.json.expected.json
Due: fmt, clippy, generate-supported-formats

test(assembly): add nuget deps json golden
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/nuget-deps-json-basic/ExampleApp.deps.json
  testdata/assembly-golden/nuget-deps-json-basic/expected.json
Due: fmt, clippy

docs(nuget): record deps json support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/nuget-parser.md
Due: none

chore(nuget): drop obsolete deps json snapshot
  testdata/nuget-golden/deps-json/ExampleApp.deps.json.expected
Due: none

Align raw matching flow with Python parity (84->62)
  src/license_detection/match_refine/handle_overlaps.rs
  src/license_detection/mod.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/tests.rs
Due: fmt, clippy

docs(parsers): reprioritize parser opportunity backlog
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs(parsers): add untracked parser gap shortlist
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs(parsers): fold untracked gaps into future section
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs(parsers): link ranked opportunities to local issues
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs(parsers): link remaining upstream issue references
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

feat(python): collect installed wheel and pip cache metadata
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  src/models/datasource_id.rs
  src/parsers/python.rs
  src/parsers/python_test.rs
  testdata/python/golden/anonapi-wheel-metadata-expected.json
Due: fmt, clippy, generate-supported-formats

test(python): add pip cache origin golden
  src/parsers/python_golden_test.rs
  testdata/python/golden/pip_cache/wheels/construct/construct-2.10.68-py3-none-any.whl
  testdata/python/golden/pip_cache/wheels/construct/origin.json
  testdata/python/golden/pip_cache/wheels/construct/origin.json-expected.json
Due: fmt, clippy, generate-supported-formats

docs(python): update installed metadata follow-up
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/python-parser.md
Due: none

Preserve stored rule thresholds during index build (62->60)
  src/license_detection/hash_match.rs
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/match_refine/filter_low_quality.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/models/rule.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/loader_test.rs
  src/license_detection/rules/thresholds.rs
  src/license_detection/seq_match/candidates.rs
  src/license_detection/seq_match/mod.rs
  src/license_detection/test_utils.rs
  src/license_detection/tests.rs
Due: fmt, clippy

test(python): replace placeholder wheel fixture
  testdata/python/golden/pip_cache/wheels/construct/construct-2.10.68-py3-none-any.whl
Due: none

feat(bun): add text lockfile parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/bun_lock.rs
  src/parsers/bun_lock_golden_test.rs
  src/parsers/bun_lock_test.rs
  src/parsers/mod.rs
  testdata/bun/basic/bun.lock
  testdata/bun/enhanced/bun.lock
  testdata/bun/golden/basic-bun-lock-expected.json
Due: fmt, clippy, generate-supported-formats

feat(assembly): integrate bun lockfile merges
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  src/assembly/workspace_merge.rs
  testdata/assembly-golden/bun-basic/bun.lock
  testdata/assembly-golden/bun-basic/expected.json
  testdata/assembly-golden/bun-basic/package.json
Due: fmt, clippy

docs(bun): record text lockfile support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/bun-lock-parser.md
Due: none

feat(bun): add legacy lockb v2 parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/bun_lockb.rs
  src/parsers/bun_lockb_golden_test.rs
  src/parsers/bun_lockb_test.rs
  src/parsers/mod.rs
  testdata/bun/golden/bun-lockb-v2-expected.json
  testdata/bun/legacy/bun.lockb.v2
  testdata/bun/legacy/bun.lockb.v2-most-features
Due: fmt, clippy, generate-supported-formats

feat(assembly): support bun.lockb merges
  src/assembly/assemblers.rs
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  src/assembly/workspace_merge.rs
Due: fmt, clippy

docs(bun): narrow remaining lockb backlog
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/bun-lock-parser.md
Due: none
