Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

feat: add generated summary gating
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/cli.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/scanner/process.rs
Due: fmt, clippy

docs: record summary score parity progress
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat: expand summary score parity
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

docs: update generated gating roadmap
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat: extend summary score fixture parity
  src/main.rs
  src/main_test.rs
  src/models/output.rs
  src/output/mod.rs
Due: fmt, clippy

docs: record summary edgecase parity progress
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat: broaden classify fixture parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: broaden score fixture parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: add package-data classify parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: complete active generated classify parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: complete active score fixture parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

test: prove active generated classify parity
  src/main_test.rs
Due: fmt, clippy

test: finish localized fixture cleanup
  src/main_test.rs
  testdata/python/golden/metadata-fixtures/unpacked_sdist/metadata-1.2/anonapi-0.0.19/anonapi.egg-info/requires.txt
  testdata/python/golden/metadata-fixtures/unpacked_wheel/metadata-2.1/with_sources/anonapi-0.0.19.dist-info/RECORD
  testdata/python/golden/metadata-fixtures/unpacked_wheel/metadata-2.1/with_sources/anonapi-0.0.19.dist-info/WHEEL
  tests/reference_fixture_guard.rs
Due: fmt, clippy

fix: align summary fixture parity
  src/license_detection/expression/mod.rs
  src/main.rs
  src/main_test.rs
  src/parsers/python.rs
  src/parsers/python_test.rs
  xtask/Cargo.lock
Due: fmt, clippy, generate-supported-formats

fix: exclude cache directories from scans
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

fix: restore summary and parser parity
  src/main.rs
  src/parsers/python.rs
Due: fmt, clippy, generate-supported-formats

refactor: isolate scan shaping and file-reference ownership
  docs/HOW_TO_ADD_A_PARSER.md
  docs/TESTING_STRATEGY.md
  docs/improvements/gradle-module-parser.md
  src/assembly/file_ref_resolve.rs
  src/main.rs
  src/main_test.rs
  src/parsers/about_scan_test.rs
  src/parsers/alpine_scan_test.rs
  src/parsers/cpan_scan_test.rs
  src/parsers/debian_scan_test.rs
  src/parsers/docker_scan_test.rs
  src/parsers/gradle_module_scan_test.rs
  src/parsers/mod.rs
  src/parsers/python_scan_test.rs
  src/parsers/rpm_db_scan_test.rs
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/swift_scan_test.rs
  src/post_processing/classify_test.rs
  src/post_processing/facet_test.rs
  src/post_processing/generated_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping.rs
  src/scan_result_shaping_test.rs
Due: fmt, clippy, generate-supported-formats

test: share scan path normalization helper
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/swift_scan_test.rs
  xtask/Cargo.lock
Due: fmt, clippy, generate-supported-formats

fix: enforce locked xtask metadata checks
  .github/workflows/check.yml
  .pre-commit-config.yaml
Due: none

test: shard post-processing goldens
  .github/workflows/check.yml
  src/post_processing/classify_test.rs
  src/post_processing/generated_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  src/post_processing/test_utils.rs
Due: fmt, clippy

perf: harden post-processing pipeline
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SCAN_RESULT_SHAPING_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/main.rs
  src/main_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/summary_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping.rs
  src/scan_result_shaping_test.rs
  src/scanner/mod.rs
  src/scanner/process.rs
  src/utils/generated.rs
  src/utils/mod.rs
  tests/scanner_copyright_credits.rs
  tests/scanner_integration.rs
Due: fmt, clippy

feat: add key-file summary tallies
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  tests/output_format_golden.rs
Due: fmt, clippy

feat: expand summary origin and clarity scoring
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/output.rs
  src/output/mod.rs
  src/scanner/process.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
