Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

test(python): add dependency parser goldens
  src/parsers/python_golden_test.rs
  testdata/python/golden/anonapi-sdist-pkginfo-expected.json
  testdata/python/golden/anonapi-wheel-metadata-expected.json
Due: fmt, clippy, generate-supported-formats

fix(debian): fall back to header primary license
  src/parsers/debian.rs
Due: fmt, clippy, generate-supported-formats

docs(debian): record embedded license fallback
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

fix(debian): integrate installed metadata sidecars
  src/assembly/file_ref_resolve.rs
  src/main_test.rs
Due: fmt, clippy

docs(debian): record installed metadata follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

docs(debian): record paragraph detection follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

fix(debian): emit ordered paragraph license detections
  src/parsers/debian.rs
Due: fmt, clippy, generate-supported-formats

test(debian): add copyright parser golden coverage
  src/parsers/debian_golden_test.rs
  testdata/debian/copyright/copyright.expected.json
  testdata/debian/copyright/libseccomp_copyright.expected.json
Due: fmt, clippy, generate-supported-formats

fix(debian): detect primary copyright license
  src/parsers/debian.rs
Due: fmt, clippy, generate-supported-formats

docs(debian): record primary license follow-up
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

perf(debian): avoid reparsing copyright paragraphs
  src/parsers/debian.rs
Due: fmt, clippy, generate-supported-formats

docs(debian): mark batch complete
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/debian-parser.md
Due: none

docs(debian): unify final batch narrative
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
Due: none

docs(plans): mark parser enhancement campaign complete
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(index): remove active parser backlog wording
  docs/DOCUMENTATION_INDEX.md
Due: none

docs(index): refresh parser backlog roadmap
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

feat(python): add uv lock parser
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/parsers/mod.rs
  src/parsers/uv_lock.rs
Due: fmt, clippy, generate-supported-formats
