Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

Change default line_threshold from 4 to 15
  src/license_detection/query/mod.rs
Due: fmt, clippy

Reapply expression deduplication fix (unique=false)
  docs/LICENSE_VARIANT_SELECTION_INVESTIGATION.md
  src/bin/trace_all_phases.rs
  src/bin/trace_contained.rs
  src/bin/trace_detect.rs
  src/bin/trace_detect2.rs
  src/bin/trace_detect3.rs
  src/bin/trace_fcm.rs
  src/bin/trace_fcm_sim.rs
  src/bin/trace_filter.rs
  src/bin/trace_full_detect.rs
  src/bin/trace_sort_issue.rs
  src/bin/trace_sorting.rs
  src/bin/trace_u42.rs
  src/bin/trace_u42_discard.rs
  src/bin/trace_unicode3.rs
  src/license_detection/detection/analysis.rs
  src/license_detection/golden_test.rs
  src/license_detection/mod.rs
Due: fmt, clippy

Update investigation document with root cause analysis
  docs/LICENSE_VARIANT_SELECTION_INVESTIGATION.md
Due: none

fix(parsers): restore conda and opam golden parity
  docs/SUPPORTED_FORMATS.md
  src/parsers/conda.rs
  src/parsers/conda_golden_test.rs
  src/parsers/opam.rs
  src/parsers/opam_golden_test.rs
  src/test_utils.rs
  testdata/opam/sample6/output.opam.expected
Due: fmt, clippy, generate-supported-formats

docs: remove volatile counts from supported formats summary
  docs/SUPPORTED_FORMATS.md
  src/bin/generate_supported_formats.rs
Due: fmt, clippy

docs(plans): align parser status wording with completed scope
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/alpine-parser.md
  docs/improvements/debian-parser.md
Due: none

fix(docs): stabilize supported-formats generation checks
  src/bin/generate_supported_formats.rs
Due: fmt, clippy

fix(docs): normalize supported formats check comparisons
  src/bin/generate_supported_formats.rs
Due: fmt, clippy

test(conda): align unit expectations with parser parity behavior
  docs/SUPPORTED_FORMATS.md
  src/parsers/conda_test.rs
Due: fmt, clippy, generate-supported-formats

style(docs): apply prettier formatting to supported formats
  docs/SUPPORTED_FORMATS.md
Due: none

docs: add golden test investigation findings
  docs/investigation/golden-test-findings.md
Due: none

fix(copyright): filter URL-embedded (c) holder artifacts
  src/copyright/detector.rs
  src/copyright/detector_postprocess_phase.rs
  src/copyright/detector_test.rs
  testdata/copyright-golden/copyrights/issue-4724-url-embedded-c-marker.txt
  testdata/copyright-golden/copyrights/issue-4724-url-embedded-c-marker.txt.yml
Due: fmt, clippy

fix(copyright): suppress mojibake holder false positives from Unicode tables
  src/copyright/refiner.rs
  src/copyright/refiner_test.rs
  testdata/copyright-golden/copyrights/issue-4381-unicode-full-bmp.txt
  testdata/copyright-golden/copyrights/issue-4381-unicode-full-bmp.txt.yml
Due: fmt, clippy

wip: license detection investigation
  docs/investigation/golden-test-findings.md
  src/bin/debug_unicode.rs
  src/license_detection/expression/simplify.rs
  src/license_detection/investigation/duplicate_license_test.rs
  src/license_detection/investigation/gpl_mpl_test.rs
  src/license_detection/investigation/mod.rs
  src/license_detection/investigation/rule_118_test.rs
  src/license_detection/investigation/something_html_test.rs
  src/license_detection/investigation/unknown_cigna_test.rs
  src/license_detection/match_refine/merge.rs
  src/license_detection/tests.rs
Due: fmt, clippy

fix(license-detection): unconditional subtract in Phase 2 near-duplicate matching
  PLAN-FIX-MATCH-POSITIONS.md
  src/bin/test_distances.rs
  src/bin/test_dup.rs
  src/bin/test_exact.rs
  src/bin/test_exact_flow.rs
  src/bin/test_final_issue.rs
  src/bin/test_gap.rs
  src/bin/test_merge_check.rs
  src/bin/test_merge_issue.rs
  src/bin/test_merge_trace.rs
  src/bin/test_missing_tokens.rs
  src/bin/test_py_sim.rs
  src/bin/test_python_qspan.rs
  src/bin/test_unicode_contain.rs
  src/bin/test_unicode_contain2.rs
  src/bin/test_unicode_filter.rs
  src/bin/test_unicode_full.rs
  src/bin/test_unicode_merge.rs
  src/bin/test_unicode_order.rs
  src/bin/test_unicode_phases.rs
  src/bin/test_unicode_pipeline.rs
  src/bin/test_unicode_qspan.rs
  src/bin/trace_all_phases.rs
  src/bin/trace_contained.rs
  src/bin/trace_detect.rs
  src/bin/trace_detect3.rs
  src/bin/trace_fcm.rs
  src/bin/trace_fcm_sim.rs
  src/bin/trace_filter.rs
  src/bin/trace_full_detect.rs
  src/bin/trace_sort_issue.rs
  src/bin/trace_sorting.rs
  src/bin/trace_u42.rs
  src/bin/trace_u42_discard.rs
  src/bin/trace_unicode3.rs
  src/license_detection/mod.rs
Due: fmt, clippy

chore: clean up temporary test files
  PLAN-FIX-MATCH-POSITIONS.md
  docs/license-detection/audit/AUDIT.md
  docs/license-detection/audit/MATCHING_ALGORITHMS.md
  docs/license-detection/audit/MATCH_REFINEMENT.md
  docs/license-detection/audit/PYTHON_PIPELINE.md
  docs/license-detection/audit/QUERY_TOKENIZATION.md
  docs/license-detection/audit/RUST_PIPELINE.md
  src/bin/test_distances.rs
  src/bin/test_dup.rs
  src/bin/test_exact.rs
  src/bin/test_exact_flow.rs
  src/bin/test_final_issue.rs
  src/bin/test_gap.rs
  src/bin/test_matchable.rs
  src/bin/test_matchable2.rs
  src/bin/test_merge_check.rs
  src/bin/test_merge_issue.rs
  src/bin/test_merge_trace.rs
  src/bin/test_missing_tokens.rs
  src/bin/test_py_sim.rs
  src/bin/test_python_qspan.rs
  src/bin/test_skip_seq.rs
  src/bin/test_unicode_contain.rs
  src/bin/test_unicode_contain2.rs
  src/bin/test_unicode_debug.rs
  src/bin/test_unicode_filter.rs
  src/bin/test_unicode_full.rs
  src/bin/test_unicode_logic.rs
  src/bin/test_unicode_merge.rs
  src/bin/test_unicode_order.rs
  src/bin/test_unicode_phases.rs
  src/bin/test_unicode_pipeline.rs
  src/bin/test_unicode_qspan.rs
  src/bin/test_unicode_refine.rs
  src/bin/test_unicode_trace.rs
Due: fmt, clippy

feat(copyright): extract MODULE_AUTHOR macro authors
  src/copyright/detector_author_heuristics.rs
  src/copyright/detector_postprocess_phase.rs
  src/copyright/detector_test.rs
  testdata/copyright-golden/authors/module-author-macro.txt
  testdata/copyright-golden/authors/module-author-macro.txt.yml
Due: fmt, clippy

Fix MAX_DIST: change from 100 to 50 to match Python
  FIX_PLAN.md
  INVESTIGATION_PLAN.md
  docs/license-detection/audit/AUDIT.md
  docs/license-detection/audit/CLI_OUTPUT.md
  docs/license-detection/audit/CONSTANTS_THRESHOLDS.md
  docs/license-detection/audit/DETECTION_ASSEMBLY.md
  docs/license-detection/audit/DIFFERENCES.md
  docs/license-detection/audit/EXPRESSION_HANDLING.md
  docs/license-detection/audit/HYPOTHESIS_H4_INVESTIGATION.md
  docs/license-detection/audit/LICENSE_DATABASE.md
  docs/license-detection/audit/RULE_ENGINE.md
  docs/license-detection/audit/SCORING.md
  docs/license-detection/audit/SPDX_DATA.md
  src/license_detection/match_refine/merge.rs
  src/license_detection/match_refine/mod.rs
Due: fmt, clippy

Enable QueryRun splitting and fix related issues
  docs/license-detection/audit/DIFFERENCES.md
  src/bin/trace_mit25.rs
  src/license_detection/mod.rs
  src/license_detection/query/mod.rs
Due: fmt, clippy

Fix O(n³) performance bug in seq_match_with_candidates
  src/license_detection/query/mod.rs
  src/license_detection/seq_match/matching.rs
Due: fmt, clippy

Add 100KB max content size limit to prevent hanging on large files
  src/bin/test_single_file.rs
  src/license_detection/mod.rs
Due: fmt, clippy

fix(copyright): decode umlaut HTML entities in author extraction
  src/copyright/prepare.rs
  testdata/copyright-golden/authors/html-entity-author-umlauts.txt
  testdata/copyright-golden/authors/html-entity-author-umlauts.txt.yml
Due: fmt, clippy

Temporarily disable QueryRun splitting
  REGRESSION_FIX_PLAN.md
  debug_cc.rs
  src/bin/debug_candidates.rs
  src/bin/debug_cc.rs
  src/license_detection/query/mod.rs
  src/license_detection/seq_match/candidates.rs
  test_cc_by_sa_debug.rs
Due: fmt, clippy

fix(copyright): detect OpenSharedMap Inc. in yearless copyright lines
  src/copyright/detector_test.rs
  src/copyright/lexer.rs
  testdata/copyright-golden/copyrights/issue-4145-opensharedmap-inc.txt
  testdata/copyright-golden/copyrights/issue-4145-opensharedmap-inc.txt.yml
Due: fmt, clippy

fix(copyright): drop CamelCase provider author false positives
  src/copyright/detector.rs
  src/copyright/detector_postprocess_phase.rs
  src/copyright/detector_test.rs
  testdata/copyright-golden/authors/issue-4736-meterprovider-false-author.txt
  testdata/copyright-golden/authors/issue-4736-meterprovider-false-author.txt.yml
Due: fmt, clippy

fix(copyright): detect wildcard year ranges like 2010-202x
  src/copyright/detector_test.rs
  src/copyright/patterns.rs
  src/copyright/patterns_test.rs
  testdata/copyright-golden/copyrights/issue-3892-platformdirs-lowercase-holder.txt
  testdata/copyright-golden/copyrights/issue-3892-platformdirs-lowercase-holder.txt.yml
  testdata/copyright-golden/copyrights/misco4/year-range-x.txt.yml
Due: fmt, clippy

fix(copyright): detect square [C] notices with holder-before-years ordering
  src/copyright/detector.rs
  src/copyright/detector_postprocess_phase.rs
  src/copyright/detector_test.rs
  src/copyright/prepare.rs
  testdata/copyright-golden/copyrights/issue-3659-square-c-sign.txt
  testdata/copyright-golden/copyrights/issue-3659-square-c-sign.txt.yml
Due: fmt, clippy

fix(copyright): handle d3 template-year notice and drop transition link author noise
  src/copyright/detector.rs
  src/copyright/detector_postprocess_phase.rs
  src/copyright/detector_test.rs
  src/copyright/refiner.rs
  src/copyright/refiner_test.rs
  testdata/copyright-golden/authors/issue-4755-d3-transition-false-author.txt
  testdata/copyright-golden/authors/issue-4755-d3-transition-false-author.txt.yml
  testdata/copyright-golden/copyrights/issue-4755-d3-template-literal.txt
  testdata/copyright-golden/copyrights/issue-4755-d3-template-literal.txt.yml
Due: fmt, clippy
