Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

Trim query test-only APIs and dead-code noise
  docs/license-detection/improvements/ARCHITECTURE_IMPROVEMENT_IDEAS.md
  src/license_detection/aho_match.rs
  src/license_detection/detection/types.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/index/mod.rs
  src/license_detection/match_refine/filter_low_quality.rs
  src/license_detection/match_refine/merge.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/models/license_match.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/rules/legalese.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/seq_match/mod.rs
  src/license_detection/spans.rs
  src/license_detection/spdx_lid/test.rs
  src/license_detection/test_utils.rs
  src/license_detection/tests.rs
  src/license_detection/tokenize.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

test(sbt): add settings-and-bundles parser goldens
  src/parsers/sbt_golden_test.rs
  testdata/sbt-golden/config-prefixed-deps/build.sbt-expected.json
  testdata/sbt-golden/fallback-and-skips/build.sbt-expected.json
  testdata/sbt-golden/settings-and-shared-bundles/build.sbt
  testdata/sbt-golden/settings-and-shared-bundles/build.sbt-expected.json
Due: fmt, clippy, generate-supported-formats

feat(sbt): support root settings and shared bundles
  src/parsers/sbt.rs
  src/parsers/sbt_test.rs
Due: fmt, clippy, generate-supported-formats

docs(sbt): describe bounded settings-bundle support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/sbt-parser.md
Due: none

Remove brittle legalese table test helpers
  src/license_detection/rules/legalese.rs
Due: fmt, clippy

Remove unused LicenseMatch helpers
  src/license_detection/models/license_match.rs
Due: fmt, clippy

Remove incomplete file-region metadata
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/mod.rs
  src/license_detection/detection/types.rs
Due: fmt, clippy

feat(nuget): add Directory.Build.props datasource
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
Due: fmt, clippy

feat(nuget): parse Directory.Build.props for CPM
  docs/SUPPORTED_FORMATS.md
  src/parsers/mod.rs
  src/parsers/nuget.rs
  src/parsers/nuget_test.rs
Due: fmt, clippy, generate-supported-formats

feat(assembly): resolve CPM through build props
  src/assembly/assembly_test.rs
  src/assembly/nuget_cpm_resolve.rs
Due: fmt, clippy

test(nuget): add build-props parser and assembly goldens
  src/assembly/assembly_golden_test.rs
  src/parsers/nuget_golden_test.rs
  testdata/assembly-golden/nuget-cpm-directory-build-imported-parent/Directory.Build.props
  testdata/assembly-golden/nuget-cpm-directory-build-imported-parent/expected.json
  testdata/assembly-golden/nuget-cpm-directory-build-imported-parent/src/Directory.Build.props
  testdata/assembly-golden/nuget-cpm-directory-build-imported-parent/src/Directory.Packages.props
  testdata/assembly-golden/nuget-cpm-directory-build-imported-parent/src/app/Contoso.Utility.csproj
  testdata/assembly-golden/nuget-cpm-directory-build-nearest-ancestor/expected.json
  testdata/assembly-golden/nuget-cpm-directory-build-nearest-ancestor/src/Directory.Build.props
  testdata/assembly-golden/nuget-cpm-directory-build-nearest-ancestor/src/Directory.Packages.props
  testdata/assembly-golden/nuget-cpm-directory-build-nearest-ancestor/src/app/Contoso.Utility.csproj
  testdata/nuget-golden/directory-build-props/Directory.Build.props
  testdata/nuget-golden/directory-build-props/src/Directory.Build.props
  testdata/nuget-golden/directory-build-props/src/Directory.Build.props.expected.json
Due: fmt, clippy, generate-supported-formats

docs(nuget): demote remaining CPM backlog
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/nuget-parser.md
  testdata/assembly-golden/README.md
  testdata/nuget-golden/README.md
Due: none

fix(cpan): preserve fallback parser identity
  src/parsers/cpan.rs
  src/parsers/cpan_test.rs
Due: fmt, clippy, generate-supported-formats

test(cpan): cover fallback edge cases
  src/parsers/cpan_test.rs
Due: fmt, clippy, generate-supported-formats

docs(cpan): describe fallback identity hardening
  docs/improvements/README.md
  docs/improvements/cpan-parser.md
Due: none

Tighten dead-code cleanup across license detection
  docs/license-detection/GAPS.md
  src/license_detection/aho_match.rs
  src/license_detection/expression/mod.rs
  src/license_detection/expression/parse.rs
  src/license_detection/expression/simplify.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/index/mod.rs
  src/license_detection/match_refine/false_positive.rs
  src/license_detection/mod.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/loader_test.rs
  src/license_detection/rules/thresholds.rs
  src/license_detection/seq_match/candidates.rs
  src/license_detection/seq_match/gfdl_debug_test.rs
  src/license_detection/seq_match/mod.rs
  src/license_detection/spans.rs
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/spdx_mapping/mod.rs
  src/license_detection/test_utils.rs
  src/license_detection/tests.rs
  src/main.rs
  src/parsers/gitmodules.rs
Due: fmt, clippy, generate-supported-formats

Use typed matcher kinds in license detection
  src/license_detection/aho_match.rs
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/grouping.rs
  src/license_detection/detection/identifier.rs
  src/license_detection/detection/mod.rs
  src/license_detection/detection/types.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine/false_positive.rs
  src/license_detection/match_refine/filter_low_quality.rs
  src/license_detection/match_refine/handle_overlaps.rs
  src/license_detection/match_refine/merge.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/mod.rs
  src/license_detection/models/license_match.rs
  src/license_detection/models/mod.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/seq_match/gfdl_debug_test.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/seq_match/mod.rs
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/tests.rs
  src/license_detection/unknown_match.rs
  src/scanner/process.rs
Due: fmt, clippy

Remove unused index bookkeeping helpers
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/index/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

chore: add NOTICE and isolate maintenance tooling
  .github/workflows/check.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  Cargo.toml
  NOTICE
  README.md
  docs/DOCUMENTATION_INDEX.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/SUPPORTED_FORMATS.md
  docs/TESTING_STRATEGY.md
  docs/adr/0005-auto-generated-docs.md
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/clojure-parser.md
  docs/improvements/copyright-detection.md
  docs/improvements/helm-parser.md
  docs/improvements/meson-parser.md
  docs/improvements/pixi-parser.md
  docs/improvements/sbt-parser.md
  scripts/README.md
  scripts/update_copyright_golden.sh
  scripts/update_parser_golden.sh
  src/lib.rs
  src/parsers/mod.rs
  xtask/Cargo.lock
  xtask/Cargo.toml
  xtask/src/bin/generate_supported_formats.rs
  xtask/src/bin/update_copyright_golden.rs
  xtask/src/bin/update_parser_golden.rs
  xtask/src/bin/validate_urls.rs
Due: fmt, clippy, generate-supported-formats

Type token IDs and classify tokens in dictionary
  src/license_detection/aho_match.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/index/mod.rs
  src/license_detection/index/token_sets.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/models/rule.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/rules/thresholds.rs
  src/license_detection/seq_match/candidates.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/seq_match/mod.rs
  src/license_detection/test_utils.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

Remove unused SPDX and span helpers
  src/license_detection/spans.rs
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/spdx_lid/test.rs
  src/license_detection/spdx_mapping/mod.rs
  src/license_detection/spdx_mapping/test.rs
Due: fmt, clippy

Make internal match SPDX expressions optional
  docs/license-detection/PLAN-020-precompute-rule-spdx-expressions.md
  src/license_detection/aho_match.rs
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/grouping.rs
  src/license_detection/detection/identifier.rs
  src/license_detection/detection/mod.rs
  src/license_detection/detection/types.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/match_refine/false_positive.rs
  src/license_detection/match_refine/filter_low_quality.rs
  src/license_detection/match_refine/handle_overlaps.rs
  src/license_detection/match_refine/merge.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/models/license_match.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/spdx_lid/test.rs
  src/license_detection/unknown_match.rs
  src/scanner/process.rs
Due: fmt, clippy

Document deferred expression features and trim debug tests
  docs/license-detection/GAPS.md
  docs/license-detection/improvements/build-time-license-index.md
  src/license_detection/expression/mod.rs
  src/license_detection/expression/simplify.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/tests.rs
Due: fmt, clippy

Split expression combination helpers by operator
  src/license_detection/detection/analysis.rs
  src/license_detection/expression/mod.rs
  src/license_detection/expression/simplify.rs
  src/main.rs
Due: fmt, clippy

fix(cargo): preserve manifest file refs and lock provenance
  docs/improvements/README.md
  docs/improvements/cargo-parser.md
  src/parsers/cargo.rs
  src/parsers/cargo_lock.rs
  src/parsers/cargo_lock_test.rs
  src/parsers/cargo_test.rs
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/cargo-golden/clap/Cargo.toml.expected
  testdata/cargo-golden/package/Cargo.toml.expected
  testdata/cargo-golden/publish-false/Cargo.toml.expected
  testdata/cargo-golden/rustup/Cargo.toml.expected
  testdata/cargo-golden/scan/Cargo.toml.expected
  testdata/cargo-golden/single-file-scan/Cargo.toml.expected
  testdata/cargo-golden/tauri/Cargo.toml.expected
Due: fmt, clippy, generate-supported-formats

fix(ruby): preserve Gemfile manifest provenance
  docs/improvements/README.md
  docs/improvements/ruby-parser.md
  src/parsers/ruby.rs
  src/parsers/ruby_golden_test.rs
  src/parsers/ruby_test.rs
  testdata/ruby-golden/README.md
  testdata/ruby-golden/gemfile-source-options/Gemfile
  testdata/ruby-golden/gemfile-source-options/Gemfile.expected
Due: fmt, clippy, generate-supported-formats
