Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

test(copyright): add EXIF image metadata golden coverage
  testdata/copyright-golden/copyrights/image_exif_copyright.png
  testdata/copyright-golden/copyrights/image_exif_copyright.png.yml
Due: none

test(finder): add XMP image metadata golden coverage
  src/finder/golden_test.rs
  testdata/plugin_email_url/emails-image-metadata.expected.json
  testdata/plugin_email_url/files/image_xmp_contacts.png
  testdata/plugin_email_url/urls-image-metadata.expected.json
Due: fmt, clippy

test(scanner): cover image metadata clue detection
  tests/scanner_integration.rs
Due: fmt, clippy

docs(improvements): describe image metadata clue scanning
  docs/improvements/README.md
  docs/improvements/copyright-detection.md
  docs/improvements/email-url-detection.md
Due: none

test(scanner): broaden image metadata coverage
  tests/scanner_integration.rs
Due: fmt, clippy

fix(scanner): harden supported image metadata extraction
  Cargo.toml
  src/utils/file.rs
Due: fmt, clippy

docs(implementation-plans): document image metadata clue support
  docs/implementation-plans/README.md
  docs/implementation-plans/text-detection/COPYRIGHT_DETECTION_PLAN.md
  docs/implementation-plans/text-detection/EMAIL_URL_DETECTION_PLAN.md
Due: none

build(scanner): add image metadata extraction dependencies
  Cargo.lock
  Cargo.toml
Due: none

fix(scanner): extract clue text from image metadata
  src/utils/file.rs
Due: fmt, clippy

docs(implementation-plans): add parser enhancement workboard
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(index): link parser enhancement backlog
  docs/DOCUMENTATION_INDEX.md
Due: none

fix(maven): enhance parser metadata extraction
  docs/SUPPORTED_FORMATS.md
  src/parsers/maven.rs
  src/parsers/maven_test.rs
Due: fmt, clippy, generate-supported-formats

test(maven): refresh basic parser golden fixtures
  testdata/maven-golden/basic/pom.xml.expected
  testdata/maven-golden/logback-access/pom.xml.expected
Due: none

test(maven): refresh extended parser golden fixtures
  testdata/maven-golden/commons-fileupload/pom.xml.expected
  testdata/maven-golden/spring/pom.xml.expected
Due: none

test(maven): refresh assembly and remaining goldens
  docs/SUPPORTED_FORMATS.md
  testdata/assembly-golden/maven-basic/expected.json
  testdata/maven-golden/jrecordbind/pom.xml.expected
Due: none

docs(maven): finalize enhancement tracking
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/maven-parser.md
Due: none

build(docs): stabilize supported formats generation
  src/bin/generate_supported_formats.rs
Due: fmt, clippy

feat(license-detection): Increase MAX_DETECTION_SIZE from 100KB to 1MB
  src/license_detection/mod.rs
Due: fmt, clippy

docs(implementation-plans): capture parser enhancement workflow learnings
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(improvements): add npm and yarn parser notes
  docs/improvements/README.md
  docs/improvements/npm-yarn-parser.md
Due: none

fix(npm): preserve overrides and normalize metadata
  src/parsers/npm.rs
  src/parsers/npm_test.rs
Due: fmt, clippy, generate-supported-formats

fix(npm-lock): preserve non-version dependency specs
  src/parsers/npm_lock.rs
  src/parsers/npm_lock_test.rs
Due: fmt, clippy, generate-supported-formats

fix(yarn): infer dependency scope from sibling manifests
  src/parsers/yarn_lock.rs
  src/parsers/yarn_lock_test.rs
Due: fmt, clippy, generate-supported-formats

fix(assembly): harden npm sibling package merging
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  testdata/assembly-golden/npm-basic/expected.json
Due: fmt, clippy

fix(assembly): stabilize npm workspace membership
  src/assembly/workspace_merge.rs
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
Due: fmt, clippy

test(assembly): cover nested npm package ownership
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/npm-nested-packages/.pnp.cjs
  testdata/assembly-golden/npm-nested-packages/expected.json
  testdata/assembly-golden/npm-nested-packages/index.js
  testdata/assembly-golden/npm-nested-packages/package.json
Due: fmt, clippy

feat(license-detection): Extract ASCII strings from binary files
  src/utils/file_text.rs
Due: fmt, clippy

fix(assembly): validate npm manifest lock identity
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
Due: fmt, clippy

docs: Update hypothesis list with progress
  HYPOTHESIS_LIST.md
Due: none

chore: Clean up investigation test files
  src/license_detection/golden_test.rs
  src/license_detection/investigation/mod.rs
  src/license_detection/mod.rs
  src/license_detection/query/mod.rs
  src/license_detection/rules/loader_test.rs
  tests/test_gpl_412.rs
  tests/test_tokenizer.rs
Due: fmt, clippy

fix(assembly): sort output without uuid noise
  src/assembly/mod.rs
Due: fmt, clippy

test(assembly): refresh stable ordering snapshots
  testdata/assembly-golden/alpine-file-refs/expected.json
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/cargo-workspace/expected.json
  testdata/assembly-golden/composer-basic/expected.json
  testdata/assembly-golden/go-basic/expected.json
  testdata/assembly-golden/maven-basic/expected.json
Due: none

fix(assembly): derive npm resource roots from manifests
  src/assembly/mod.rs
Due: fmt, clippy

fix(assembly): normalize npm resource path matching
  src/assembly/mod.rs
Due: fmt, clippy

fix(license-detection): Align subtraction logic with Python
  HYPOTHESIS_LIST.md
  src/license_detection/investigation/mod.rs
  src/license_detection/mod.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

docs: Update hypothesis list with investigation results
  HYPOTHESIS_LIST.md
  output.json
Due: none

fix(assembly): prefer assembled npm manifest roots
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
Due: fmt, clippy

fix(assembly): restore skipped npm manifest packages
  src/assembly/mod.rs
Due: fmt, clippy

test(assembly): expose nested npm ownership diagnostics
  src/assembly/assembly_golden_test.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
