Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

fix(alpine-rpm): implement bugfixes for issues #3731, #4684, #3443
  src/parsers/alpine.rs
  src/parsers/npm_test.rs
  src/parsers/rpm_db.rs
  src/parsers/rpm_parser.rs
  testdata/alpine/lib/apk/db/installed.expected.json
Due: fmt, clippy, generate-supported-formats

fix(debian): implement bugfixes for issues #2643, #2644, #2645, #2646
  src/parsers/debian.rs
  src/parsers/debian_test.rs
  src/parsers/rfc822.rs
Due: fmt, clippy, generate-supported-formats

fix(nuget): implement bugfixes for issues #4609, #2991
  docs/improvements/nuget-party-type-inference.md
  src/parsers/nuget.rs
  src/parsers/nuget_golden_test.rs
  src/parsers/nuget_test.rs
  testdata/nuget-golden/aspnet-mvc/Microsoft.AspNet.Mvc.nuspec.expected
  testdata/nuget-golden/bootstrap/bootstrap.nuspec.expected
  testdata/nuget-golden/castle-core/Castle.Core.nuspec.expected
  testdata/nuget-golden/entity-framework/EntityFramework.nuspec.expected
  testdata/nuget-golden/jquery-ui/jQuery.UI.Combined.nuspec.expected
  testdata/nuget-golden/modern-license/WinGetUtil.nuspec
  testdata/nuget-golden/modern-license/WinGetUtil.nuspec.expected
  testdata/nuget-golden/net-http/Microsoft.Net.Http.nuspec.expected
Due: fmt, clippy, generate-supported-formats

fix(cargo): implement bugfixes for issues #3895, #3975
  src/assembly/cargo_workspace_merge.rs
  src/assembly/dir_assign.rs
  testdata/assembly-golden/cargo-basic/LICENSE
  testdata/assembly-golden/cargo-basic/README.md
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/cargo-basic/src/lib.rs
  testdata/assembly-golden/cargo-workspace/LICENSE
  testdata/assembly-golden/cargo-workspace/crates/cli/src/main.rs
  testdata/assembly-golden/cargo-workspace/crates/core/LICENSE
  testdata/assembly-golden/cargo-workspace/crates/core/src/lib.rs
  testdata/assembly-golden/cargo-workspace/expected.json
Due: fmt, clippy

fix(jar-composer): implement bugfixes for issues #2474, #1326, #3313
  src/parsers/composer.rs
  src/parsers/composer_test.rs
  src/parsers/misc.rs
  src/parsers/misc_test.rs
Due: fmt, clippy, generate-supported-formats

fix(license-detection): implement has_correct_license_clue_matches for detection categorization
  docs/license-detection/PLAN-029-comprehensive-difference-analysis.md
  docs/license-detection/PLAN-030-restore-non-overlapping-fix.md
  docs/license-detection/PLAN-032-spdx-key-mapping-fix.md
  docs/license-detection/PLAN-033-bom-handling-fix.md
  docs/license-detection/PLAN-034-copyright-check-fix.md
  docs/license-detection/PLAN-035-qdensity-metric-fix.md
  docs/license-detection/PLAN-036-equal-ispan-selection-fix.md
  docs/license-detection/PLAN-037-post-phase-merge-fix.md
  docs/license-detection/PLAN-038-threshold-parameter-fix.md
  docs/license-detection/PLAN-039-fix-is-false-positive-test.md
  docs/license-detection/PLAN-040-expression-normalization.md
  docs/license-detection/PLAN-041-fix-plan37-regressions.md
  docs/license-detection/PLAN-043-analyze-detection-parity.md
  docs/license-detection/PLAN-044-filter-contained-matches-parity.md
  src/license_detection/detection.rs
  src/license_detection/mod.rs
Due: fmt, clippy

fix(license-detection): make licensing_contains case-sensitive for Python parity
  src/license_detection/expression.rs
Due: fmt, clippy

fix(license-detection): use span-based overlap for prev/next combined check
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

refactor(license-detection): add qstart() helper for Python parity
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

feat(license-detection): add rid field for rule identifier parity (PLAN-047)
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

fix(license-detection): exclude LGPL from GPL false positive filter
  src/license_detection/detection.rs
Due: fmt, clippy

feat(license-detection): implement Python repr format for identifiers (PLAN-042)
  docs/license-detection/ARCHITECTURE.md
  docs/license-detection/PLAN-042-grouping-logic-parity.md
  docs/license-detection/PLAN-045-expression-selection-parity.md
  docs/license-detection/PLAN-046-regression-root-cause-analysis.md
  docs/license-detection/PLAN-047-rule-loading-parity.md
  docs/license-detection/PLAN-048-remaining-regression-investigation.md
  docs/license-detection/architecture/01-tokenization.md
  docs/license-detection/architecture/02-matching.md
  docs/license-detection/architecture/03-unknown-match.md
  docs/license-detection/architecture/04-refinement.md
  docs/license-detection/architecture/05-grouping.md
  docs/license-detection/architecture/06-detection-creation.md
  docs/license_detection_comparison_report.md
  src/license_detection/detection.rs
  src/license_detection/token_id_equivalence_test.rs
Due: fmt, clippy

chore: cleanup completed license-detection plans
  .markdownlint-cli2.jsonc
  docs/license-detection/PLAN-007-is-license-intro-clue-fix.md
  docs/license-detection/PLAN-008-false-positive-license-lists-filter.md
  docs/license-detection/PLAN-009-is-false-positive-fix.md
  docs/license-detection/PLAN-010-simplify-expression-fix.md
  docs/license-detection/PLAN-011-detection-deduplication-fix.md
  docs/license-detection/PLAN-012-expression-parentheses-fix.md
  docs/license-detection/PLAN-013-match-grouping-thresholds-fix.md
  docs/license-detection/PLAN-014-license-containment-check.md
  docs/license-detection/PLAN-015-consolidated-fixes.md
  docs/license-detection/PLAN-016-remaining-fixes.md
  docs/license-detection/PLAN-017-remaining-fixes.md
  docs/license-detection/PLAN-018-fix-golden-test-flakiness.md
  docs/license-detection/PLAN-019-implementation-plans.md
  docs/license-detection/PLAN-020-golden-test-failures.md
  docs/license-detection/PLAN-023-failure-analysis-lic2.md
  docs/license-detection/PLAN-023-failure-analysis-lic4.md
  docs/license-detection/PLAN-023-failure-analysis-summary.md
  docs/license-detection/PLAN-024-fix-match-merging.md
  docs/license-detection/PLAN-025-fix-false-positive-filtering.md
  docs/license-detection/PLAN-028-fix-utf8-binary-handling.md
  docs/license-detection/PLAN-031-score-formula-fix.md
  docs/license-detection/PLAN-032-spdx-key-mapping-fix.md
  docs/license-detection/PLAN-033-bom-handling-fix.md
  docs/license-detection/PLAN-034-copyright-check-fix.md
  docs/license-detection/PLAN-035-qdensity-metric-fix.md
  docs/license-detection/PLAN-036-equal-ispan-selection-fix.md
  docs/license-detection/PLAN-037-post-phase-merge-fix.md
  docs/license-detection/PLAN-038-threshold-parameter-fix.md
  docs/license-detection/PLAN-039-fix-is-false-positive-test.md
  docs/license-detection/PLAN-040-expression-normalization.md
  docs/license-detection/PLAN-042-grouping-logic-parity.md
  docs/license-detection/PLAN-043-analyze-detection-parity.md
Due: none

chore: delete completed license-detection plans (7 more)
  docs/license-detection/PLAN-008-false-positive-license-lists-filter.md
  docs/license-detection/PLAN-009-is-false-positive-fix.md
  docs/license-detection/PLAN-011-detection-deduplication-fix.md
  docs/license-detection/PLAN-014-license-containment-check.md
  docs/license-detection/PLAN-015-consolidated-fixes.md
  docs/license-detection/PLAN-020-golden-test-failures.md
  docs/license-detection/PLAN-022-remaining-pipeline-differences.md
Due: none

chore: cleanup PLAN-016 (superseded) and mark PLAN-021 complete
  docs/license-detection/PLAN-016-remaining-fixes.md
  docs/license-detection/PLAN-021-remaining-part3.md
Due: none

chore: delete completed PLAN-021
  docs/license-detection/PLAN-021-remaining-part3.md
Due: none

chore: delete implemented PLAN-047 (regression tracked in PLAN-048)
  docs/license-detection/PLAN-047-rule-loading-parity.md
Due: none

chore: delete obsolete failure analysis documents
  docs/license-detection/PLAN-023-failure-analysis-lic1.md
  docs/license-detection/PLAN-023-failure-analysis-lic3.md
Due: none

chore: delete mostly completed PLAN-026
  docs/license-detection/PLAN-026-fix-short-license-detection.md
Due: none

chore: cleanup and reorganize plans
  docs/license-detection/PLAN-017-remaining-fixes.md
  docs/license-detection/PLAN-018-fix-golden-test-flakiness.md
  docs/license-detection/PLAN-046-regression-root-cause-analysis.md
  docs/license-detection/PLAN-048-remaining-regression-investigation.md
  docs/license-detection/PLAN-049-combine-matches-validation.md
  docs/license-detection/PLAN-050-nuget-spdx-pattern.md
  docs/license-detection/PLAN-051-hispan-reconstruction.md
  docs/license-detection/PLAN-052-required-phrases-filter.md
Due: none

chore: delete superseded analysis documents
  docs/license-detection/PLAN-046-regression-root-cause-analysis.md
  docs/license-detection/PLAN-048-remaining-regression-investigation.md
Due: none

chore: replace PLAN-027 with PLAN-053 for licensing_contains parity issue
  docs/license-detection/PLAN-027-fix-expression-combination.md
  docs/license-detection/PLAN-053-licensing-contains-parity.md
Due: none

chore: replace PLAN-029 tracker with dedicated plans
  docs/license-detection/PLAN-029-comprehensive-difference-analysis.md
  docs/license-detection/PLAN-054-post-phase-merge.md
  docs/license-detection/PLAN-055-expression-normalization.md
Due: none

chore: consolidate PLAN-053 into PLAN-044
  docs/license-detection/PLAN-044-filter-contained-matches-parity.md
  docs/license-detection/PLAN-053-licensing-contains-parity.md
Due: none

fix(license-detection): implement PLAN-030 and PLAN-049
  docs/license-detection/PLAN-049-combine-matches-validation.md
  src/license_detection/match_refine.rs
Due: fmt, clippy

chore: delete implemented plans PLAN-030 and PLAN-049
  docs/license-detection/PLAN-030-restore-non-overlapping-fix.md
  docs/license-detection/PLAN-049-combine-matches-validation.md
Due: none

feat(license-detection): implement PLAN-050 NuGet SPDX pattern detection
  docs/license-detection/PLAN-041-fix-plan37-regressions.md
  docs/license-detection/PLAN-044-filter-contained-matches-parity.md
  docs/license-detection/PLAN-045-expression-selection-parity.md
  docs/license-detection/PLAN-050-nuget-spdx-pattern.md
  docs/license-detection/PLAN-051-hispan-reconstruction.md
  docs/license-detection/PLAN-052-required-phrases-filter.md
  docs/license-detection/PLAN-054-post-phase-merge.md
  docs/license-detection/PLAN-055-expression-normalization.md
  src/license_detection/query.rs
Due: fmt, clippy

feat(license-detection): implement PLAN-051 hispan reconstruction fix
  docs/license-detection/PLAN-051-hispan-reconstruction.md
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

feat(license-detection): implement PLAN-044 filter_contained_matches parity
  src/license_detection/match_refine.rs
Due: fmt, clippy

feat(license-detection): implement PLAN-041 SPDX token pre-population
  src/license_detection/index/builder.rs
Due: fmt, clippy

feat(license-detection): implement PLAN-055 is_from_license field (partial)
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

docs: update plan status documents after implementation
  docs/license-detection/PLAN-041-fix-plan37-regressions.md
  docs/license-detection/PLAN-044-filter-contained-matches-parity.md
  docs/license-detection/PLAN-050-nuget-spdx-pattern.md
  docs/license-detection/PLAN-051-hispan-reconstruction.md
  docs/license-detection/PLAN-055-expression-normalization.md
Due: none

feat(license-detection): implement CDDL fix with hispan/qspan improvements
  docs/license-detection/PLAN-056-cddl-rule-selection-investigation.md
  docs/license-detection/PLAN-057-cddl-fix-regression-cleanup.md
  src/license_detection/cddl_investigation_test.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/models.rs
Due: fmt, clippy

chore: delete implemented plans, add PLAN-058 for lic2 regression
  docs/license-detection/PLAN-041-fix-plan37-regressions.md
  docs/license-detection/PLAN-044-filter-contained-matches-parity.md
  docs/license-detection/PLAN-050-nuget-spdx-pattern.md
  docs/license-detection/PLAN-051-hispan-reconstruction.md
  docs/license-detection/PLAN-052-required-phrases-filter.md
  docs/license-detection/PLAN-054-post-phase-merge.md
  docs/license-detection/PLAN-057-cddl-fix-regression-cleanup.md
  docs/license-detection/PLAN-058-lic2-duplicate-merge-regression.md
Due: none

docs: update plan status after verification, add investigation test
  docs/license-detection/PLAN-045-expression-selection-parity.md
  docs/license-detection/PLAN-055-expression-normalization.md
  docs/license-detection/PLAN-056-cddl-rule-selection-investigation.md
  docs/license-detection/PLAN-058-lic2-duplicate-merge-regression.md
  src/license_detection/duplicate_merge_investigation_test.rs
  src/license_detection/mod.rs
Due: fmt, clippy

docs: move PLAN-056 to improvements (stricter-surround-merge.md)
  docs/license-detection/improvements/stricter-surround-merge.md
Due: none

docs: delete PLAN-045 (superseded by stricter-surround-merge improvement)
  docs/license-detection/PLAN-045-expression-selection-parity.md
Due: none

docs: update PLAN-058 with preprocessing investigation findings
  docs/license-detection/PLAN-058-lic2-duplicate-merge-regression.md
Due: none

feat(license-detection): add preprocessing for source file escape sequences
  src/scanner/process.rs
  src/utils/text.rs
Due: fmt, clippy

docs: add and close PLAN-059 (not a CRLF issue)
  docs/license-detection/PLAN-059-crlf-line-ending-handling.md
Due: none
