Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

Recover overlapping unknown matches for parity (61->57)
  src/license_detection/index/builder/mod.rs
  src/license_detection/match_refine/filter_low_quality.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/models/license_match.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/tests.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

feat(arch): add alpm metadata parsers
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/models/package_type.rs
  src/parsers/arch.rs
  src/parsers/arch_golden_test.rs
  src/parsers/arch_test.rs
  src/parsers/mod.rs
  testdata/arch/golden/pkginfo-basic-expected.json
  testdata/arch/golden/srcinfo-basic-expected.json
  testdata/arch/pkginfo/basic/.PKGINFO
  testdata/arch/srcinfo/arch-specific/.SRCINFO
  testdata/arch/srcinfo/basic/.SRCINFO
  testdata/arch/srcinfo/legacy/.AURINFO
  testdata/arch/srcinfo/split/.SRCINFO
Due: fmt, clippy, generate-supported-formats

feat(assembly): account for arch datasources
  src/assembly/assemblers.rs
Due: fmt, clippy

docs(arch): record parser support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/arch-parser.md
Due: none

Snapshot whole-query near-dupe matching for parity (57->33)
  src/license_detection/mod.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/tests.rs
Due: fmt, clippy

feat(vcpkg): add manifest parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/models/package_type.rs
  src/parsers/mod.rs
  src/parsers/vcpkg.rs
  src/parsers/vcpkg_golden_test.rs
  src/parsers/vcpkg_test.rs
  testdata/vcpkg/golden/port-vcpkg-expected.json
  testdata/vcpkg/golden/project-vcpkg-expected.json
  testdata/vcpkg/port/vcpkg.json
  testdata/vcpkg/project/vcpkg.json
Due: fmt, clippy, generate-supported-formats

feat(assembly): account for vcpkg manifest datasource
  src/assembly/assemblers.rs
Due: fmt, clippy

docs(vcpkg): document manifest support split
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/vcpkg-parser.md
Due: none

feat(nuget): parse directory packages props
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/mod.rs
  src/parsers/nuget.rs
  src/parsers/nuget_golden_test.rs
  src/parsers/nuget_test.rs
  testdata/nuget-golden/central-package-management/Directory.Packages.props
  testdata/nuget-golden/central-package-management/Directory.Packages.props.expected.json
Due: fmt, clippy, generate-supported-formats

feat(assembly): mark CPM props as unassembled
  src/assembly/assemblers.rs
Due: fmt, clippy

docs(nuget): document standalone CPM parsing
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/nuget-parser.md
Due: none

Subtract long exact .LICENSE matches before seq (33->19)
  src/license_detection/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

feat(hex): add mix.lock parser
  src/models/datasource_id.rs
  src/models/package_type.rs
  src/parsers/hex_lock.rs
  src/parsers/hex_lock_golden_test.rs
  src/parsers/hex_lock_test.rs
  src/parsers/mod.rs
  testdata/hex/alias/mix.lock
  testdata/hex/basic/mix.lock
  testdata/hex/golden/mix.lock.expected.json
Due: fmt, clippy, generate-supported-formats

feat(assembly): mark hex lockfile as unassembled
  src/assembly/assemblers.rs
Due: fmt, clippy

docs(hex): document mix.lock support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/hex-lock-parser.md
Due: none

docs(parsers): reprioritize remaining backlog
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

Limit synthetic OpenJ9 notice recovery to uncovered blocks (19->18)
  src/license_detection/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

fix(renovate): disable dependency updates in fixture paths
  renovate.json
Due: none

feat(hackage): add package and datasource identifiers
  src/models/datasource_id.rs
  src/models/package_type.rs
Due: fmt, clippy

Remove Rust-only OpenJ9 matching shortcuts (18->18)
  src/license_detection/mod.rs
  src/license_detection/query/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

feat(hackage): add cabal and stack parsers
  docs/SUPPORTED_FORMATS.md
  src/parsers/hackage.rs
  src/parsers/hackage_golden_test.rs
  src/parsers/hackage_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(hackage): add parser fixtures
  testdata/hackage-golden/cabal-basic/example-hackage.cabal
  testdata/hackage-golden/cabal-basic/example-hackage.cabal.expected.json
  testdata/hackage-golden/project-basic/cabal.project
  testdata/hackage-golden/project-basic/cabal.project.expected.json
  testdata/hackage-golden/stack-basic/stack.yaml
  testdata/hackage-golden/stack-basic/stack.yaml.expected.json
Due: none

feat(assembly): add hackage sibling merge handling
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/hackage_merge.rs
  src/assembly/mod.rs
  testdata/assembly-golden/hackage-basic/aaa-example-hackage.cabal
  testdata/assembly-golden/hackage-basic/cabal.project
  testdata/assembly-golden/hackage-basic/expected.json
  testdata/assembly-golden/hackage-basic/stack.yaml
Due: fmt, clippy

test(nuget): isolate directory packages props fixtures
  src/parsers/nuget_test.rs
Due: fmt, clippy, generate-supported-formats

docs(hackage): record parser coverage and support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/hackage-parser.md
Due: none

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
