Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

test(hackage): add parser fixtures
  testdata/hackage-golden/cabal-basic/example-hackage.cabal
  testdata/hackage-golden/cabal-basic/example-hackage.cabal.expected.json
  testdata/hackage-golden/project-basic/cabal.project
  testdata/hackage-golden/project-basic/cabal.project.expected.json
  testdata/hackage-golden/stack-basic/stack.yaml
  testdata/hackage-golden/stack-basic/stack.yaml.expected.json
Due: none

feat(hackage): add cabal and stack parsers
  docs/SUPPORTED_FORMATS.md
  src/parsers/hackage.rs
  src/parsers/hackage_golden_test.rs
  src/parsers/hackage_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(nuget): isolate directory packages props fixtures
  src/parsers/nuget_test.rs
Due: fmt, clippy, generate-supported-formats

test(assembly): extract mod tests into sibling file
  src/assembly/assembly_test.rs
  src/assembly/mod.rs
Due: fmt, clippy

Use qspan-based coverage for unknown region splitting (18->18)
  src/license_detection/tests.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

Use qspan_bounds() for overlap filtering parity (18->18)
  SESSION.md
  src/license_detection/detection/grouping.rs
  src/license_detection/match_refine/handle_overlaps.rs
Due: fmt, clippy

Align candidate ranking with Python parity (18->17)
  SESSION.md
  src/license_detection/seq_match/candidates.rs
  src/license_detection/tests.rs
Due: fmt, clippy

refactor(assembly): centralize post-assembly registration
  src/assembly/assemblers.rs
  src/assembly/cargo_resource_assign.rs
  src/assembly/composer_resource_assign.rs
  src/assembly/conda_rootfs_merge.rs
  src/assembly/mod.rs
  src/assembly/npm_resource_assign.rs
  src/assembly/npm_workspace_merge.rs
  src/assembly/ruby_resource_assign.rs
Due: fmt, clippy

Fix archive extraction and seq-container parity (17->15)
  SESSION.md
  src/license_detection/mod.rs
  src/license_detection/tests.rs
  src/utils/file.rs
Due: fmt, clippy

chore(dev): streamline local cargo workflows
  .github/workflows/check.yml
  AGENTS.md
  README.md
  docs/TESTING_STRATEGY.md
  scripts/README.md
  scripts/cargo_isolated.sh
  scripts/dev.sh
  scripts/dev_test.sh
  setup.sh
Due: none

Reduce run fragmentation in long-line queries (15->14)
  SESSION.md
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
Due: fmt, clippy

feat(nuget): backfill versionless PackageReference from CPM
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/nuget-parser.md
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/mod.rs
  src/assembly/nuget_cpm_resolve.rs
  testdata/assembly-golden/nuget-cpm-nearest-ancestor/Directory.Packages.props
  testdata/assembly-golden/nuget-cpm-nearest-ancestor/expected.json
  testdata/assembly-golden/nuget-cpm-nearest-ancestor/src/Directory.Packages.props
  testdata/assembly-golden/nuget-cpm-nearest-ancestor/src/app/Contoso.Utility.csproj
Due: fmt, clippy

docs(parsers): demote remaining NuGet CPM follow-up
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/nuget-parser.md
Due: none

feat(nuget): preserve literal PackageReference VersionOverride metadata
  src/parsers/nuget.rs
  src/parsers/nuget_test.rs
  testdata/nuget-golden/package-reference/Contoso.Utility.csproj
  testdata/nuget-golden/package-reference/Contoso.Utility.csproj.expected
Due: fmt, clippy, generate-supported-formats

feat(assembly): honor bounded NuGet CPM VersionOverride
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/nuget_cpm_resolve.rs
  testdata/assembly-golden/nuget-cpm-version-override/Directory.Packages.props
  testdata/assembly-golden/nuget-cpm-version-override/expected.json
  testdata/assembly-golden/nuget-cpm-version-override/src/app/Contoso.Utility.csproj
Due: fmt, clippy

docs(nuget): narrow remaining CPM follow-up scope
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/nuget-parser.md
Due: none

Match Python approx-matchable indexing order (14->10)
  SESSION.md
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
  testdata/license-golden/datadriven/external/fossology-tests/Dual-license/aclocal.m4.yml
Due: fmt, clippy

Use Python qspan distance semantics in refine (10->8)
  SESSION.md
  src/license_detection/models/license_match.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/tests.rs
Due: fmt, clippy

chore(dev): remove local cargo wrapper scripts
  scripts/cargo_isolated.sh
  scripts/dev.sh
  scripts/dev_test.sh
Due: none

docs(dev): drop local wrapper workflow guidance
  README.md
  docs/TESTING_STRATEGY.md
  setup.sh
Due: none

feat(sbt): add bounded build.sbt parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/mod.rs
  src/parsers/sbt.rs
  src/parsers/sbt_test.rs
Due: fmt, clippy, generate-supported-formats

test(sbt): add parser golden fixtures
  src/parsers/sbt_golden_test.rs
  testdata/sbt-golden/fallback-and-skips/build.sbt
  testdata/sbt-golden/fallback-and-skips/build.sbt-expected.json
  testdata/sbt-golden/literal-root/build.sbt
  testdata/sbt-golden/literal-root/build.sbt-expected.json
Due: fmt, clippy, generate-supported-formats

docs(sbt): describe bounded build.sbt support
  docs/improvements/README.md
  docs/improvements/sbt-parser.md
Due: none

Keep Python raw wrappers and unknown splits (8->5)
  SESSION.md
  src/license_detection/match_refine/mod.rs
  src/license_detection/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

docs(parsers): record bounded SBT rollout
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  src/assembly/assemblers.rs
Due: fmt, clippy

chore(renovate): update excludeCommitPaths to prevent test data from triggering updates
  renovate.json
Due: none

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
