Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

fix: update golden test and add update script
  testdata/license-golden/datadriven/lic2/aes-128-3.0_and_bsd-new_and_bsd-original-uc_and_bsd-simplified_and_other.txt.yml
  testdata/license-golden/datadriven/lic4/hs-regexp_and_proprietary_and_x11-opengroup.txt.yml
  xtask/src/bin/update_license_golden.rs
Due: fmt, clippy

fix(tests): use controlled fixtures in loader tests instead of reference data
  src/license_detection/rules/loader.rs
Due: fmt, clippy

feat(nix): add static flake and derivation parsing
  docs/SUPPORTED_FORMATS.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/nix-parser.md
  src/assembly/assemblers.rs
  src/assembly/assembly_test.rs
  src/models/datasource_id.rs
  src/models/package_type.rs
  src/parsers/mod.rs
  src/parsers/nix.rs
  src/parsers/nix_golden_test.rs
  src/parsers/nix_test.rs
  testdata/nix-golden/default-demo/default.nix
  testdata/nix-golden/default-demo/default.nix.expected.json
  testdata/nix-golden/flake-demo/flake.nix
  testdata/nix-golden/flake-demo/flake.nix.expected.json
  testdata/nix-golden/lock-demo/flake.lock
  testdata/nix-golden/lock-demo/flake.lock.expected.json
Due: fmt, clippy, generate-supported-formats

perf(license-detection): add inverted index for O(1) candidate filtering
  docs/license-detection/improvements/inverted-index-candidate-filtering.md
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/mod.rs
  src/license_detection/seq_match/candidates.rs
  src/license_detection/seq_match/mod.rs
Due: fmt, clippy

Run unit tests in release mode for faster CI
  .github/workflows/check.yml
Due: none

Cache license detection engine in test modules
  src/license_detection/embedded_test.rs
  src/license_detection/tests.rs
Due: fmt, clippy

fix(ci): search both release and debug profiles for binary path
  tests/progress_cli_integration.rs
Due: fmt, clippy

fix(clippy): remove needless borrows in license detection tests
  src/license_detection/tests.rs
Due: fmt, clippy

refactor(tests): remove redundant golden-style unit tests from license_detection
  src/license_detection/tests.rs
Due: fmt, clippy

docs(plan): reprioritize Julia ahead of Guix
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

optimize: eliminate double tokenization and string allocation in Query
  src/license_detection/query/mod.rs
  src/license_detection/tokenize.rs
Due: fmt, clippy

fix: update SPDX LID tests to include required SPDX tokens in dictionary
  src/license_detection/spdx_lid/test.rs
Due: fmt, clippy

Add standardized benchmark script for performance evaluation
  AGENTS.md
  scripts/benchmark.sh
Due: none

docs: add maintainer release guide
  README.md
  docs/DOCUMENTATION_INDEX.md
  docs/RELEASING.md
Due: none

test(ci): namespace parser goldens and scope release shards
  .github/workflows/check.yml
  src/parsers/conda_golden_test.rs
  src/parsers/cran_golden_test.rs
  src/parsers/golden_test.rs
  src/parsers/mod.rs
  src/parsers/opam_golden_test.rs
Due: fmt, clippy, generate-supported-formats

fix(composer): normalize declared licenses from composer.json
  docs/improvements/README.md
  docs/improvements/composer-parser.md
  src/parsers/composer.rs
  src/parsers/composer_test.rs
  testdata/composer-golden/a-timer/composer.json.expected
Due: fmt, clippy, generate-supported-formats

refactor(parsers): share declared license normalization
  docs/ARCHITECTURE.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/adr/0002-extraction-vs-detection.md
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  src/parsers/about.rs
  src/parsers/about_test.rs
  src/parsers/alpine.rs
  src/parsers/cargo.rs
  src/parsers/cargo_test.rs
  src/parsers/composer.rs
  src/parsers/composer_test.rs
  src/parsers/cpan_dist_ini.rs
  src/parsers/cpan_dist_ini_test.rs
  src/parsers/debian.rs
  src/parsers/gradle.rs
  src/parsers/license_normalization.rs
  src/parsers/mod.rs
  src/parsers/npm.rs
  src/parsers/npm_test.rs
  src/parsers/python.rs
  src/parsers/python_test.rs
  testdata/about/apipkg.ABOUT.expected.json
  testdata/about/appdirs.ABOUT.expected.json
  testdata/assembly-golden/alpine-file-refs/expected.json
  testdata/cargo-golden/clap/Cargo.toml.expected
  testdata/cargo-golden/package/Cargo.toml.expected
  testdata/cargo-golden/publish-false/Cargo.toml.expected
  testdata/cargo-golden/rustup/Cargo.toml.expected
  testdata/cargo-golden/scan/Cargo.toml.expected
  testdata/cargo-golden/single-file-scan/Cargo.toml.expected
  testdata/npm-golden/authors_list_strings/package.json.expected
  testdata/npm-golden/casepath/package.json.expected
  testdata/npm-golden/chartist/package.json.expected
  testdata/npm-golden/dist/package.json.expected
  testdata/npm-golden/double_license/package.json.expected
  testdata/npm-golden/electron/package.json.expected
  testdata/npm-golden/from_npmjs/package.json.expected
Due: fmt, clippy, generate-supported-formats

test(golden): refresh parser and assembly expectations
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
  testdata/cpan/dist-ini/basic/dist.ini.expected.json
  testdata/debian/copyright/copyright.expected.json
  testdata/gradle-golden/groovy/groovy2/build.gradle-expected.json
  testdata/gradle-golden/kotlin/kotlin2/build.gradle.kts-expected.json
  testdata/python/golden/pyproject.toml-expected.json
Due: none

docs: close parser normalization plan
  docs/adr/0002-extraction-vs-detection.md
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/composer-parser.md
  docs/improvements/cpan-dist-ini-parser.md
Due: none

test: clarify ignored golden coverage
  src/parsers/ruby_golden_test.rs
  testdata/cocoapods-golden/README.md
  testdata/gradle-golden/README.md
  testdata/ruby-golden/README.md
  testdata/swift-golden/README.md
Due: fmt, clippy, generate-supported-formats

docs: clarify post-processing license boundaries
  docs/implementation-plans/post-processing/CONSOLIDATION_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
Due: none

docs: note key-file promotion follow-up
  docs/implementation-plans/post-processing/CONSOLIDATION_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
Due: none

test(index): unignore stale builder coverage
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy

test(index): unignore reference builder smoke test
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy

test(index): reenable URL variant coverage
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy

test(index): align URL variant assertions
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy
