Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs(go): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(scanner): classify Go test-only source files
  src/main.rs
  src/main_test.rs
  src/scanner/process.rs
Due: fmt, clippy

fix(scanner): preserve non-source file state
  src/main.rs
Due: fmt, clippy

test(go): add directive and graph goldens
  src/parsers/go_golden_test.rs
  testdata/go-golden/README.md
  testdata/go-golden/opencensus-service/go.mod
  testdata/go-golden/opencensus-service/go.mod.expected
  testdata/go-golden/sample-graph/go.mod.graph
  testdata/go-golden/sample-graph/go.mod.graph.expected
Due: fmt, clippy, generate-supported-formats

docs(go): add parser improvement note
  docs/improvements/go-parser.md
Due: none

test(assembly): cover Go graph merge behavior
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/go-graph-basic/expected.json
  testdata/assembly-golden/go-graph-basic/go.mod
  testdata/assembly-golden/go-graph-basic/go.mod.graph
  testdata/assembly-golden/go-graph-basic/go.sum
Due: fmt, clippy

docs(go): add summary table entry
  docs/improvements/README.md
Due: none

feat(go): add module graph parser support
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/go.rs
  src/parsers/go_mod_graph.rs
  src/parsers/go_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

fix(license_detection): resolve clippy warnings and dead code
  Cargo.toml
  src/bin/debug_license_detection.rs
  src/bin/test_single_file.rs
  src/license_detection/debug_pipeline.rs
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/grouping.rs
  src/license_detection/detection/identifier.rs
  src/license_detection/detection/mod.rs
  src/license_detection/expression/parse.rs
  src/license_detection/golden_test.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/mod.rs
  src/license_detection/models/license_match.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/seq_match/candidates.rs
  src/license_detection/unknown_match.rs
  src/main.rs
  src/utils/file_text.rs
  src/utils/mod.rs
  src/utils/sourcemap.rs
  src/utils/text.rs
  tests/scanner_integration.rs
Due: fmt, clippy

fix: remove tests for deleted PositionSpan methods
  src/license_detection/query/test.rs
Due: fmt, clippy

fix(gradle): resolve dependency scopes and aliases
  src/output/mod.rs
  src/parsers/gradle.rs
  src/parsers/maven.rs
  src/parsers/maven_test.rs
  testdata/gradle-golden/groovy/groovy2/build.gradle-expected.json
  testdata/gradle-golden/kotlin/kotlin2/build.gradle.kts-expected.json
Due: fmt, clippy, generate-supported-formats

docs(gradle): refresh golden fixture notes
  testdata/gradle-golden/README.md
Due: none

test(gradle): add catalog and compileOnly goldens
  src/parsers/gradle_golden_test.rs
  testdata/gradle-golden/groovy/compile-only/build.gradle
  testdata/gradle-golden/groovy/compile-only/build.gradle-expected.json
  testdata/gradle-golden/groovy/version-catalog/build.gradle
  testdata/gradle-golden/groovy/version-catalog/build.gradle-expected.json
  testdata/gradle-golden/groovy/version-catalog/gradle/libs.versions.toml
Due: fmt, clippy, generate-supported-formats

docs(gradle): update improvement notes
  docs/improvements/README.md
  docs/improvements/gradle-parser.md
Due: none

docs(gradle): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): record Gradle PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(maven): narrow template placeholder skip
  src/parsers/maven.rs
Due: fmt, clippy, generate-supported-formats

fix(license-detection): improve SPDX expression recovery parsing
  AGENTS.md
  src/license_detection/expression/simplify.rs
  src/license_detection/spdx_lid/mod.rs
Due: fmt, clippy

fix(ruby): resolve gemspec constants and runtime scope
  src/parsers/ruby.rs
  src/parsers/ruby_test.rs
  testdata/ruby/with_variables/lib/provider_dsl/gem_description.rb
  testdata/ruby/with_variables/with_variables.gemspec
Due: fmt, clippy, generate-supported-formats

test(ruby): add lockfile and constant goldens
  src/parsers/ruby_golden_test.rs
  testdata/ruby-golden/arel-gemspec/arel.gemspec.expected
  testdata/ruby-golden/gemfile-lock-git/Gemfile.lock
  testdata/ruby-golden/gemfile-lock-git/Gemfile.lock.expected
  testdata/ruby-golden/gemfile-lock-path/Gemfile.lock
  testdata/ruby-golden/gemfile-lock-path/Gemfile.lock.expected
  testdata/ruby-golden/with-variables/lib/provider_dsl/gem_description.rb
  testdata/ruby-golden/with-variables/with_variables.gemspec
  testdata/ruby-golden/with-variables/with_variables.gemspec.expected
Due: fmt, clippy, generate-supported-formats

feat(assembly): merge extracted Ruby gem metadata
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
  src/assembly/nested_merge.rs
  src/models/file_info.rs
  testdata/assembly-golden/ruby-extracted-basic/data.gz-extract/LICENSE.txt
  testdata/assembly-golden/ruby-extracted-basic/data.gz-extract/example.gemspec
  testdata/assembly-golden/ruby-extracted-basic/data.gz-extract/lib/example-gem.rb
  testdata/assembly-golden/ruby-extracted-basic/expected.json
  testdata/assembly-golden/ruby-extracted-basic/metadata.gz-extract
Due: fmt, clippy

docs(ruby): refresh golden fixture notes
  testdata/ruby-golden/README.md
Due: none

docs(ruby): update improvement notes
  docs/improvements/README.md
  docs/improvements/ruby-parser.md
Due: none

docs(ruby): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): record Ruby PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

test(assembly): dedupe Maven basic golden
  testdata/assembly-golden/maven-basic/expected.json
Due: none
