Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

fix: expand downstream parser audit
  src/assembly/sibling_merge.rs
  src/parsers/chef.rs
  src/parsers/conan.rs
  src/parsers/downstream_scan_test.rs
  src/parsers/python.rs
Due: fmt, clippy, generate-supported-formats

test: extend downstream parser audit
  src/parsers/downstream_scan_test.rs
Due: fmt, clippy, generate-supported-formats

test: audit downstream parser contracts
  docs/TESTING_STRATEGY.md
  src/assembly/assemblers.rs
  src/parsers/downstream_scan_test.rs
  src/parsers/mod.rs
  src/parsers/opam.rs
  testdata/opam/sample3/output.opam.expected
Due: fmt, clippy, generate-supported-formats

test: expand downstream parser audit
  docs/HOW_TO_ADD_A_PARSER.md
  docs/TESTING_STRATEGY.md
  src/parsers/downstream_scan_test.rs
Due: fmt, clippy, generate-supported-formats

test: split parser downstream audits
  docs/HOW_TO_ADD_A_PARSER.md
  docs/TESTING_STRATEGY.md
  src/assembly/assemblers.rs
  src/assembly/mod.rs
  src/parsers/arch_scan_test.rs
  src/parsers/bower_scan_test.rs
  src/parsers/cargo_scan_test.rs
  src/parsers/chef_scan_test.rs
  src/parsers/cocoapods_scan_test.rs
  src/parsers/composer_scan_test.rs
  src/parsers/conan_scan_test.rs
  src/parsers/conda_scan_test.rs
  src/parsers/cran_scan_test.rs
  src/parsers/dart_scan_test.rs
  src/parsers/deno_scan_test.rs
  src/parsers/downstream_scan_test.rs
  src/parsers/freebsd_scan_test.rs
  src/parsers/gitmodules_scan_test.rs
  src/parsers/go_scan_test.rs
  src/parsers/gradle_scan_test.rs
  src/parsers/hackage_scan_test.rs
  src/parsers/haxe_scan_test.rs
  src/parsers/helm_scan_test.rs
  src/parsers/maven_scan_test.rs
  src/parsers/mod.rs
  src/parsers/nix_scan_test.rs
  src/parsers/npm_scan_test.rs
  src/parsers/nuget_scan_test.rs
  src/parsers/opam_scan_test.rs
  src/parsers/pixi_scan_test.rs
  src/parsers/python_scan_test.rs
  src/parsers/rpm_db_scan_test.rs
  src/parsers/rpm_scan_test.rs
  src/parsers/ruby_scan_test.rs
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/vcpkg_scan_test.rs
  testdata/chef/basic/metadata.json.expected.json
  testdata/chef/basic/metadata.rb.expected.json
  testdata/chef/dependencies/metadata.rb.expected.json
  testdata/conan/recipes/libgettext/manifest/conanfile.py-expected.json
Due: fmt, clippy, generate-supported-formats

fix: align tally fixtures with package support
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/post_processing/golden_test.rs
  src/post_processing/test_utils.rs
Due: fmt, clippy

fix: activate localized tally parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/assembly/assemblers.rs
  src/license_detection/detection/mod.rs
  src/license_detection/tests.rs
  src/parsers/freebsd.rs
  src/parsers/freebsd_test.rs
  src/parsers/maven.rs
  src/parsers/maven_test.rs
  src/parsers/npm.rs
  src/parsers/npm_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/mod.rs
  src/post_processing/tallies_test.rs
  src/utils/language.rs
Due: fmt, clippy, generate-supported-formats

fix: align parser and assembly goldens
  src/assembly/npm_workspace_merge.rs
  src/parsers/maven.rs
  testdata/assembly-golden/maven-meta-inf-basic/expected.json
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
  testdata/freebsd/basic/+COMPACT_MANIFEST.expected.json
  testdata/freebsd/multi_license/+COMPACT_MANIFEST.expected.json
Due: fmt, clippy, generate-supported-formats

docs: restore unassembled datasource comment
  src/assembly/assemblers.rs
Due: fmt, clippy

fix: keep WITH expressions ambiguous in summary score
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
Due: fmt, clippy

docs: narrow improvement docs to true beyond-parity claims
  docs/improvements/README.md
  docs/improvements/about-parser.md
  docs/improvements/alpine-parser.md
  docs/improvements/bun-lock-parser.md
  docs/improvements/cargo-parser.md
  docs/improvements/clojure-parser.md
  docs/improvements/cocoapods-parser.md
  docs/improvements/composer-parser.md
  docs/improvements/copyright-detection.md
  docs/improvements/email-url-detection.md
  docs/improvements/go-parser.md
  docs/improvements/go-work-parser.md
  docs/improvements/hackage-parser.md
  docs/improvements/helm-parser.md
  docs/improvements/hex-lock-parser.md
  docs/improvements/maven-parser.md
  docs/improvements/meson-parser.md
  docs/improvements/nix-parser.md
  docs/improvements/npm-workspace-parser.md
  docs/improvements/npm-yarn-parser.md
  docs/improvements/pixi-parser.md
  docs/improvements/ruby-parser.md
  docs/improvements/sbt-parser.md
  docs/improvements/summarization-foundations.md
  docs/improvements/swift-show-dependencies-parser.md
  docs/improvements/uv-lock-parser.md
  docs/improvements/vcpkg-parser.md
Due: none

fix: skip CPM support file hoisting
  src/assembly/mod.rs
Due: fmt, clippy

fix: simplify equivalent license expressions
  docs/ARCHITECTURE.md
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/license_detection/detection/analysis.rs
  src/license_detection/expression/simplify.rs
  src/parsers/license_normalization.rs
  src/post_processing/summary_test.rs
  src/utils/spdx.rs
  testdata/summarycode-golden/summary/conflicting_license_categories/conflicting_license_categories.expected.json
  testdata/summarycode-golden/summary/holders/clear_holder.expected.json
  testdata/summarycode-golden/summary/holders/combined_holders.expected.json
  testdata/summarycode-golden/summary/license_ambiguity/ambiguous.expected.json
  testdata/summarycode-golden/summary/license_ambiguity/unambiguous.expected.json
  testdata/summarycode-golden/summary/multiple_package_data/multiple_package_data.expected.json
  testdata/summarycode-golden/summary/with_package_data/with_package_data.expected.json
  testdata/summarycode-golden/summary/without_package_data/without_package_data.expected.json
Due: fmt, clippy, generate-supported-formats

chore: release v0.0.7
  Cargo.lock
  Cargo.toml
  xtask/Cargo.lock
Due: none

docs: tighten AGENTS testing guidance
  AGENTS.md
Due: none

fix: stabilize summary license expression order
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  testdata/summarycode-golden/summary/conflicting_license_categories/conflicting_license_categories.expected.json
  testdata/summarycode-golden/summary/holders/clear_holder.expected.json
  testdata/summarycode-golden/summary/holders/combined_holders.expected.json
  testdata/summarycode-golden/summary/license_ambiguity/ambiguous.expected.json
  testdata/summarycode-golden/summary/license_ambiguity/unambiguous.expected.json
  testdata/summarycode-golden/summary/multiple_package_data/multiple_package_data.expected.json
  testdata/summarycode-golden/summary/without_package_data/without_package_data.expected.json
Due: fmt, clippy

style: format expected testdata snapshots
  .prettierignore
  testdata/summarycode-golden/classify/cli.expected.json
  testdata/summarycode-golden/classify/with_package_data.expected.json
  testdata/summarycode-golden/facet/cli.expected.json
  testdata/summarycode-golden/generated/cli.expected.json
  testdata/summarycode-golden/score/basic-expected.json
  testdata/summarycode-golden/score/inconsistent_licenses_copyleft-expected.json
  testdata/summarycode-golden/score/jar-expected.json
  testdata/summarycode-golden/score/no_license_ambiguity-expected.json
  testdata/summarycode-golden/score/no_license_or_copyright-expected.json
  testdata/summarycode-golden/score/no_license_text-expected.json
  testdata/summarycode-golden/summary/embedded_packages/bunkerweb.expected.json
  testdata/summarycode-golden/summary/end-2-end/bug-1141.expected.json
  testdata/summarycode-golden/summary/single_file/single_file.expected.json
  testdata/summarycode-golden/summary/summary_without_holder/summary-without-holder-pypi.expected.json
  testdata/summarycode-golden/summary/use_holder_from_package_resource/use_holder_from_package_resource.expected.json
  testdata/summarycode-golden/summary/with_package_data/with_package_data.expected.json
  testdata/summarycode-golden/tallies/copyright_tallies/tallies.expected.json
  testdata/summarycode-golden/tallies/copyright_tallies/tallies2.expected.json
  testdata/summarycode-golden/tallies/copyright_tallies/tallies_details.expected.json
  testdata/summarycode-golden/tallies/copyright_tallies/tallies_key_files.expected.json
  testdata/summarycode-golden/tallies/end-2-end/bug-1141.expected.json
  testdata/summarycode-golden/tallies/full_tallies/tallies.expected.json
  testdata/summarycode-golden/tallies/full_tallies/tallies_by_facet.expected.json
  testdata/summarycode-golden/tallies/full_tallies/tallies_details.expected.json
  testdata/summarycode-golden/tallies/full_tallies/tallies_key_files.expected.json
  testdata/summarycode-golden/tallies/packages/expected.json
Due: none

docs: clarify Windows contributor setup path
  README.md
  docs/HOW_TO_ADD_A_PARSER.md
Due: none
