Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs(npm): refresh parser golden suite status
  testdata/npm-golden/README.md
Due: none

test(npm): align scoped purl expectations
  src/parsers/npm_test.rs
  testdata/assembly-golden/npm-workspace/expected.json
Due: fmt, clippy, generate-supported-formats

fix(assembly): stabilize npm workspace membership
  src/assembly/workspace_merge.rs
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
Due: fmt, clippy

docs(parser-enhancements): document cross-ecosystem golden cleanup
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(npm): preserve overrides and normalize metadata
  src/parsers/npm.rs
  src/parsers/npm_test.rs
Due: fmt, clippy, generate-supported-formats

fix(gradle): restore ignored groovy parser goldens
  docs/improvements/gradle-parser.md
  src/parsers/gradle.rs
  src/parsers/gradle_golden_test.rs
  testdata/gradle-golden/README.md
Due: fmt, clippy, generate-supported-formats

test(npm): re-enable parser-level golden cases
  src/parsers/npm_golden_test.rs
  testdata/npm-golden/README.md
Due: fmt, clippy, generate-supported-formats

fix(cocoapods): restore podspec parser golden coverage
  src/parsers/cocoapods_golden_test.rs
  src/parsers/podfile_lock.rs
  src/parsers/podspec.rs
  src/parsers/podspec_json.rs
  testdata/cocoapods-golden/assemble/solo/Podfile-package-only-expected.json
  testdata/cocoapods-golden/assemble/solo/RxDataSources-package-only.podspec-expected.json
  testdata/cocoapods-golden/podspec.json/FirebaseAnalytics.podspec.json.expected.json
  testdata/cocoapods-golden/podspec/BadgeHub.podspec.expected.json
  testdata/cocoapods-golden/podspec/RxDataSources.podspec.expected.json
  testdata/cocoapods-golden/podspec/Starscream.podspec.expected.json
  testdata/cocoapods-golden/podspec/nanopb.podspec.expected.json
Due: fmt, clippy, generate-supported-formats

test(assembly): cover nested npm package ownership
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/npm-nested-packages/.pnp.cjs
  testdata/assembly-golden/npm-nested-packages/expected.json
  testdata/assembly-golden/npm-nested-packages/index.js
  testdata/assembly-golden/npm-nested-packages/package.json
Due: fmt, clippy

feat(nuget): parse project-style manifests
  docs/SUPPORTED_FORMATS.md
  src/lib.rs
  src/models/datasource_id.rs
  src/parsers/mod.rs
  src/parsers/nuget.rs
Due: fmt, clippy, generate-supported-formats

test(nuget): cover modern manifest regressions
  src/parsers/nuget_test.rs
Due: fmt, clippy, generate-supported-formats

test(nuget): add modern nuspec golden fixture
  src/parsers/nuget_golden_test.rs
  testdata/nuget-golden/fizzler/Fizzler.nuspec
  testdata/nuget-golden/fizzler/Fizzler.nuspec.expected
Due: fmt, clippy, generate-supported-formats

test(nuget): add legacy project.json golden fixture
  src/parsers/nuget_golden_test.rs
  testdata/nuget-golden/legacy-project-json/project.json
  testdata/nuget-golden/legacy-project-json/project.json.expected
Due: fmt, clippy, generate-supported-formats

test(nuget): add PackageReference golden fixture
  src/parsers/nuget_golden_test.rs
  testdata/nuget-golden/package-reference/Contoso.Utility.csproj
  testdata/nuget-golden/package-reference/Contoso.Utility.csproj.expected
Due: fmt, clippy, generate-supported-formats

test(nuget): refresh legacy parser goldens
  testdata/nuget-golden/aspnet-mvc/Microsoft.AspNet.Mvc.nuspec.expected
  testdata/nuget-golden/bootstrap/bootstrap.nuspec.expected
  testdata/nuget-golden/castle-core/Castle.Core.nuspec.expected
  testdata/nuget-golden/entity-framework/EntityFramework.nuspec.expected
  testdata/nuget-golden/jquery-ui/jQuery.UI.Combined.nuspec.expected
  testdata/nuget-golden/net-http/Microsoft.Net.Http.nuspec.expected
Due: none

test(assembly): cover NuGet sibling merge
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/nuget-basic/Contoso.Utility.csproj
  testdata/assembly-golden/nuget-basic/expected.json
  testdata/assembly-golden/nuget-basic/packages.config
Due: fmt, clippy

docs(nuget): refresh parser fixture notes
  testdata/nuget-golden/README.md
Due: none

docs(nuget): update parser enhancement plans
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs(nuget): document expanded manifest support
  docs/improvements/README.md
  docs/improvements/nuget-parser.md
Due: none

WIP: Re-enable query runs with Python's text_line_threshold=15
  src/license_detection/query/mod.rs
Due: fmt, clippy

fix(rpm): enrich archive and installed metadata
  src/parsers/rpm_db.rs
  src/parsers/rpm_parser.rs
Due: fmt, clippy, generate-supported-formats

build(rpm): register yumdb metadata support
  docs/SUPPORTED_FORMATS.md
  src/lib.rs
  src/models/datasource_id.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

docs(rpm): update parser enhancement plans
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs(rpm): refresh improvement notes
  docs/improvements/README.md
  docs/improvements/rpm-parser.md
Due: none

docs(plan): align parser enhancement tracker with PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

test(rpm): add source RPM parser golden
  src/parsers/rpm_golden_test.rs
  testdata/rpm/setup-2.5.49-b1.src.rpm.expected.json
Due: fmt, clippy, generate-supported-formats

feat(rpm): merge yumdb metadata into installed packages
  src/assembly/assemblers.rs
  src/assembly/file_ref_resolve.rs
  src/assembly/mod.rs
  src/parsers/rpm_yumdb.rs
Due: fmt, clippy, generate-supported-formats
