Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

fix(npm): restore parser parity for registry manifests
  src/parsers/npm.rs
  src/parsers/npm_test.rs
Due: fmt, clippy, generate-supported-formats

build(npm): preserve manifest dependency order
  Cargo.lock
  Cargo.toml
Due: none

test(npm): align scoped purl expectations
  src/parsers/npm_test.rs
  testdata/assembly-golden/npm-workspace/expected.json
Due: fmt, clippy, generate-supported-formats

test(assembly): normalize nested Maven golden ordering
  testdata/assembly-golden/maven-meta-inf-basic/expected.json
Due: none

test(golden): normalize parser-only fixture comparisons
  src/test_utils.rs
Due: fmt, clippy

fix(swift): restore show-dependencies parser goldens
  src/parsers/swift_golden_test.rs
  src/parsers/swift_show_dependencies.rs
  src/parsers/swift_show_dependencies_test.rs
  testdata/swift-golden/swift-fastlane-resolved-v1-parse-expected.json
  testdata/swift-golden/swift-maboxmaps-resolved-parse-expected.json
  testdata/swift-golden/swift-vercelui-resolved-parse-expected.json
Due: fmt, clippy, generate-supported-formats

fix(gradle): restore ignored groovy parser goldens
  docs/improvements/gradle-parser.md
  src/parsers/gradle.rs
  src/parsers/gradle_golden_test.rs
  testdata/gradle-golden/README.md
Due: fmt, clippy, generate-supported-formats

fix(cocoapods): restore podspec parser golden coverage
  src/parsers/cocoapods_golden_test.rs
  src/parsers/podfile_lock.rs
  src/parsers/podspec.rs
  src/parsers/podspec_json.rs
  testdata/cocoapods-golden/assemble/solo/Podfile-package-only-expected.json
  testdata/cocoapods-golden/assemble/solo/RxDataSources-package-only.podspec-expected.json
  testdata/cocoapods-golden/podspec.json/FirebaseAnalytics.podspec.json.expected.json
  testdata/cocoapods-golden/podspec/BadgeHub.podspec.expected.json
  testdata/cocoapods-golden/podspec/RxDataSources.podspec.expected.json
  testdata/cocoapods-golden/podspec/Starscream.podspec.expected.json
  testdata/cocoapods-golden/podspec/nanopb.podspec.expected.json
Due: fmt, clippy, generate-supported-formats

fix(ruby): restore gemspec parser golden coverage
  docs/improvements/ruby-parser.md
  src/parsers/ruby.rs
  src/parsers/ruby_golden_test.rs
  src/parsers/ruby_test.rs
  testdata/ruby-golden/README.md
  testdata/ruby-golden/arel-gemspec/arel.gemspec.expected
Due: fmt, clippy, generate-supported-formats

fix(cran): restore flattened-author parser goldens
  src/parsers/cran.rs
  src/parsers/cran_golden_test.rs
  testdata/cran/codetools/expected.json
  testdata/cran/geometry/expected.json
  testdata/cran/package/expected.json
Due: fmt, clippy, generate-supported-formats

docs(parser-enhancements): document cross-ecosystem golden cleanup
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(assembly): harden npm sibling package merging
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  testdata/assembly-golden/npm-basic/expected.json
Due: fmt, clippy

fix(npm-lock): preserve non-version dependency specs
  src/parsers/npm_lock.rs
  src/parsers/npm_lock_test.rs
Due: fmt, clippy, generate-supported-formats

docs(improvements): add npm and yarn parser notes
  docs/improvements/README.md
  docs/improvements/npm-yarn-parser.md
Due: none

test(npm): restore full parser golden coverage
  src/parsers/npm_golden_test.rs
  testdata/npm-golden/casepath/package.json.expected
  testdata/npm-golden/electron/package.json
  testdata/npm-golden/electron/package.json.expected
Due: fmt, clippy, generate-supported-formats

test(npm): track dist golden fixtures
  testdata/npm-golden/dist/package.json
  testdata/npm-golden/dist/package.json.expected
Due: none

docs(implementation-plans): capture parser enhancement workflow learnings
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

test(fixtures): unignore repository testdata inputs
  .gitignore
Due: none

test(assembly): refresh stable ordering snapshots
  testdata/assembly-golden/alpine-file-refs/expected.json
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/cargo-workspace/expected.json
  testdata/assembly-golden/composer-basic/expected.json
  testdata/assembly-golden/go-basic/expected.json
  testdata/assembly-golden/maven-basic/expected.json
Due: none

fix(assembly): validate npm manifest lock identity
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
Due: fmt, clippy

fix(assembly): sort output without uuid noise
  src/assembly/mod.rs
Due: fmt, clippy

test(copyright): track missing ics config fixtures
  testdata/copyright-golden/ics/bison/config.log
  testdata/copyright-golden/ics/srtp/config.log
  testdata/copyright-golden/ics/strace/config.log
Due: none

test(assembly): assert npm nested fixture inputs
  src/assembly/assembly_golden_test.rs
Due: fmt, clippy

test(assembly): track npm nested fixture files
  .gitignore
  testdata/assembly-golden/npm-nested-packages/node_modules/child/index.js
  testdata/assembly-golden/npm-nested-packages/node_modules/child/node_modules/grand/index.js
  testdata/assembly-golden/npm-nested-packages/node_modules/child/node_modules/grand/package.json
  testdata/assembly-golden/npm-nested-packages/node_modules/child/package.json
Due: none

docs(parser-enhancements): reduce volatile file references
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/npm-yarn-parser.md
Due: none

fix(yarn): infer dependency scope from sibling manifests
  src/parsers/yarn_lock.rs
  src/parsers/yarn_lock_test.rs
Due: fmt, clippy, generate-supported-formats
