Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

test(index): unignore reference builder smoke test
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy

test(index): unignore stale builder coverage
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy

test(index): align URL variant assertions
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy

test(index): reenable URL variant coverage
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
Due: fmt, clippy

test: remove final ignored coverage
  src/parsers/debian.rs
  src/parsers/ruby_golden_test.rs
  testdata/ruby-golden/README.md
  testdata/ruby-golden/oj-gemspec/oj.gemspec.expected
  testdata/ruby-golden/rubocop-gemspec/rubocop.gemspec.expected
Due: fmt, clippy, generate-supported-formats

docs: align implementation plans with current roadmap
  docs/ARCHITECTURE.md
  docs/DOCUMENTATION_INDEX.md
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/infrastructure/PLUGIN_SYSTEM_PLAN.md
  docs/implementation-plans/infrastructure/PROGRESS_TRACKING_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
  docs/implementation-plans/post-processing/CONSOLIDATION_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/implementation-plans/text-detection/COPYRIGHT_DETECTION_PLAN.md
  docs/implementation-plans/text-detection/EMAIL_URL_DETECTION_PLAN.md
Due: none

fix: keep key-file license clues out of package provenance
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: add top-level summary tallies
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/ruby-parser.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  tests/output_format_golden.rs
Due: fmt, clippy

feat: add key-file summary tallies
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  tests/output_format_golden.rs
Due: fmt, clippy

feat: add detailed summary tallies
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/output.rs
  src/output/mod.rs
  src/scanner/process.rs
  tests/output_format_golden.rs
Due: fmt, clippy

refactor(scanner): parallelize all files at once instead of per-directory
  src/lib.rs
  src/main.rs
  src/main_test.rs
  src/scanner/collect.rs
  src/scanner/count.rs
  src/scanner/mod.rs
  src/scanner/process.rs
  tests/scanner_copyright_credits.rs
  tests/scanner_integration.rs
Due: fmt, clippy

feat: add facet-based summary tallies
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/cli.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  src/scanner/process.rs
  tests/output_format_golden.rs
Due: fmt, clippy

docs: update summarization facet roadmap
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat(cli): add --license/-l flag to make license detection opt-in
  README.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  src/cli.rs
  src/main.rs
Due: fmt, clippy

feat: expand summary origin and clarity scoring
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/output.rs
  src/output/mod.rs
  src/scanner/process.rs
Due: fmt, clippy

docs: record summary scoring progress
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

perf(license_detection): compute matched_text lazily
  src/license_detection/aho_match.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine/filter_low_quality.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/seq_match/mod.rs
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/tests.rs
  src/license_detection/unknown_match.rs
  src/scanner/process.rs
Due: fmt, clippy

feat: add generated summary gating
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve.rs
  src/cli.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/scanner/process.rs
Due: fmt, clippy

docs: update generated gating roadmap
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat: expand summary score parity
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

docs: record summary score parity progress
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat: extend summary score fixture parity
  src/main.rs
  src/main_test.rs
  src/models/output.rs
  src/output/mod.rs
Due: fmt, clippy

docs: record summary edgecase parity progress
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
Due: none

feat: broaden classify fixture parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: broaden score fixture parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: add package-data classify parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

Optimize copyright detection by memoizing prepare_text_line calls
  src/copyright/detector.rs
  src/copyright/detector_author_heuristics.rs
  src/copyright/detector_postprocess_phase.rs
  src/copyright/detector_primary_phase.rs
  src/copyright/detector_test.rs
  src/copyright/line_tracking.rs
Due: fmt, clippy

Replace raw_lines.join with zero-allocation contains_ci helper
  src/copyright/detector.rs
  src/copyright/detector_author_heuristics.rs
  src/copyright/line_tracking.rs
Due: fmt, clippy

feat: complete active score fixture parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

feat: complete active generated classify parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/improvements/summarization-foundations.md
  src/main.rs
  src/main_test.rs
Due: fmt, clippy

Remove raw_lines parameter from functions that don't need it
  src/copyright/detector.rs
  src/copyright/detector_author_heuristics.rs
  src/copyright/detector_postprocess_phase.rs
  src/copyright/detector_primary_phase.rs
  src/copyright/detector_test.rs
Due: fmt, clippy

Simplify get_by_index pattern with let-else
  src/copyright/detector.rs
  src/copyright/detector_author_heuristics.rs
Due: fmt, clippy
