Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs: rename NEXT_PHASE_PLAN to PARSER_PARITY_PLAN and move to implementation-plans/
  docs/implementation-plans/package-detection/PARSER_PARITY_PLAN.md
Due: none

docs: add implementation plans for all major architectural components
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CACHING_PLAN.md
  docs/implementation-plans/infrastructure/PLUGIN_SYSTEM_PLAN.md
  docs/implementation-plans/infrastructure/PROGRESS_TRACKING_PLAN.md
  docs/implementation-plans/output/OUTPUT_FORMATS_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_DOCUMENTATION_INDEX.md
  docs/implementation-plans/package-detection/ASSEMBLY_IMPLEMENTATION_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_PARITY_ROADMAP.md
  docs/implementation-plans/package-detection/ASSEMBLY_QUICK_REFERENCE.md
  docs/implementation-plans/package-detection/CONSOLIDATION_PLAN.md
  docs/implementation-plans/package-detection/PYTHON_ASSEMBLERS_DETAILED.md
  docs/implementation-plans/package-detection/PYTHON_ASSEMBLERS_SUMMARY.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/implementation-plans/text-detection/COPYRIGHT_DETECTION_PLAN.md
  docs/implementation-plans/text-detection/EMAIL_URL_DETECTION_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
Due: none

docs: add system architecture overview and future roadmap to ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

docs: clarify README/ARCHITECTURE boundary and add documentation index
  README.md
  docs/DOCUMENTATION_INDEX.md
Due: none

fix: add missing test data files for NSIS and InstallShield recognizers
  .gitignore
  testdata/misc/test_nsis.exe
  testdata/misc/test_zip.exe
Due: none

feat: add magic byte detection and 4 new file-type recognizers
  docs/SUPPORTED_FORMATS.md
  src/parsers/misc.rs
  src/parsers/misc_test.rs
  src/parsers/mod.rs
  src/utils/magic.rs
  src/utils/mod.rs
  testdata/misc/test.squashfs
  testdata/misc/test_alpine.apk
  testdata/misc/test_android.apk
Due: fmt, clippy, generate-supported-formats

feat: add repository URLs and metadata to Cargo and Maven parsers
  src/parsers/cargo.rs
  src/parsers/cargo_test.rs
  src/parsers/maven.rs
  src/parsers/maven_test.rs
Due: fmt, clippy, generate-supported-formats

test: add 14 golden tests for README parser from Python reference data
  src/parsers/mod.rs
  src/parsers/readme_golden_test.rs
  testdata/readme-golden/android/basic/README.android
  testdata/readme-golden/android/basic/README.android.expected.json
  testdata/readme-golden/chromium/basic/README.chromium
  testdata/readme-golden/chromium/basic/README.chromium.expected.json
  testdata/readme-golden/facebook/basic/README.facebook
  testdata/readme-golden/facebook/basic/README.facebook.expected.json
  testdata/readme-golden/facebook/capital-filename/README.FACEBOOK
  testdata/readme-golden/facebook/capital-filename/README.FACEBOOK.expected.json
  testdata/readme-golden/facebook/download-link-as-download_url/README.facebook
  testdata/readme-golden/facebook/download-link-as-download_url/README.facebook.expected.json
  testdata/readme-golden/facebook/downloaded-from-as-download_url/README.facebook
  testdata/readme-golden/facebook/downloaded-from-as-download_url/README.facebook.expected.json
  testdata/readme-golden/facebook/missing-type/README.facebook
  testdata/readme-golden/facebook/missing-type/README.facebook.expected.json
  testdata/readme-golden/facebook/project-as-name/README.facebook
  testdata/readme-golden/facebook/project-as-name/README.facebook.expected.json
  testdata/readme-golden/facebook/repo-as-homepage_url/README.facebook
  testdata/readme-golden/facebook/repo-as-homepage_url/README.facebook.expected.json
  testdata/readme-golden/facebook/source-as-homepage_url/README.facebook
  testdata/readme-golden/facebook/source-as-homepage_url/README.facebook.expected.json
  testdata/readme-golden/facebook/use-parent-dir-name-as-package-name/setuptools/README.facebook
  testdata/readme-golden/facebook/use-parent-dir-name-as-package-name/setuptools/README.facebook.expected.json
  testdata/readme-golden/facebook/website-as-homepage_url/README.facebook
  testdata/readme-golden/facebook/website-as-homepage_url/README.facebook.expected.json
  testdata/readme-golden/google/basic/README.google
  testdata/readme-golden/google/basic/README.google.expected.json
  testdata/readme-golden/thirdparty/basic/README.thirdparty
  testdata/readme-golden/thirdparty/basic/README.thirdparty.expected.json
Due: fmt, clippy, generate-supported-formats

test: add 11 golden tests for Cargo and Maven parsers
  src/parsers/cargo_golden_test.rs
  src/parsers/maven_golden_test.rs
  testdata/cargo-golden/clap/Cargo.toml.expected
  testdata/cargo-golden/clap/expected.json
  testdata/cargo-golden/package/Cargo.toml.expected
  testdata/cargo-golden/rustup/Cargo.toml.expected
  testdata/cargo-golden/scan/Cargo.toml.expected
  testdata/cargo-golden/single-file-scan/Cargo.toml.expected
  testdata/cargo-golden/tauri/Cargo.toml.expected
  testdata/maven-golden/basic/pom.xml.expected
  testdata/maven-golden/commons-fileupload/pom.xml
  testdata/maven-golden/commons-fileupload/pom.xml.expected
  testdata/maven-golden/jrecordbind/pom.xml
  testdata/maven-golden/jrecordbind/pom.xml.expected
  testdata/maven-golden/logback-access/pom.xml
  testdata/maven-golden/logback-access/pom.xml.expected
  testdata/maven-golden/spring/pom.xml
  testdata/maven-golden/spring/pom.xml.expected
Due: fmt, clippy, generate-supported-formats

docs: fix markdown lint errors in improvement docs
  docs/improvements/conan-data-parser.md
  docs/improvements/cpan-dist-ini-parser.md
  docs/improvements/cpan-makefile-pl-parser.md
  docs/improvements/cpan-parser.md
  docs/improvements/os-release-parser.md
  docs/improvements/osgi-manifest-parser.md
  docs/improvements/rpm-specfile-parser.md
  docs/improvements/swift-show-dependencies-parser.md
Due: none

refactor(parsers): separate parsers and recognizers in registration macro
  bin/generate_test_expected.rs
  docs/ARCHITECTURE.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/implementation-plans/infrastructure/PLUGIN_SYSTEM_PLAN.md
  docs/implementation-plans/package-detection/PARSER_PARITY_PLAN.md
  src/parsers/mod.rs
  tests/scanner_integration.rs
Due: fmt, clippy, generate-supported-formats

fix(parsers): add missing datasource_id to lockfile and metadata parsers
  src/parsers/chef.rs
  src/parsers/conan.rs
  src/parsers/npm_lock.rs
  src/parsers/npm_workspace.rs
  src/parsers/pnpm_lock.rs
  src/parsers/yarn_lock.rs
Due: fmt, clippy, generate-supported-formats

feat: implement package assembly Phase 1 (sibling-merge)
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  src/cli.rs
  src/lib.rs
  src/main.rs
  src/models/file_info.rs
  src/models/mod.rs
  src/models/output.rs
  src/scanner/process.rs
  testdata/assembly-golden/README.md
  testdata/assembly-golden/cargo-basic/Cargo.lock
  testdata/assembly-golden/cargo-basic/Cargo.toml
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/composer-basic/composer.json
  testdata/assembly-golden/composer-basic/composer.lock
  testdata/assembly-golden/composer-basic/expected.json
  testdata/assembly-golden/go-basic/expected.json
  testdata/assembly-golden/go-basic/go.mod
  testdata/assembly-golden/go-basic/go.sum
  testdata/assembly-golden/npm-basic/expected.json
  testdata/assembly-golden/npm-basic/package-lock.json
  testdata/assembly-golden/npm-basic/package.json
Due: fmt, clippy

docs: add assembly documentation and implementation plans
  README.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_IMPLEMENTATION_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_IMPLEMENTATION_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_PARITY_ROADMAP.md
  testdata/assembly-golden/README.md
Due: none

test(assembly): add Maven golden test and update test framework
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/maven-basic/META-INF/MANIFEST.MF
  testdata/assembly-golden/maven-basic/expected.json
  testdata/assembly-golden/maven-basic/pom.xml
Due: fmt, clippy

docs: update documentation for DatasourceId enum and assembly Phase 2
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/ASSEMBLY_IMPLEMENTATION_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_PARITY_ROADMAP.md
  docs/implementation-plans/package-detection/PHASE2_NESTED_MERGE_DESIGN.md
Due: none

docs: consolidate implementation plans and make documentation index evergreen
  docs/DOCUMENTATION_INDEX.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_IMPLEMENTATION_PLAN.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_DOCUMENTATION_INDEX.md
  docs/implementation-plans/package-detection/ASSEMBLY_IMPLEMENTATION_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_PARITY_ROADMAP.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
  docs/implementation-plans/package-detection/ASSEMBLY_QUICK_REFERENCE.md
  docs/implementation-plans/package-detection/CONSOLIDATION_PLAN.md
  docs/implementation-plans/package-detection/PARSER_PARITY_PLAN.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/implementation-plans/package-detection/PHASE2_NESTED_MERGE_DESIGN.md
  docs/implementation-plans/package-detection/PYTHON_ASSEMBLERS_DETAILED.md
  docs/implementation-plans/package-detection/PYTHON_ASSEMBLERS_SUMMARY.md
  docs/implementation-plans/post-processing/CONSOLIDATION_PLAN.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
Due: none

feat(assembly): implement npm/pnpm workspace assembly
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
  src/assembly/workspace_merge.rs
  src/parsers/npm.rs
  src/parsers/npm_test.rs
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/npm-workspace/package.json
  testdata/assembly-golden/npm-workspace/packages/core/package.json
  testdata/assembly-golden/npm-workspace/packages/utils/package.json
  testdata/assembly-golden/pnpm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/package.json
  testdata/assembly-golden/pnpm-workspace/packages/app/package.json
  testdata/assembly-golden/pnpm-workspace/pnpm-workspace.yaml
Due: fmt, clippy, generate-supported-formats

docs: update documentation for npm/pnpm workspace assembly
  docs/ARCHITECTURE.md
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
  docs/improvements/README.md
  docs/improvements/npm-workspace-parser.md
Due: none

fix(alpine): replace rfc822 parser with case-sensitive key parser
  src/parsers/alpine.rs
  testdata/alpine/lib/apk/db/installed.expected.json
Due: fmt, clippy, generate-supported-formats

feat(assembly): implement file reference resolution for database packages
  docs/ARCHITECTURE.md
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
  src/assembly/assembly_golden_test.rs
  src/assembly/file_ref_resolve.rs
  src/assembly/mod.rs
  src/models/file_info.rs
  src/parsers/rpm_db.rs
  testdata/assembly-golden/alpine-file-refs/etc/securetty
  testdata/assembly-golden/alpine-file-refs/expected.json
  testdata/assembly-golden/alpine-file-refs/lib/apk/db/installed
  testdata/assembly-golden/alpine-file-refs/usr/lib/libc.so
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/composer-basic/expected.json
  testdata/assembly-golden/go-basic/expected.json
  testdata/assembly-golden/maven-basic/expected.json
  testdata/assembly-golden/npm-basic/expected.json
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
Due: fmt, clippy, generate-supported-formats

feat(debian): add extracted control file parser for ExtractCode compatibility
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/assembly/cargo_workspace_merge.rs
  src/models/datasource_id.rs
  src/parsers/debian.rs
  src/parsers/debian_test.rs
  src/parsers/mod.rs
  testdata/assembly-golden/cargo-workspace/Cargo.toml
  testdata/assembly-golden/cargo-workspace/crates/cli/Cargo.toml
  testdata/assembly-golden/cargo-workspace/crates/core/Cargo.toml
  testdata/assembly-golden/cargo-workspace/expected.json
  testdata/cargo-workspace/Cargo.toml
  testdata/cargo-workspace/crates/cli/Cargo.toml
  testdata/cargo-workspace/crates/core/Cargo.toml
  testdata/debian/extracted-md5sums/example_1.0-1_amd64.deb-extract/control.tar.gz-extract/control
  testdata/debian/extracted-md5sums/testpkg_2.5-3_i386.deb-extract/control.tar.xz-extract/control
Due: fmt, clippy, generate-supported-formats

feat(assembly): implement Cargo workspace assembly
  src/assembly/assembly_golden_test.rs
  src/assembly/mod.rs
  src/parsers/cargo.rs
  testdata/cargo-golden/rustup/Cargo.toml.expected
  testdata/cargo-golden/tauri/Cargo.toml.expected
Due: fmt, clippy, generate-supported-formats

docs: update documentation for Cargo workspace assembly and mark assembly complete
  docs/ARCHITECTURE.md
  docs/implementation-plans/README.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
Due: none
