Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

chore(renovate): update vulnerability fix handling for test directories
  renovate.json
Due: none

chore(renovate): add includePaths for improved dependency management
  renovate.json
Due: none

chore(renovate): simplify configuration by removing test directory exclusions
  renovate.json
Due: none

feat(meson): add package and datasource identifiers
  src/models/datasource_id.rs
  src/models/package_type.rs
Due: fmt, clippy

feat(meson): add bounded meson parser
  docs/SUPPORTED_FORMATS.md
  src/parsers/meson.rs
  src/parsers/meson_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(meson): add parser golden coverage
  src/parsers/meson_golden_test.rs
  src/parsers/mod.rs
  testdata/meson-golden/guardrails-and-skips/meson.build
  testdata/meson-golden/guardrails-and-skips/meson.build-expected.json
  testdata/meson-golden/literal-root/meson.build
  testdata/meson-golden/literal-root/meson.build-expected.json
Due: fmt, clippy, generate-supported-formats

fix(meson): skip unsupported top-level statements
  src/parsers/meson.rs
  src/parsers/meson_test.rs
  testdata/meson-golden/literal-root/meson.build-expected.json
Due: fmt, clippy, generate-supported-formats

docs(meson): describe bounded parser support
  docs/improvements/README.md
  docs/improvements/meson-parser.md
Due: none

docs(parsers): record Meson rollout
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

fix(assembly): classify Meson datasource as unassembled
  src/assembly/assemblers.rs
Due: fmt, clippy

docs(parsers): update datasource classification requirements for assembly
  docs/HOW_TO_ADD_A_PARSER.md
Due: none

Preserve SPDX short refs beside long notices (5->4)
  src/license_detection/aho_match.rs
  src/license_detection/tests.rs
Due: fmt, clippy

feat(helm): add package and datasource identifiers
  src/models/datasource_id.rs
  src/models/package_type.rs
Due: fmt, clippy

feat(helm): add Chart.yaml and Chart.lock parsers
  docs/SUPPORTED_FORMATS.md
  src/parsers/helm.rs
  src/parsers/helm_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(helm): add parser golden coverage
  src/parsers/helm_golden_test.rs
  testdata/helm-golden/chart-basic/Chart.yaml
  testdata/helm-golden/chart-basic/Chart.yaml.expected.json
  testdata/helm-golden/lock-basic/Chart.lock
  testdata/helm-golden/lock-basic/Chart.lock.expected.json
Due: fmt, clippy, generate-supported-formats

feat(assembly): add Helm sibling merge support
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/helm-basic/Chart.lock
  testdata/assembly-golden/helm-basic/Chart.yaml
  testdata/assembly-golden/helm-basic/expected.json
Due: fmt, clippy

docs(helm): describe chart parser support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/helm-parser.md
Due: none

feat(pixi): add package and datasource identifiers
  src/models/datasource_id.rs
  src/models/package_type.rs
Due: fmt, clippy

feat(pixi): add pixi.toml and pixi.lock parsers
  docs/SUPPORTED_FORMATS.md
  src/parsers/mod.rs
  src/parsers/pixi.rs
  src/parsers/pixi_test.rs
Due: fmt, clippy, generate-supported-formats

test(pixi): add parser golden coverage
  src/parsers/pixi_golden_test.rs
  testdata/pixi-golden/basic-lock/pixi.lock
  testdata/pixi-golden/basic-lock/pixi.lock.expected.json
  testdata/pixi-golden/basic-manifest/pixi.toml
  testdata/pixi-golden/basic-manifest/pixi.toml.expected.json
Due: fmt, clippy, generate-supported-formats

feat(assembly): add Pixi sibling merge support
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
Due: fmt, clippy

test(assembly): add Pixi assembly fixture
  testdata/assembly-golden/pixi-basic/expected.json
  testdata/assembly-golden/pixi-basic/pixi.lock
  testdata/assembly-golden/pixi-basic/pixi.toml
Due: none

docs(pixi): describe workspace parser support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/pixi-parser.md
Due: none

Document PDF extraction gap and skip golden fixture (4->3)
  docs/license-detection/GAPS.md
  src/license_detection/golden_test.rs
Due: fmt, clippy
