Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

feat(assembly): assign Conda rootfs package files
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/file_ref_resolve.rs
  src/assembly/mod.rs
Due: fmt, clippy

fix(conda): add meta json references and channel disambiguation
  src/parsers/conda.rs
  src/parsers/conda_meta_json.rs
  src/parsers/conda_meta_json_test.rs
  src/parsers/conda_test.rs
Due: fmt, clippy, generate-supported-formats

test(conda): add conda-meta parser golden
  src/parsers/conda_golden_test.rs
  testdata/conda/conda-meta/tzdata-2024b-h04d1e81_0.json-expected.json
Due: fmt, clippy, generate-supported-formats

fix(cocoapods): refine dependency scope handling
  src/parsers/podfile.rs
  src/parsers/podfile_lock.rs
  src/parsers/podfile_lock_test.rs
  src/parsers/podspec.rs
  src/parsers/podspec_json.rs
  src/parsers/podspec_json_test.rs
Due: fmt, clippy, generate-supported-formats

test(cocoapods): refresh parser goldens
  src/parsers/cocoapods_golden_test.rs
  testdata/cocoapods-golden/assemble/solo/Podfile-package-only-expected.json
  testdata/cocoapods-golden/assemble/solo/Podfile.lock-expected.json
  testdata/cocoapods-golden/podfile.lock/artsy_eigen_Podfile.lock.expected.json
  testdata/cocoapods-golden/podfile.lock/braintree_ios_Podfile.lock.expected.json
  testdata/cocoapods-golden/podspec.json/FirebaseAnalytics.podspec.json.expected.json
Due: fmt, clippy, generate-supported-formats

docs(cocoapods): refresh fixture notes
  docs/adr/0003-golden-test-strategy.md
  testdata/cocoapods-golden/README.md
Due: none

docs(cocoapods): add improvement notes
  docs/improvements/README.md
  docs/improvements/cocoapods-parser.md
Due: none

docs(cocoapods): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): record CocoaPods PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

Fix GFDL-1.1 vs GFDL-1.1-plus selection: prefer higher coverage
  src/license_detection/match_refine/handle_overlaps.rs
Due: fmt, clippy

feat(alpine): add APKBUILD parser support
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/parsers/alpine.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(alpine): add APKBUILD parser goldens
  src/parsers/alpine_golden_test.rs
  testdata/alpine/apkbuild/icu/APKBUILD
  testdata/alpine/apkbuild/icu/APKBUILD.expected.json
  testdata/alpine/apkbuild/linux-firmware/APKBUILD
  testdata/alpine/apkbuild/linux-firmware/APKBUILD.expected.json
Due: fmt, clippy, generate-supported-formats

test(alpine): refresh installed db golden
  testdata/alpine/lib/apk/db/installed.expected.json
Due: none

docs(alpine): update parser coverage notes
  docs/adr/0004-security-first-parsing.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
Due: none

docs(alpine): update improvement and enhancement notes
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/alpine-parser.md
Due: none

docs(plan): record Alpine PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

Fix unknown-license-reference detection and increase max detection size
  src/license_detection/detection/analysis.rs
  src/license_detection/mod.rs
Due: fmt, clippy

docs: align Alpine and improvement index notes
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
Due: none

fix(about): derive package identity from metadata
  src/parsers/about.rs
  src/parsers/about_test.rs
Due: fmt, clippy, generate-supported-formats

feat(assembly): promote ABOUT package resources
  src/assembly/assemblers.rs
  src/assembly/file_ref_resolve.rs
  src/main_test.rs
Due: fmt, clippy

test(about): add parser goldens
  src/parsers/about_golden_test.rs
  src/parsers/mod.rs
  testdata/about/apipkg.ABOUT.expected.json
  testdata/about/appdirs.ABOUT.expected.json
Due: fmt, clippy, generate-supported-formats

docs(about): add improvement notes
  docs/improvements/README.md
  docs/improvements/about-parser.md
Due: none

docs(about): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

docs(plan): record ABOUT PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

chore: delete debug files
  src/bin/debug_libevent.rs
  src/bin/debug_tokenize.rs
Due: fmt, clippy
