Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

feat(license): wire package reference consumers
  src/main.rs
  src/models/file_info.rs
  src/parsers/about.rs
  src/parsers/about_test.rs
  src/parsers/buck.rs
  src/parsers/buck_test.rs
  src/parsers/cargo.rs
  src/parsers/cargo_test.rs
  src/parsers/conda.rs
  src/parsers/conda_test.rs
  src/parsers/license_normalization.rs
  src/parsers/meson_test.rs
  src/parsers/mod.rs
  src/parsers/nuget_test.rs
  src/parsers/pixi_test.rs
  src/parsers/podspec.rs
  src/parsers/podspec_json.rs
  src/parsers/podspec_json_test.rs
  src/parsers/python.rs
  src/parsers/python_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  testdata/about/apipkg.ABOUT.expected.json
  testdata/about/appdirs.ABOUT.expected.json
  testdata/buck/end2end/subdir2/BUCK.expected.json
  testdata/cocoapods-golden/podspec/BadgeHub.podspec.expected.json
  testdata/cocoapods-golden/podspec/nanopb.podspec.expected.json
  testdata/conda/meta-yaml/abeona/meta.yaml-expected.json
  testdata/meson-golden/literal-root/meson.build-expected.json
  testdata/nuget-golden/fizzler/Fizzler.nuspec.expected
  testdata/nuget-golden/nupkg/Fizzler.1.3.0.nupkg.expected.json
Due: fmt, clippy, generate-supported-formats

fix(cache): keep match cache roundtrips readable
  src/models/file_info.rs
Due: fmt, clippy

feat(license): follow local file references
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/cache/scan_cache.rs
  src/license_detection/detection/mod.rs
  src/license_detection/models/mod_tests.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/mod.rs
  src/parsers/license_normalization.rs
  src/post_processing/classify_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/scan_result_shaping/core_test.rs
  src/scan_result_shaping/json_input_test.rs
  src/scanner/process.rs
Due: fmt, clippy, generate-supported-formats

feat(spdx): emit real license info from scans
  docs/implementation-plans/output/OUTPUT_FORMATS_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/output/mod.rs
  src/output/spdx.rs
Due: fmt, clippy

test(assembly): update package provenance goldens
  testdata/assembly-golden/alpine-file-refs/expected.json
  testdata/assembly-golden/maven-meta-inf-basic/expected.json
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/nuget-basic/expected.json
  testdata/assembly-golden/nuget-cpm-imported-parent/expected.json
  testdata/assembly-golden/nuget-cpm-nearest-ancestor/expected.json
  testdata/assembly-golden/nuget-cpm-version-override/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
  testdata/assembly-golden/ruby-extracted-basic/expected.json
Due: none

feat(license): finish package-aware post-processing
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/main.rs
  src/main_test.rs
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/scan_result_shaping/core_test.rs
  src/scan_result_shaping/mod.rs
Due: fmt, clippy

feat(license): backfill package detection provenance
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/scan_result_shaping/core_test.rs
  src/scan_result_shaping/mod.rs
Due: fmt, clippy

fix(post-processing): preserve package license tally counts
  src/post_processing/mod.rs
Due: fmt, clippy

feat(license): add top-level unique detections
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/main.rs
  src/main_test.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping/json_input.rs
  src/scan_result_shaping/json_input_test.rs
  tests/output_format_golden.rs
Due: fmt, clippy

feat(license): add file-region unique aggregation
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/mod.rs
  src/license_detection/detection/types.rs
  src/license_detection/mod.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/scanner/process.rs
Due: fmt, clippy

feat(license): add top-level reference reporting
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/cli.rs
  src/main.rs
  src/output/mod.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
Due: fmt, clippy

feat(license): add diagnostics and text parity flags
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve_test.rs
  src/cache/scan_cache.rs
  src/cli.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/query/mod.rs
  src/main.rs
  src/models/file_info.rs
  src/output/mod.rs
  src/parsers/license_normalization.rs
  src/parsers/scan_test_utils.rs
  src/post_processing/classify_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/output_test.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping/core_test.rs
  src/scanner/mod.rs
  src/scanner/process.rs
  tests/scanner_copyright_credits.rs
  tests/scanner_integration.rs
Due: fmt, clippy, generate-supported-formats

fix(license): fail fast on missing embedded index artifact
  README.md
  docs/ARCHITECTURE.md
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/RELEASING.md
  setup.sh
  src/license_detection/embedded/index.rs
  src/license_detection/mod.rs
Due: fmt, clippy

feat(license): lock down reference-following parity
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/main_test.rs
  src/output/spdx.rs
  src/post_processing/golden_test.rs
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/post_processing/test_utils.rs
  testdata/summarycode-golden/reference_following/file_to_package_inheritance/codebase/venv/lib/python3.11/site-packages/demo-1.0.dist-info/METADATA
  testdata/summarycode-golden/reference_following/file_to_package_inheritance/codebase/venv/lib/python3.11/site-packages/demo-1.0.dist-info/RECORD
  testdata/summarycode-golden/reference_following/file_to_package_inheritance/codebase/venv/lib/python3.11/site-packages/locale/django.po
  testdata/summarycode-golden/reference_following/file_to_package_inheritance/expected.json
  testdata/summarycode-golden/reference_following/license_beside_manifest/codebase/demo-1.0.dist-info/LICENSE
  testdata/summarycode-golden/reference_following/license_beside_manifest/codebase/demo-1.0.dist-info/METADATA
  testdata/summarycode-golden/reference_following/license_beside_manifest/expected.json
  testdata/summarycode-golden/reference_following/manifest_origin_local_file/codebase/Cargo.toml
  testdata/summarycode-golden/reference_following/manifest_origin_local_file/codebase/LICENSE
  testdata/summarycode-golden/reference_following/manifest_origin_local_file/expected.json
  testdata/summarycode-golden/reference_following/root_fallback_no_package/codebase/COPYING
  testdata/summarycode-golden/reference_following/root_fallback_no_package/codebase/django.po
  testdata/summarycode-golden/reference_following/root_fallback_no_package/expected.json
Due: fmt, clippy

fix(post-processing): avoid duplicate package fallback tallies
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
Due: fmt, clippy

test(post-processing): update license-beside-manifest golden counts
  testdata/summarycode-golden/reference_following/license_beside_manifest/expected.json
Due: none

feat(license): enrich top-level reference metadata
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/license_detection/detection/mod.rs
  src/license_detection/embedded/index.rs
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/index/mod.rs
  src/license_detection/models/license.rs
  src/license_detection/models/loaded_license.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/loader_test.rs
  src/license_detection/spdx_mapping/test.rs
  src/models/output.rs
  src/output/mod.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/test_utils.rs
  testdata/summarycode-golden/reference_following/file_to_package_inheritance/expected.json
  testdata/summarycode-golden/reference_following/license_beside_manifest/expected.json
  testdata/summarycode-golden/reference_following/manifest_origin_local_file/expected.json
  testdata/summarycode-golden/reference_following/root_fallback_no_package/expected.json
Due: fmt, clippy
