Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

fix(assembly): drop npm nested CI probe logic
  src/assembly/mod.rs
Due: fmt, clippy

test(assembly): assert npm nested fixture inputs
  src/assembly/assembly_golden_test.rs
Due: fmt, clippy

test(assembly): track npm nested fixture files
  .gitignore
  testdata/assembly-golden/npm-nested-packages/node_modules/child/index.js
  testdata/assembly-golden/npm-nested-packages/node_modules/child/node_modules/grand/index.js
  testdata/assembly-golden/npm-nested-packages/node_modules/child/node_modules/grand/package.json
  testdata/assembly-golden/npm-nested-packages/node_modules/child/package.json
Due: none

fix(license-detection): Add missing checks to analyze_detection()
  src/license_detection/detection/analysis.rs
Due: fmt, clippy

docs: Update hypothesis list with extra detections investigation
  HYPOTHESIS_LIST.md
Due: none

fix(maven): capture XML comment licenses and nested pom identity
  src/models/datasource_id.rs
  src/parsers/maven.rs
  src/parsers/maven_test.rs
Due: fmt, clippy, generate-supported-formats

fix(assembly): validate nested Maven META-INF package roots
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  src/assembly/nested_merge.rs
  testdata/assembly-golden/maven-meta-inf-basic/META-INF/MANIFEST.MF
  testdata/assembly-golden/maven-meta-inf-basic/META-INF/maven/com.example/nested-lib/pom.properties
  testdata/assembly-golden/maven-meta-inf-basic/META-INF/maven/com.example/nested-lib/pom.xml
  testdata/assembly-golden/maven-meta-inf-basic/expected.json
Due: fmt, clippy

docs(maven): tighten issue-closure tracking
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/maven-parser.md
Due: none

docs(maven): mark issue-closure follow-up complete
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(maven): enhance parser metadata extraction
  docs/SUPPORTED_FORMATS.md
  src/parsers/maven.rs
  src/parsers/maven_test.rs
Due: fmt, clippy, generate-supported-formats

test(maven): refresh extended parser golden fixtures
  testdata/maven-golden/commons-fileupload/pom.xml.expected
  testdata/maven-golden/spring/pom.xml.expected
Due: none

test(maven): refresh basic parser golden fixtures
  testdata/maven-golden/basic/pom.xml.expected
  testdata/maven-golden/logback-access/pom.xml.expected
Due: none

docs(maven): finalize enhancement tracking
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/maven-parser.md
Due: none

test(maven): refresh assembly and remaining goldens
  docs/SUPPORTED_FORMATS.md
  testdata/assembly-golden/maven-basic/expected.json
  testdata/maven-golden/jrecordbind/pom.xml.expected
Due: none

build(docs): stabilize supported formats generation
  src/bin/generate_supported_formats.rs
Due: fmt, clippy

fix(npm): preserve overrides and normalize metadata
  src/parsers/npm.rs
  src/parsers/npm_test.rs
Due: fmt, clippy, generate-supported-formats

docs(improvements): add npm and yarn parser notes
  docs/improvements/README.md
  docs/improvements/npm-yarn-parser.md
Due: none

docs(implementation-plans): capture parser enhancement workflow learnings
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

fix(assembly): harden npm sibling package merging
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
  testdata/assembly-golden/npm-basic/expected.json
Due: fmt, clippy

test(assembly): cover nested npm package ownership
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/npm-nested-packages/.pnp.cjs
  testdata/assembly-golden/npm-nested-packages/expected.json
  testdata/assembly-golden/npm-nested-packages/index.js
  testdata/assembly-golden/npm-nested-packages/package.json
Due: fmt, clippy

fix(npm-lock): preserve non-version dependency specs
  src/parsers/npm_lock.rs
  src/parsers/npm_lock_test.rs
Due: fmt, clippy, generate-supported-formats

fix(assembly): stabilize npm workspace membership
  src/assembly/workspace_merge.rs
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
Due: fmt, clippy

fix(yarn): infer dependency scope from sibling manifests
  src/parsers/yarn_lock.rs
  src/parsers/yarn_lock_test.rs
Due: fmt, clippy, generate-supported-formats

test(assembly): refresh stable ordering snapshots
  testdata/assembly-golden/alpine-file-refs/expected.json
  testdata/assembly-golden/cargo-basic/expected.json
  testdata/assembly-golden/cargo-workspace/expected.json
  testdata/assembly-golden/composer-basic/expected.json
  testdata/assembly-golden/go-basic/expected.json
  testdata/assembly-golden/maven-basic/expected.json
Due: none

fix(assembly): validate npm manifest lock identity
  src/assembly/mod.rs
  src/assembly/sibling_merge.rs
Due: fmt, clippy

fix(assembly): sort output without uuid noise
  src/assembly/mod.rs
Due: fmt, clippy

test(fixtures): unignore repository testdata inputs
  .gitignore
Due: none

test(copyright): track missing ics config fixtures
  testdata/copyright-golden/ics/bison/config.log
  testdata/copyright-golden/ics/srtp/config.log
  testdata/copyright-golden/ics/strace/config.log
Due: none

test(npm): re-enable parser-level golden cases
  src/parsers/npm_golden_test.rs
  testdata/npm-golden/README.md
Due: fmt, clippy, generate-supported-formats

test(npm): track dist golden fixtures
  testdata/npm-golden/dist/package.json
  testdata/npm-golden/dist/package.json.expected
Due: none

docs(npm): refresh parser golden suite status
  testdata/npm-golden/README.md
Due: none

docs(parser-enhancements): reduce volatile file references
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/npm-yarn-parser.md
Due: none

test(npm): restore full parser golden coverage
  src/parsers/npm_golden_test.rs
  testdata/npm-golden/casepath/package.json.expected
  testdata/npm-golden/electron/package.json
  testdata/npm-golden/electron/package.json.expected
Due: fmt, clippy, generate-supported-formats
