Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

Implement near-duplicate detection phase (partial)
  src/license_detection/detection.rs
  src/license_detection/golden_test.rs
  src/license_detection/mod.rs
  src/license_detection/seq_match.rs
Due: fmt, clippy

Update PLAN-015 with Issue 9: Query Run Matching
  docs/license-detection/PLAN-015-consolidated-fixes.md
Due: none

Implement query run splitting and fix position handling
  src/license_detection/aho_match.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
  src/license_detection/seq_match.rs
  src/license_detection/test_utils.rs
Due: fmt, clippy

Fix query run double-matching regression
  docs/license-detection/PLAN-015-consolidated-fixes.md
  src/license_detection/query.rs
Due: fmt, clippy

Implement Issue 10: Query Span Subtraction (disabled)
  docs/license-detection/PLAN-015-consolidated-fixes.md
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/models.rs
  src/license_detection/query.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

Implement Issue 11: Proper Query Subtraction (SPDX token positions)
  docs/license-detection/PLAN-015-consolidated-fixes.md
  src/license_detection/aho_match.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/test_utils.rs
Due: fmt, clippy

Enable span subtraction after near-duplicate matching
  src/license_detection/mod.rs
Due: fmt, clippy

Query run splitting remains disabled (requires matched position tracking)
  src/license_detection/query.rs
Due: fmt, clippy

Clean up dead code and fix clippy warnings
  docs/license-detection/PLAN-007-is-license-intro-clue-fix.md
  docs/license-detection/PLAN-008-false-positive-license-lists-filter.md
  docs/license-detection/PLAN-009-is-false-positive-fix.md
  docs/license-detection/PLAN-010-simplify-expression-fix.md
  docs/license-detection/PLAN-011-detection-deduplication-fix.md
  docs/license-detection/PLAN-012-expression-parentheses-fix.md
  docs/license-detection/PLAN-013-match-grouping-thresholds-fix.md
  docs/license-detection/PLAN-014-license-containment-check.md
  docs/license-detection/PLAN-015-consolidated-fixes.md
  src/license_detection/detection.rs
  src/license_detection/golden_test.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/test_utils.rs
Due: fmt, clippy

Create PLAN-016 for remaining license detection fixes
  docs/license-detection/PLAN-016-remaining-fixes.md
Due: none

feat(license-detection): Implement PLAN-016 fixes and filters
  docs/license-detection/PLAN-016-remaining-fixes.md
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/models.rs
  src/license_detection/query.rs
  src/license_detection/seq_match.rs
  src/license_detection/spans.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

fix(license-detection): Track matched_qspans from Phase 2 near-duplicate matches
  src/license_detection/detection.rs
  src/license_detection/mod.rs
  src/license_detection/query.rs
Due: fmt, clippy

docs: Clean up PLAN-016 with summary of remaining issues
  docs/license-detection/PLAN-016-remaining-fixes.md
Due: none

docs: Complete PLAN-016 with detailed implementation plans for all issues
  docs/license-detection/PLAN-016-remaining-fixes.md
Due: none

fix(license-detection): Fix token boundary bug and token-based overlap
  docs/license-detection/PLAN-016-remaining-fixes.md
  src/license_detection/aho_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/models.rs
Due: fmt, clippy

docs: Update PLAN-016 with Phase E completion status
  docs/license-detection/PLAN-016-remaining-fixes.md
Due: none

docs: Create PLAN-017 with verified fixes for remaining issues
  docs/license-detection/PLAN-017-remaining-fixes.md
Due: none

fix(license-detection): Fix golden test to compare match expressions
  src/license_detection/golden_test.rs
Due: fmt, clippy

fix(license-detection): Store raw matches in detection.matches
  src/license_detection/detection.rs
Due: fmt, clippy

docs: Update PLAN-017 with investigation findings and new issue
  docs/license-detection/PLAN-017-remaining-fixes.md
Due: none

fix(license-detection): Remove GPL filter, add unknown match containment filter
  docs/license-detection/PLAN-017-remaining-fixes.md
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
Due: fmt, clippy

refactor(license-detection): Simplify QueryRun to store &Query reference
  docs/license-detection/PLAN-017-remaining-fixes.md
  src/license_detection/query.rs
Due: fmt, clippy

fix(license-detection): Make golden tests deterministic
  docs/license-detection/PLAN-018-fix-golden-test-flakiness.md
  src/license_detection/detection.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/seq_match.rs
Due: fmt, clippy

docs: Update PLAN-017 with stable test results after flakiness fix
  docs/license-detection/PLAN-017-remaining-fixes.md
Due: none

fix(license-detection): Filter stopwords in required_phrase_tokenizer for position accuracy
  .gitignore
  docs/license-detection/BUG-006-merge-positions-fix.md
  docs/license-detection/BUG-007-solo-exception-difference.md
  docs/license-detection/BUG-008-qregion-len-offbyone.md
  docs/license-detection/BUG-009-filter-required-phrases.md
  docs/license-detection/PLAN-017-remaining-fixes.md
  docs/license-detection/improvements/solo-match-exception-fix.md
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/golden_test.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/builder.rs
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/thresholds.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/test_utils.rs
  src/license_detection/tokenize.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

fix(license-detection): Recalculate match_coverage after merging and use set containment in qcontains
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

feat(license-detection): Add is_license_text filtering and align filter pipeline with Python
  docs/license-detection/PLAN-019-implementation-plans.md
  docs/license-detection/PLAN-020-golden-test-failures.md
  src/license_detection/aho_match.rs
  src/license_detection/detection.rs
  src/license_detection/hash_match.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
  src/license_detection/models.rs
  src/license_detection/seq_match.rs
  src/license_detection/spdx_lid.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

fix(license-detection): Correct is_license_text subtraction timing and add double restore_non_overlapping
  docs/license-detection/PLAN-019-implementation-plans.md
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
Due: fmt, clippy

Fix npm Git URL and non-version dependency handling
  docs/improvements/npm-git-url-dependencies.md
  src/parsers/npm.rs
  src/parsers/npm_test.rs
Due: fmt, clippy, generate-supported-formats

Add .gitmodules parser for Git submodules
  docs/SUPPORTED_FORMATS.md
  docs/improvements/README.md
  docs/improvements/gitmodules-parser.md
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/parsers/gitmodules.rs
  src/parsers/mod.rs
  testdata/gitmodules/.gitmodules
Due: fmt, clippy, generate-supported-formats

Detect Alpine virtual packages via description pattern
  src/parsers/alpine.rs
Due: fmt, clippy, generate-supported-formats

fix(license-detection): Handle binary and non-UTF-8 files in golden tests
  docs/license-detection/PLAN-023-failure-analysis-lic1.md
  docs/license-detection/PLAN-023-failure-analysis-lic2.md
  docs/license-detection/PLAN-023-failure-analysis-lic3.md
  docs/license-detection/PLAN-023-failure-analysis-lic4.md
  docs/license-detection/PLAN-023-failure-analysis-summary.md
  docs/license-detection/PLAN-024-fix-match-merging.md
  docs/license-detection/PLAN-025-fix-false-positive-filtering.md
  docs/license-detection/PLAN-026-fix-short-license-detection.md
  docs/license-detection/PLAN-027-fix-expression-combination.md
  docs/license-detection/PLAN-028-fix-utf8-binary-handling.md
  src/license_detection/golden_test.rs
  src/license_detection/match_refine.rs
  src/license_detection/mod.rs
Due: fmt, clippy

feat(license-detection): Implement distance-based match merging (PLAN-024)
  docs/license-detection/PLAN-024-fix-match-merging.md
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
Due: fmt, clippy

fix(license-detection): Apply clippy fixes for PLAN-024
  docs/license-detection/MISC.md
  docs/license-detection/PLAN-019-implementation-plans.md
  docs/license-detection/PLAN-021-remaining-part3.md
  docs/license-detection/PLAN-022-remaining-pipeline-differences.md
  src/license_detection/expression.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/builder.rs
  src/license_detection/match_refine.rs
  src/license_detection/models.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/thresholds.rs
  src/license_detection/seq_match.rs
  src/license_detection/test_utils.rs
Due: fmt, clippy

fix(npm): implement bugfixes for issues #2015, #3393, #4753, #3139, #4399
  src/assembly/file_ref_resolve.rs
  src/parsers/npm.rs
  src/parsers/npm_lock.rs
  src/parsers/npm_lock_test.rs
  src/parsers/npm_test.rs
Due: fmt, clippy, generate-supported-formats

fix(ruby): implement bugfixes for issues #2513, #2781, #3088, #3072
  src/assembly/assemblers.rs
  src/parsers/ruby.rs
  src/parsers/ruby_test.rs
  testdata/ruby/description_edge_case.gemspec
Due: fmt, clippy, generate-supported-formats

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
