Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs(about): update parser enhancement plan
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

feat(assembly): promote ABOUT package resources
  src/assembly/assemblers.rs
  src/assembly/file_ref_resolve.rs
  src/main_test.rs
Due: fmt, clippy

docs(about): add improvement notes
  docs/improvements/README.md
  docs/improvements/about-parser.md
Due: none

docs(plan): record ABOUT PR state
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
Due: none

test(about): add parser goldens
  src/parsers/about_golden_test.rs
  src/parsers/mod.rs
  testdata/about/apipkg.ABOUT.expected.json
  testdata/about/appdirs.ABOUT.expected.json
Due: fmt, clippy, generate-supported-formats

Fix SPDX-LID OR-chain rendering and require release golden runs (56->54)
  AGENTS.md
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/spdx_lid/test.rs
Due: fmt, clippy

feat(assembly): add Swift package precedence handling
  src/assembly/mod.rs
  src/assembly/swift_merge.rs
Due: fmt, clippy

test(swift): cover assembled package scan output
  src/main_test.rs
Due: fmt, clippy

docs(swift): record batch completion
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/swift-show-dependencies-parser.md
Due: none

docs(conan): record mirror URL coverage
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/conan-data-parser.md
Due: none

docs(swift): add ecosystem improvement notes
  docs/improvements/README.md
  docs/improvements/swift-parser.md
Due: none

test(conan): add conandata parser goldens
  src/parsers/conan_golden_test.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(conan): cover real conandata mirror fixtures
  src/parsers/conan_data_test.rs
Due: fmt, clippy, generate-supported-formats

docs(swift): clarify parser improvement details
  docs/DOCUMENTATION_INDEX.md
  docs/improvements/swift-show-dependencies-parser.md
Due: none

docs(conan): clarify improvement coverage
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/conan-data-parser.md
  docs/improvements/conan-parser.md
Due: none

docs(improvements): remove volatile test counts
  docs/improvements/cpan-dist-ini-parser.md
  docs/improvements/cpan-makefile-pl-parser.md
  docs/improvements/osgi-manifest-parser.md
  docs/improvements/rpm-specfile-parser.md
Due: none

Document Python SPDX/AHO whole-query cache bug
  docs/license-detection/improvements/spdx-aho-whole-query-cache-bug.md
Due: none

feat(docker): add package type and datasource plumbing
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/models/package_type.rs
Due: fmt, clippy

feat(docker): parse OCI labels from Dockerfiles
  docs/SUPPORTED_FORMATS.md
  src/parsers/docker.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(docker): cover parser and scan behavior
  src/main_test.rs
  src/parsers/docker_golden_test.rs
  src/parsers/docker_test.rs
  src/parsers/mod.rs
  src/utils/language.rs
Due: fmt, clippy, generate-supported-formats

test(docker): add parser goldens
  testdata/docker-golden/jibri/Dockerfile
  testdata/docker-golden/jibri/Dockerfile.expected.json
  testdata/docker-golden/pulp/Containerfile
  testdata/docker-golden/pulp/Containerfile.expected.json
Due: none

docs(docker): record parser support
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/docker-parser.md
Due: none

Fix OpenJ9 SPDX/AHO notice matching (54->53)
  src/license_detection/aho_match.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/mod.rs
  src/license_detection/tests.rs
Due: fmt, clippy

feat(python): add richer manifest parser support
  docs/SUPPORTED_FORMATS.md
  src/assembly/assemblers.rs
  src/models/datasource_id.rs
  src/parsers/python.rs
Due: fmt, clippy, generate-supported-formats

test(python): cover manifest metadata regressions
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats
