Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

fmt:
  name: Format Rust code and stage changes
  entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
  language: system
  pass_filenames: false

clippy:
  name: Run clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

generate-supported-formats:
  name: Generate docs/SUPPORTED_FORMATS.md
  entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
  language: system
  pass_filenames: false

feat(license): backfill package detection provenance
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/scan_result_shaping/core_test.rs
  src/scan_result_shaping/mod.rs
Due: fmt, clippy

test(assembly): update package provenance goldens
  testdata/assembly-golden/alpine-file-refs/expected.json
  testdata/assembly-golden/maven-meta-inf-basic/expected.json
  testdata/assembly-golden/npm-workspace/expected.json
  testdata/assembly-golden/nuget-basic/expected.json
  testdata/assembly-golden/nuget-cpm-imported-parent/expected.json
  testdata/assembly-golden/nuget-cpm-nearest-ancestor/expected.json
  testdata/assembly-golden/nuget-cpm-version-override/expected.json
  testdata/assembly-golden/pnpm-workspace/expected.json
  testdata/assembly-golden/ruby-extracted-basic/expected.json
Due: none

feat(license): finish package-aware post-processing
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/main.rs
  src/main_test.rs
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/scan_result_shaping/core_test.rs
  src/scan_result_shaping/mod.rs
Due: fmt, clippy

fix(post-processing): preserve package license tally counts
  src/post_processing/mod.rs
Due: fmt, clippy

feat(license): add file-region unique aggregation
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/mod.rs
  src/license_detection/detection/types.rs
  src/license_detection/mod.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/scanner/process.rs
Due: fmt, clippy

feat(license): follow local file references
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/cache/scan_cache.rs
  src/license_detection/detection/mod.rs
  src/license_detection/models/mod_tests.rs
  src/main.rs
  src/main_test.rs
  src/models/file_info.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/mod.rs
  src/parsers/license_normalization.rs
  src/post_processing/classify_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/scan_result_shaping/core_test.rs
  src/scan_result_shaping/json_input_test.rs
  src/scanner/process.rs
Due: fmt, clippy, generate-supported-formats

fix(cache): keep match cache roundtrips readable
  src/models/file_info.rs
Due: fmt, clippy

feat(license_detection): migrate from bincode to rkyv for serialization
  .gitattributes
  .github/actions/download-embedded-license-index/action.yml
  .github/actions/prepare-embedded-license-index/action.yml
  Cargo.lock
  Cargo.toml
  release.sh
  resources/license_detection/license_index.bincode.zst
  resources/license_detection/license_index.zst
  src/license_detection/embedded/index.rs
  src/license_detection/embedded_test.rs
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/dictionary.rs
  src/license_detection/mod.rs
  src/license_detection/models/license.rs
  src/license_detection/models/rule.rs
  xtask/Cargo.toml
  xtask/src/bin/generate_index_artifact.rs
Due: fmt, clippy

fix(parsers): close parser audit regressions
  docs/HOW_TO_ADD_A_PARSER.md
  docs/SUPPORTED_FORMATS.md
  docs/improvements/README.md
  docs/improvements/conda-parser.md
  docs/improvements/npm-yarn-parser.md
  docs/improvements/python-parser.md
  docs/improvements/swift-parser.md
  src/assembly/assemblers.rs
  src/assembly/file_ref_resolve.rs
  src/assembly/mod.rs
  src/assembly/npm_workspace_merge.rs
  src/assembly/python_requirements_assign.rs
  src/parsers/bower.rs
  src/parsers/bower_test.rs
  src/parsers/cargo_scan_test.rs
  src/parsers/chef.rs
  src/parsers/chef_test.rs
  src/parsers/conan.rs
  src/parsers/conan_test.rs
  src/parsers/conda.rs
  src/parsers/conda_scan_test.rs
  src/parsers/debian.rs
  src/parsers/debian_scan_test.rs
  src/parsers/debian_test.rs
  src/parsers/hex_lock.rs
  src/parsers/maven.rs
  src/parsers/maven_test.rs
  src/parsers/npm.rs
  src/parsers/npm_scan_test.rs
  src/parsers/npm_test.rs
  src/parsers/nuget_scan_test.rs
  src/parsers/opam_scan_test.rs
  src/parsers/podfile.rs
  src/parsers/python.rs
  src/parsers/python_scan_test.rs
  src/parsers/python_test.rs
  src/parsers/swift_manifest_json.rs
  src/parsers/swift_manifest_json_test.rs
  testdata/conan/conan.lock-expected.json
  testdata/conan/conanfile.txt-expected.json
Due: fmt, clippy, generate-supported-formats

feat(license): wire package reference consumers
  src/main.rs
  src/models/file_info.rs
  src/parsers/about.rs
  src/parsers/about_test.rs
  src/parsers/buck.rs
  src/parsers/buck_test.rs
  src/parsers/cargo.rs
  src/parsers/cargo_test.rs
  src/parsers/conda.rs
  src/parsers/conda_test.rs
  src/parsers/license_normalization.rs
  src/parsers/meson_test.rs
  src/parsers/mod.rs
  src/parsers/nuget_test.rs
  src/parsers/pixi_test.rs
  src/parsers/podspec.rs
  src/parsers/podspec_json.rs
  src/parsers/podspec_json_test.rs
  src/parsers/python.rs
  src/parsers/python_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  testdata/about/apipkg.ABOUT.expected.json
  testdata/about/appdirs.ABOUT.expected.json
  testdata/buck/end2end/subdir2/BUCK.expected.json
  testdata/cocoapods-golden/podspec/BadgeHub.podspec.expected.json
  testdata/cocoapods-golden/podspec/nanopb.podspec.expected.json
  testdata/conda/meta-yaml/abeona/meta.yaml-expected.json
  testdata/meson-golden/literal-root/meson.build-expected.json
  testdata/nuget-golden/fizzler/Fizzler.nuspec.expected
  testdata/nuget-golden/nupkg/Fizzler.1.3.0.nupkg.expected.json
Due: fmt, clippy, generate-supported-formats

feat(spdx): emit real license info from scans
  docs/implementation-plans/output/OUTPUT_FORMATS_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/output/mod.rs
  src/output/spdx.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  generate-supported-formats: any of: ^src/parsers/.*\.rs$
