Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

test: align package parity fixtures
  src/parsers/conda.rs
  src/parsers/debian_golden_test.rs
  src/parsers/python_test.rs
  src/parsers/ruby.rs
  src/post_processing/output_test.rs
  testdata/assembly-golden/nuget-basic/expected.json
  testdata/assembly-golden/nuget-cpm-imported-parent/expected.json
  testdata/assembly-golden/nuget-cpm-nearest-ancestor/expected.json
  testdata/assembly-golden/nuget-cpm-version-override/expected.json
  testdata/assembly-golden/ruby-extracted-basic/expected.json
  testdata/cocoapods-golden/assemble/solo/RxDataSources-package-only.podspec-expected.json
  testdata/gem/extracted/metadata.gz-extract.expected.json
  testdata/nuget-golden/package-reference/Contoso.Utility.csproj.expected
  testdata/ruby/example-gem-1.2.3.gem.expected.json
Due: fmt, clippy, generate-supported-formats

test: align ruby parser license expectations
  src/parsers/ruby_test.rs
Due: fmt, clippy, generate-supported-formats

fix: normalize safe haxe and podspec licenses
  src/parsers/haxe.rs
  src/parsers/haxe_test.rs
  src/parsers/podspec.rs
  src/parsers/podspec_json.rs
  src/parsers/podspec_json_test.rs
  testdata/haxe/basic/haxelib.json.expected
  testdata/haxe/basic2/haxelib.json.expected
  testdata/haxe/deps/haxelib.json.expected
  testdata/haxe/tags/haxelib.json.expected
Due: fmt, clippy, generate-supported-formats

fix: improve package data parser parity
  docs/HOW_TO_ADD_A_PARSER.md
  src/models/file_info.rs
  src/parsers/bower.rs
  src/parsers/bower_test.rs
  src/parsers/conan.rs
  src/parsers/conan_test.rs
  src/parsers/cpan.rs
  src/parsers/cpan_makefile_pl.rs
  src/parsers/cpan_makefile_pl_test.rs
  src/parsers/cpan_test.rs
  src/parsers/docker.rs
  src/parsers/docker_test.rs
  src/parsers/meson.rs
  src/parsers/meson_test.rs
  src/parsers/nuget.rs
  src/parsers/nuget_test.rs
  src/parsers/pip_inspect_deplock.rs
  src/parsers/pip_inspect_deplock_test.rs
  src/parsers/python.rs
  src/parsers/python_test.rs
  src/parsers/vcpkg.rs
  src/parsers/vcpkg_test.rs
  src/post_processing/output_test.rs
  src/test_utils.rs
  testdata/bower/basic/bower.json.expected.json
  testdata/conan/recipes/libgettext/manifest/conanfile.py-expected.json
  testdata/cpan/makefile-pl/basic/Makefile.PL.expected.json
  testdata/cpan/makefile-pl/version-abstract-from/Makefile.PL.expected.json
  testdata/cpan/meta_json/META.json.expected.json
  testdata/cpan/meta_yml/META.yml.expected.json
  testdata/docker-golden/jibri/Dockerfile.expected.json
  testdata/python/golden/pypi.json-expected.json
  testdata/python/pypi.json
  testdata/vcpkg/golden/port-vcpkg-expected.json
Due: fmt, clippy, generate-supported-formats

feat(cli): complete scan result shaping parity
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/post-processing/SCAN_RESULT_SHAPING_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/cli.rs
  src/main.rs
  src/main_test.rs
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/swift_scan_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping.rs
  src/scan_result_shaping_test.rs
  src/scanner/collect.rs
  src/scanner/mod.rs
  src/scanner/process.rs
Due: fmt, clippy, generate-supported-formats

refactor(cli): extract shaping path helpers
  src/main.rs
  src/main_test.rs
  src/scan_result_shaping/json_input.rs
  src/scan_result_shaping/mod.rs
  src/scan_result_shaping/selection.rs
Due: fmt, clippy

refactor(cache): share collection exclude patterns
  src/cache/mod.rs
  src/main.rs
  src/main_test.rs
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/swift_scan_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/test_utils.rs
Due: fmt, clippy, generate-supported-formats

test(shaping): split scan result shaping tests
  docs/improvements/README.md
  src/main_test.rs
  src/scan_result_shaping/core_test.rs
  src/scan_result_shaping/json_input.rs
  src/scan_result_shaping/json_input_test.rs
  src/scan_result_shaping/mod.rs
  src/scan_result_shaping/selection.rs
  src/scan_result_shaping/selection_test.rs
  src/scan_result_shaping/test_support.rs
Due: fmt, clippy

docs(plans): mark shaping plan complete
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SCAN_RESULT_SHAPING_PLAN.md
Due: none

test: align scan fixtures with cache-aware collection
  src/parsers/scan_pipeline_test_utils.rs
  src/parsers/swift_scan_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/test_utils.rs
  tests/scanner_copyright_credits.rs
  tests/scanner_integration.rs
Due: fmt, clippy, generate-supported-formats

docs: tighten agent guidance and align workflow docs
  .github/pull_request_template.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/RELEASING.md
Due: none

ci: split scan and integration tests into two shards
  .github/workflows/check.yml
Due: none

ci: regroup scan shards to preserve integration reuse
  .github/workflows/check.yml
Due: none

docs(pr): omit non-applicable template sections
  .github/pull_request_template.md
  AGENTS.md
Due: none

chore: adopt lefthook for auto-staged fixes and focus parser docs
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/TESTING_STRATEGY.md
  docs/adr/0005-auto-generated-docs.md
  lefthook.yml
  package-lock.json
  package.json
  setup.sh
Due: none

docs(pr): drop verification-body requirement
  AGENTS.md
Due: none

chore(cargo): align workspace dependency management
  Cargo.lock
  Cargo.toml
  renovate.json
  xtask/Cargo.lock
  xtask/Cargo.toml
Due: none

docs: add project copyright notice
  NOTICE
  README.md
Due: none

ci: stop consuming Git LFS bandwidth in Actions
  .github/actions/download-embedded-license-index/action.yml
  .github/actions/prepare-embedded-license-index/action.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  renovate.json
  scripts/check_xtask_lockfile_sync.sh
  setup.sh
Due: none

feat(license): add diagnostics and text parity flags
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve_test.rs
  src/cache/scan_cache.rs
  src/cli.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/query/mod.rs
  src/main.rs
  src/models/file_info.rs
  src/output/mod.rs
  src/parsers/license_normalization.rs
  src/parsers/scan_test_utils.rs
  src/post_processing/classify_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/output_test.rs
  src/post_processing/summary_test.rs
  src/post_processing/tallies_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping/core_test.rs
  src/scanner/mod.rs
  src/scanner/process.rs
  tests/scanner_copyright_credits.rs
  tests/scanner_integration.rs
Due: fmt, clippy, generate-supported-formats

fix(deps): adapt sha2 callers to 0.11
  src/parsers/python.rs
  src/utils/hash.rs
Due: fmt, clippy, generate-supported-formats

feat(license): add top-level reference reporting
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/cli.rs
  src/main.rs
  src/output/mod.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
Due: fmt, clippy

feat(license): add top-level unique detections
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
  src/main.rs
  src/main_test.rs
  src/models/mod.rs
  src/models/output.rs
  src/output/jsonl.rs
  src/output/mod.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping/json_input.rs
  src/scan_result_shaping/json_input_test.rs
  tests/output_format_golden.rs
Due: fmt, clippy

feat(spdx): emit real license info from scans
  docs/implementation-plans/output/OUTPUT_FORMATS_PLAN.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  src/output/mod.rs
  src/output/spdx.rs
Due: fmt, clippy
