Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

test(alpine): update assembly golden for license fields
  testdata/assembly-golden/alpine-file-refs/expected.json
Due: none

fix(swift): preserve manifest intent over lockfile fallback
  docs/improvements/README.md
  docs/improvements/swift-parser.md
  docs/improvements/swift-show-dependencies-parser.md
  src/assembly/swift_merge.rs
  src/parsers/swift_manifest_json.rs
  src/parsers/swift_manifest_json_test.rs
  src/parsers/swift_resolved.rs
  src/parsers/swift_resolved_test.rs
  src/parsers/swift_show_dependencies.rs
  src/parsers/swift_show_dependencies_test.rs
  testdata/swift-golden/swift-fastlane-resolved-v1-parse-expected.json
  testdata/swift-golden/swift-maboxmaps-manifest-parse-expected.json
  testdata/swift-golden/swift-maboxmaps-resolved-parse-expected.json
  testdata/swift-golden/swift-mapboxmaps-manifest-and-resolved-package-expected.json
  testdata/swift-golden/swift-vercelui-expected.json
  testdata/swift-golden/swift-vercelui-resolved-parse-expected.json
  testdata/swift-golden/swift-vercelui-show-dependencies-expected.json
  testdata/swift-golden/swift-vercelui-show-dependencies-parse-expected.json
Due: fmt, clippy, generate-supported-formats

test(swift): align assembled mapbox fallback purls
  testdata/swift-golden/swift-mapboxmaps-manifest-and-resolved-package-expected.json
Due: none

fix(dart): preserve pubspec and lockfile intent
  docs/improvements/README.md
  docs/improvements/dart-parser.md
  src/parsers/dart.rs
  src/parsers/dart_golden_test.rs
  src/parsers/dart_test.rs
  testdata/dart-golden/README.md
  testdata/dart-golden/deps-versions-dict-pubspec/pubspec.yaml
  testdata/dart-golden/deps-versions-dict-pubspec/pubspec.yaml.expected
  testdata/dart-golden/many-deps-yaml/pubspec.yaml.expected
  testdata/dart-golden/mini-lock/pubspec.lock.expected
  testdata/dart-golden/path-lock/pubspec.lock
  testdata/dart-golden/path-lock/pubspec.lock.expected
  testdata/dart-golden/private-archive-pubspec/pubspec.yaml
  testdata/dart-golden/private-archive-pubspec/pubspec.yaml.expected
  testdata/dart-golden/publish-pubspec/pubspec.yaml
  testdata/dart-golden/publish-pubspec/pubspec.yaml.expected
  testdata/dart-golden/simple-yaml/pubspec.yaml.expected
  testdata/dart-golden/stock-lock/pubspec.lock.expected
Due: fmt, clippy, generate-supported-formats

chore: more cleanup
  docs/ARCHITECTURE.md
  docs/implementation-plans/license-detection/CHECK-PHASE-5-DETAILED.md
  docs/implementation-plans/license-detection/CHECK-PHASE-6-DETAILED.md
  docs/implementation-plans/license-detection/CHECK-PHASE-7-FINAL.md
  docs/implementation-plans/license-detection/CHECK-PHASE-7.md
  docs/implementation-plans/license-detection/LICENSE_DETECTION_PLAN.md
  docs/implementation-plans/license-detection/PLAN-PHASE-7.md
  docs/implementation-plans/license-detection/PLAN-PHASE-8.md
  docs/license-detection/ARCHITECTURE.md
  docs/license-detection/improvements/ARCHITECTURE_IMPROVEMENT_IDEAS.md
  scripts/update-license-loader-artifact.sh
  scripts/update_license_loader_artifact.sh
  setup.sh
  src/assembly/assemblers.rs
  src/copyright/golden_utils.rs
  src/copyright/mod.rs
  src/license_detection/models/license_match.rs
  src/license_detection/models/rule.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/loader_test.rs
  src/main.rs
  src/main_test.rs
  xtask/Cargo.lock
  xtask/Cargo.toml
  xtask/src/bin/generate-license-loader-artifact.rs
  xtask/src/bin/generate_license_loader_artifact.rs
Due: fmt, clippy

fix(alpine): extract apkbuild deps and normalize licenses
  docs/improvements/README.md
  docs/improvements/alpine-parser.md
  src/parsers/alpine.rs
  testdata/alpine/apk/basic/test-package-1.0-r0.apk.expected.json
  testdata/alpine/apkbuild/icu/APKBUILD.expected.json
  testdata/alpine/apkbuild/linux-firmware/APKBUILD.expected.json
  testdata/alpine/lib/apk/db/installed.expected.json
Due: fmt, clippy, generate-supported-formats

fix(conda): treat env deps as conda by default
  docs/improvements/conda-parser.md
  src/parsers/conda.rs
  src/parsers/conda_test.rs
  testdata/conda/conda-yaml/phc-gnn/environment_gpu.yml-expected.json
  testdata/conda/conda-yaml/ringer/environment.yaml-expected.json
Due: fmt, clippy, generate-supported-formats

fix(rpm): preserve archive relationship metadata
  docs/improvements/rpm-parser.md
  src/parsers/rpm_parser.rs
Due: fmt, clippy, generate-supported-formats

fix(rpm): handle bounded preamble conditionals
  docs/improvements/rpm-specfile-parser.md
  src/parsers/rpm_specfile.rs
  src/parsers/rpm_specfile_test.rs
Due: fmt, clippy, generate-supported-formats
