Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

fix(copyright): always run the cleanup pass when the deadline expires
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): honour the scan deadline during postprocess (#1362)
  src/copyright/detector/mod.rs
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

docs(copyright): record why the author keyword is narrowed to one format
  src/copyright/detector/author_heuristics/extraction.rs
Due: fmt, clippy

docs(copyright): record why the author keyword is narrowed to one format (#1363)
  src/copyright/detector/author_heuristics/extraction.rs
Due: fmt, clippy

chore: release
  CITATION.cff
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump h2 to 0.4.16 for RUSTSEC-2026-0258
  Cargo.lock
Due: none

chore(deps): bump h2 to 0.4.16 for RUSTSEC-2026-0258 (#1368)
  Cargo.lock
Due: none

fix(copyright): keep a wrapped notice whole up to "all rights reserved"
  src/copyright/detector/tests_multiline_repairs.rs
  src/copyright/grammar/rules.rs
  src/copyright/grammar/types.rs
  src/copyright/parser.rs
  src/copyright/parser_test.rs
  testdata/copyright-golden/all-rights-reserved/wrapped_holder_phrase_before_all_rights_reserved.txt
  testdata/copyright-golden/all-rights-reserved/wrapped_holder_phrase_before_all_rights_reserved.txt.yml
  testdata/copyright-golden/copyrights/misco2/distributed_8.txt.yml
  testdata/copyright-golden/copyrights/misco4/linux-copyrights/include/linux/pnfs_osd_xdr.h.yml
Due: fmt, clippy

fix(copyright): keep a wrapped notice whole up to "all rights reserved" (#1367)
  src/copyright/detector/tests_multiline_repairs.rs
  src/copyright/grammar/rules.rs
  src/copyright/grammar/types.rs
  src/copyright/parser.rs
  src/copyright/parser_test.rs
  testdata/copyright-golden/all-rights-reserved/wrapped_holder_phrase_before_all_rights_reserved.txt
  testdata/copyright-golden/all-rights-reserved/wrapped_holder_phrase_before_all_rights_reserved.txt.yml
  testdata/copyright-golden/copyrights/misco2/distributed_8.txt.yml
  testdata/copyright-golden/copyrights/misco4/linux-copyrights/include/linux/pnfs_osd_xdr.h.yml
Due: fmt, clippy

fix(copyright): report an xml copyright block once, over its real span
  src/copyright/detector/pattern_extract/extraction/content.rs
  src/copyright/detector/tests_multiline_repairs.rs
  testdata/copyright-golden/copyrights/misco2/distributed_8.txt.yml
Due: fmt, clippy

fix(copyright): report an xml copyright block once, over its real span (#1371)
  src/copyright/detector/pattern_extract/extraction/content.rs
  src/copyright/detector/tests_multiline_repairs.rs
  testdata/copyright-golden/copyrights/misco2/distributed_8.txt.yml
Due: fmt, clippy

test(copyright): pin the two properties that keep flattened `+` rules safe
  src/copyright/parser_test.rs
Due: fmt, clippy

test(copyright): pin the two properties that keep flattened `+` rules safe (#1372)
  src/copyright/parser_test.rs
Due: fmt, clippy

fix(copyright): reject a bare `(c)` list label as a copyright sign
  src/copyright/detector/tests_false_positives.rs
  src/copyright/detector/tree_walk/copyright/spans.rs
Due: fmt, clippy

fix(copyright): reject a bare `(c)` list label as a copyright sign (#1373)
  src/copyright/detector/tests_false_positives.rs
  src/copyright/detector/tree_walk/copyright/spans.rs
Due: fmt, clippy

fix(copyright): strip `%`, `;`, `--`, and `!` comment markers from the native value
  src/scanner/process/copyright.rs
  src/scanner/process/copyright_test.rs
Due: fmt, clippy

fix(copyright): strip `%`, `;`, `--`, and `!` comment markers from the native value (#1374)
  src/scanner/process/copyright.rs
  src/scanner/process/copyright_test.rs
Due: fmt, clippy

fix(copyright): drop holder warranty and liability disclaimer clauses
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/copyrights_junk_patterns.rs
  src/copyright/refiner/holders_junk_patterns.rs
  src/copyright/refiner/tests.rs
Due: fmt, clippy

fix(copyright): drop holder warranty and liability disclaimer clauses (#1375)
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/copyrights_junk_patterns.rs
  src/copyright/refiner/holders_junk_patterns.rs
  src/copyright/refiner/tests.rs
Due: fmt, clippy

fix(copyright): keep an SPDX `copyrightText` field beside a JSON description
  src/copyright/detector/postprocess_transforms/metadata_repairs.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): keep an SPDX `copyrightText` field beside a JSON description (#1376)
  src/copyright/detector/postprocess_transforms/metadata_repairs.rs
  src/copyright/detector/tests_structured_metadata.rs
Due: fmt, clippy

fix(copyright): inline an anchor's URL instead of leaving markup in the value
  src/scanner/process/copyright.rs
  src/scanner/process/copyright_test.rs
Due: fmt, clippy

fix(copyright): inline an anchor's URL instead of leaving markup in the value (#1377)
  src/scanner/process/copyright.rs
  src/scanner/process/copyright_test.rs
Due: fmt, clippy

docs(benchmarks): refresh the erlang/otp row at 6146f0df
  docs/BENCHMARKS.md
  docs/scan-duration-vs-files.svg
Due: none

docs(benchmarks): refresh the erlang/otp row at 6146f0df (#1378)
  docs/BENCHMARKS.md
  docs/scan-duration-vs-files.svg
Due: none

fix(finder): keep detected emails in their source case
  docs/OUTPUT_FIELD_REFERENCE.md
  src/finder/emails.rs
  src/output_schema/metadata/file_evidence.rs
  src/scanner/process/binary_text.rs
  src/scanner/process/contacts.rs
  src/scanner/process/contacts_test.rs
Due: fmt, clippy

fix(license-detection): move bare "BSD" from an index rule to a declared alias
  resources/license_detection/declared_license_aliases.toml
  resources/license_detection/index_build_policy.toml
  resources/license_detection/license_index.zst
  resources/license_detection/overlay/rules/bsd_bare_word_only.RULE
  src/license_detection/tests.rs
  src/parsers/declared_license_aliases.rs
  src/parsers/license_normalization.rs
Due: fmt, clippy, generate-supported-formats

fix(finder): keep detected emails in their source case (#1379)
  docs/OUTPUT_FIELD_REFERENCE.md
  src/finder/emails.rs
  src/output_schema/metadata/file_evidence.rs
  src/scanner/process/binary_text.rs
  src/scanner/process/contacts.rs
  src/scanner/process/contacts_test.rs
Due: fmt, clippy

fix(copyright): drop values that are source code or a notice template
  src/copyright/detector/pattern_extract/extraction/content.rs
  src/copyright/detector/pattern_extract/extraction/mod.rs
  src/copyright/refiner/copyrights_junk_patterns.rs
  src/copyright/refiner/holders_junk_patterns.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/tests.rs
  src/scanner/process/copyright_test.rs
Due: fmt, clippy

fix(copyright): drop values that are source code or a notice template (#1380)
  src/copyright/detector/pattern_extract/extraction/content.rs
  src/copyright/detector/pattern_extract/extraction/mod.rs
  src/copyright/refiner/copyrights_junk_patterns.rs
  src/copyright/refiner/holders_junk_patterns.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/tests.rs
  src/scanner/process/copyright_test.rs
Due: fmt, clippy

fix(license-detection): move bare "BSD" from an index rule to a declared alias (#1381)
  resources/license_detection/declared_license_aliases.toml
  resources/license_detection/index_build_policy.toml
  resources/license_detection/license_index.zst
  resources/license_detection/overlay/rules/bsd_bare_word_only.RULE
  src/license_detection/tests.rs
  src/parsers/declared_license_aliases.rs
  src/parsers/license_normalization.rs
Due: fmt, clippy, generate-supported-formats

fix(copyright): reject authors and holders that source lines disprove
  src/copyright/detector/author_heuristics/cleanup.rs
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/holder.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/mod.rs
Due: fmt, clippy

fix(copyright): reject authors and holders that source lines disprove (#1382)
  src/copyright/detector/author_heuristics/cleanup.rs
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/holder.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/mod.rs
Due: fmt, clippy

fix(license-detection): move "BSD-style" from an index rule to a declared alias
  resources/license_detection/declared_license_aliases.toml
  resources/license_detection/index_build_policy.toml
  resources/license_detection/license_index.zst
  src/license_detection/tests.rs
  src/parsers/declared_license_aliases.rs
  src/parsers/license_normalization.rs
Due: fmt, clippy, generate-supported-formats

fix(copyright): drop TOC dot-leader authors and truncate over-run author spans
  src/copyright/detector/tests_author_pipeline.rs
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/author.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/tests.rs
  testdata/copyright-golden/copyrights/misco4/linux-copyrights/arch/microblaze/lib/memcpy.c.yml
Due: fmt, clippy

fix(license-detection): move "BSD-style" from an index rule to a declared alias (#1383)
  resources/license_detection/declared_license_aliases.toml
  resources/license_detection/index_build_policy.toml
  resources/license_detection/license_index.zst
  src/license_detection/tests.rs
  src/parsers/declared_license_aliases.rs
  src/parsers/license_normalization.rs
Due: fmt, clippy, generate-supported-formats

fix(copyright): drop TOC dot-leader authors and truncate over-run author spans (#1384)
  src/copyright/detector/tests_author_pipeline.rs
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/author.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/tests.rs
  testdata/copyright-golden/copyrights/misco4/linux-copyrights/arch/microblaze/lib/memcpy.c.yml
Due: fmt, clippy

fix(copyright): drop notice templates, tooling prose, and format strings
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/copyrights_junk_patterns.rs
  src/copyright/refiner/holders_junk_patterns.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/tests.rs
Due: fmt, clippy

fix(copyright): drop notice templates, tooling prose, and format strings (#1385)
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/copyrights_junk_patterns.rs
  src/copyright/refiner/holders_junk_patterns.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/tests.rs
Due: fmt, clippy

fix(copyright): drop Erlang format directives and sigil-keyed bindings
  src/copyright/detector/phases/postprocess.rs
  src/copyright/detector/tests_false_positives.rs
  src/copyright/refiner/junk.rs
  src/copyright/refiner/tests.rs
Due: fmt, clippy
