Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

docs: streamline docs validation and brittle test refs
  .github/workflows/check.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/TESTING_STRATEGY.md
  docs/implementation-plans/package-detection/ASSEMBLY_PLAN.md
  docs/implementation-plans/text-detection/EMAIL_URL_DETECTION_PLAN.md
  docs/improvements/alpine-parser.md
  docs/improvements/debian-parser.md
  package.json
  testdata/assembly-golden/README.md
  testdata/cargo-golden/README.md
  testdata/cocoapods-golden/README.md
  testdata/composer-golden/README.md
  testdata/dart-golden/README.md
  testdata/go-golden/README.md
  testdata/maven-golden/README.md
  testdata/npm-golden/README.md
  testdata/nuget-golden/README.md
  testdata/ruby-golden/README.md
  testdata/swift-golden/README.md
  xtask/src/bin/validate_urls.rs
Due: fmt, clippy

Model rule kinds explicitly in license detection
  src/license_detection/aho_match.rs
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/grouping.rs
  src/license_detection/detection/identifier.rs
  src/license_detection/detection/mod.rs
  src/license_detection/detection/types.rs
  src/license_detection/expression/parse.rs
  src/license_detection/golden_test.rs
  src/license_detection/hash_match.rs
  src/license_detection/index/builder/mod.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/index/token_sets.rs
  src/license_detection/match_refine/false_positive.rs
  src/license_detection/match_refine/filter_low_quality.rs
  src/license_detection/match_refine/handle_overlaps.rs
  src/license_detection/match_refine/merge.rs
  src/license_detection/match_refine/mod.rs
  src/license_detection/mod.rs
  src/license_detection/models/license_match.rs
  src/license_detection/models/mod.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/models/rule.rs
  src/license_detection/query/mod.rs
  src/license_detection/query/test.rs
  src/license_detection/rules/loader.rs
  src/license_detection/rules/loader_test.rs
  src/license_detection/rules/thresholds.rs
  src/license_detection/seq_match/candidates.rs
  src/license_detection/seq_match/matching.rs
  src/license_detection/seq_match/mod.rs
  src/license_detection/spdx_lid/mod.rs
  src/license_detection/spdx_mapping/mod.rs
  src/license_detection/test_utils.rs
  src/license_detection/tests.rs
  src/license_detection/tokenize.rs
  src/license_detection/unknown_match.rs
Due: fmt, clippy

Format parser and scanner helpers
  src/parsers/gitmodules.rs
  src/scanner/process.rs
  src/utils/file.rs
Due: fmt, clippy, generate-supported-formats

feat(license-detection): Phase 1 - Add engine initialization refactor and loader-stage types
  docs/license-detection/improvements/build-time-license-index-implementation-plan.md
  src/lib.rs
  src/license_detection/embedded/mod.rs
  src/license_detection/embedded/schema.rs
  src/license_detection/golden_test.rs
  src/license_detection/index/builder/tests.rs
  src/license_detection/mod.rs
  src/license_detection/models/loaded_license.rs
  src/license_detection/models/loaded_rule.rs
  src/license_detection/models/mod.rs
  src/license_detection/models/mod_tests.rs
  src/license_detection/models/rule.rs
  src/license_detection/rules/loader_test.rs
  src/license_detection/seq_match/gfdl_debug_test.rs
  src/main.rs
  tests/scanner_integration.rs
Due: fmt, clippy

feat(license-detection): Phase 2 - Implement loader-stage models with normalization
  docs/license-detection/improvements/build-time-license-index-implementation-plan.md
  docs/license-detection/improvements/build-time-license-index.md
  src/license_detection/models/loaded_license.rs
  src/license_detection/models/loaded_rule.rs
Due: fmt, clippy

feat(license-detection): Phase 3 - Refactor loader to return LoadedRule/LoadedLicense
  docs/license-detection/improvements/build-time-license-index-implementation-plan.md
  src/license_detection/rules/loader.rs
Due: fmt, clippy

fix(python): parse source distribution archives directly
  Cargo.lock
  Cargo.toml
  docs/SUPPORTED_FORMATS.md
  docs/improvements/README.md
  docs/improvements/python-parser.md
  src/parsers/python.rs
  src/parsers/python_golden_test.rs
  src/parsers/python_test.rs
  testdata/python/golden/archives/demo-1.0.0.tar.gz
  testdata/python/golden/archives/demo-1.0.0.tar.gz-expected.json
  testdata/python/pip-22.0.4.tar.gz
  xtask/Cargo.lock
Due: fmt, clippy, generate-supported-formats

fix(npm-yarn): preserve platform and Berry metadata
  docs/improvements/README.md
  docs/improvements/npm-yarn-parser.md
  src/parsers/npm.rs
  src/parsers/npm_golden_test.rs
  src/parsers/npm_test.rs
  src/parsers/yarn_lock.rs
  src/parsers/yarn_lock_test.rs
  testdata/npm-golden/platform_metadata/package.json
  testdata/npm-golden/platform_metadata/package.json.extra_data.expected.json
  testdata/npm/yarn-v2-protocol.lock
  testdata/npm/yarn-v2-protocol.lock.expected.json
  testdata/npm/yarn-v2-protocol.lock.extra.expected.json
Due: fmt, clippy, generate-supported-formats

feat(license-detection): Phase 8 - Add comprehensive embedded artifact tests
  docs/license-detection/improvements/build-time-license-index-implementation-plan.md
  src/license_detection/embedded_test.rs
  src/license_detection/mod.rs
Due: fmt, clippy

fix(cpan): resolve VERSION_FROM and ABSTRACT_FROM
  docs/improvements/README.md
  docs/improvements/cpan-makefile-pl-parser.md
  src/parsers/cpan_golden_test.rs
  src/parsers/cpan_makefile_pl.rs
  src/parsers/cpan_makefile_pl_test.rs
  testdata/cpan/makefile-pl/version-abstract-from/Makefile.PL
  testdata/cpan/makefile-pl/version-abstract-from/Makefile.PL.expected.json
  testdata/cpan/makefile-pl/version-abstract-from/lib/Acme/Combined.pm
Due: fmt, clippy, generate-supported-formats

docs: Phase 9 - Update documentation for embedded license index
  README.md
  docs/ARCHITECTURE.md
  docs/license-detection/ARCHITECTURE.md
  docs/license-detection/improvements/build-time-license-index-implementation-plan.md
  setup.sh
  src/lib.rs
Due: fmt, clippy

fix(gradle): parse all dependencies blocks
  docs/improvements/README.md
  docs/improvements/gradle-parser.md
  src/parsers/gradle.rs
  testdata/gradle-golden/README.md
  testdata/gradle-golden/groovy/groovy-and-kotlin1/build.gradle-expected.json
  testdata/gradle-golden/kotlin/groovy-and-kotlin2/build.gradle.kts-expected.json
  testdata/gradle-golden/kotlin/kotlin2/build.gradle.kts-expected.json
Due: fmt, clippy, generate-supported-formats

fix(python): harden archive metadata reads
  docs/improvements/README.md
  docs/improvements/python-parser.md
  src/parsers/python.rs
  src/parsers/python_test.rs
Due: fmt, clippy, generate-supported-formats

fix(cpan): classify ConfigureRequires correctly
  docs/improvements/README.md
  docs/improvements/cpan-dist-ini-parser.md
  src/parsers/cpan_dist_ini.rs
  src/parsers/cpan_dist_ini_test.rs
  testdata/cpan/dist-ini/basic/dist.ini
  testdata/cpan/dist-ini/basic/dist.ini.expected.json
Due: fmt, clippy, generate-supported-formats

fix(composer): normalize safe license metadata
  docs/improvements/README.md
  docs/improvements/composer-parser.md
  src/parsers/composer.rs
  src/parsers/composer_golden_test.rs
  src/parsers/composer_test.rs
  testdata/composer-golden/a-timer/composer.json.expected
  testdata/composer-golden/license-normalization/composer.json
  testdata/composer-golden/license-normalization/composer.json.expected
  testdata/composer-golden/license-normalization/composer.json.license.expected.json
Due: fmt, clippy, generate-supported-formats

fix(osgi): honor optional Import-Package semantics
  docs/improvements/osgi-manifest-parser.md
  src/parsers/maven.rs
  src/parsers/osgi_test.rs
Due: fmt, clippy, generate-supported-formats

fix(rpm): handle bounded preamble conditionals
  docs/improvements/rpm-specfile-parser.md
  src/parsers/rpm_specfile.rs
  src/parsers/rpm_specfile_test.rs
Due: fmt, clippy, generate-supported-formats

fix(rpm): preserve archive relationship metadata
  docs/improvements/rpm-parser.md
  src/parsers/rpm_parser.rs
Due: fmt, clippy, generate-supported-formats

fix(conda): treat env deps as conda by default
  docs/improvements/conda-parser.md
  src/parsers/conda.rs
  src/parsers/conda_test.rs
  testdata/conda/conda-yaml/phc-gnn/environment_gpu.yml-expected.json
  testdata/conda/conda-yaml/ringer/environment.yaml-expected.json
Due: fmt, clippy, generate-supported-formats

fix(alpine): extract apkbuild deps and normalize licenses
  docs/improvements/README.md
  docs/improvements/alpine-parser.md
  src/parsers/alpine.rs
  testdata/alpine/apk/basic/test-package-1.0-r0.apk.expected.json
  testdata/alpine/apkbuild/icu/APKBUILD.expected.json
  testdata/alpine/apkbuild/linux-firmware/APKBUILD.expected.json
  testdata/alpine/lib/apk/db/installed.expected.json
Due: fmt, clippy, generate-supported-formats

cleanup docs
  AGENTS.md
  docs/license-detection/ARCHITECTURE.md
  docs/license-detection/architecture/01-tokenization.md
  docs/license-detection/architecture/02-matching.md
  docs/license-detection/architecture/03-unknown-match.md
  docs/license-detection/architecture/04-refinement.md
  docs/license-detection/architecture/05-grouping.md
  docs/license-detection/architecture/06-detection-creation.md
  docs/license-detection/audit/AUDIT.md
  docs/license-detection/audit/CLI_OUTPUT.md
  docs/license-detection/audit/CONSTANTS_THRESHOLDS.md
  docs/license-detection/audit/DETECTION_ASSEMBLY.md
  docs/license-detection/audit/DIFFERENCES.md
  docs/license-detection/audit/EXPRESSION_HANDLING.md
  docs/license-detection/audit/H2-INVESTIGATION.md
  docs/license-detection/audit/HYPOTHESIS_H4_INVESTIGATION.md
  docs/license-detection/audit/LICENSE_DATABASE.md
  docs/license-detection/audit/MATCHING_ALGORITHMS.md
  docs/license-detection/audit/MATCH_REFINEMENT.md
  docs/license-detection/audit/PYTHON_PIPELINE.md
  docs/license-detection/audit/QUERY_TOKENIZATION.md
  docs/license-detection/audit/RULE_ENGINE.md
  docs/license-detection/audit/RUST_PIPELINE.md
  docs/license-detection/audit/SCORING.md
  docs/license-detection/audit/SPDX_DATA.md
  docs/license-detection/improvements/01-query-construction.md
  docs/license-detection/improvements/02-matcher-order-analysis.md
  docs/license-detection/improvements/build-time-license-index-implementation-plan.md
  docs/license-detection/improvements/build-time-license-index.md
  docs/license-detection/improvements/inverted-index-candidate-filtering.md
  docs/license-detection/improvements/reduce-rule-cloning.md
  docs/license-detection/improvements/solo-match-exception-fix.md
  docs/license-detection/improvements/spdx-lid-deduplication.md
  docs/license-detection/improvements/stricter-surround-merge.md
Due: none

fix: make linters runnable directly, cleanup gitignore
  .gitignore
  .prettierignore
  package.json
Due: none
