Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

ci: split scan coverage from rust quality
  .github/workflows/check.yml
  docs/TESTING_STRATEGY.md
  src/license_detection/seq_match/gfdl_debug_test.rs
  src/license_detection/seq_match/mod.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

docs: align parser logging guidance
  docs/ARCHITECTURE.md
  docs/HOW_TO_ADD_A_PARSER.md
  docs/implementation-plans/infrastructure/PROGRESS_TRACKING_PLAN.md
Due: none

test: split large inline test modules
  src/assembly/file_ref_resolve.rs
  src/assembly/file_ref_resolve_test.rs
  src/assembly/nested_merge.rs
  src/assembly/nested_merge_test.rs
  src/copyright/lexer.rs
  src/copyright/lexer_test.rs
  src/copyright/parser.rs
  src/copyright/parser_test.rs
  src/license_detection/expression/parse.rs
  src/license_detection/expression/parse_test.rs
  src/license_detection/hash_match.rs
  src/license_detection/hash_match_test.rs
Due: fmt, clippy

docs: track remaining license parity gaps
  README.md
  docs/LICENSE_DETECTION_ARCHITECTURE.md
  docs/implementation-plans/README.md
  docs/implementation-plans/infrastructure/CLI_PLAN.md
  docs/implementation-plans/output/OUTPUT_FORMATS_PLAN.md
  docs/implementation-plans/output/PARITY_SCORECARD.md
  docs/implementation-plans/text-detection/LICENSE_DETECTION_PLAN.md
  docs/license-detection/PLAN-019-file-region-and-unique-detection.md
Due: none

test: refresh facet golden scan errors
  testdata/summarycode-golden/facet/cli.expected.json
Due: none

fix: preserve file-level license clues
  src/assembly/assembly_golden_test.rs
  src/assembly/assembly_test.rs
  src/assembly/file_ref_resolve_test.rs
  src/assembly/nested_merge_test.rs
  src/assembly/swift_merge.rs
  src/cache/scan_cache.rs
  src/models/file_info.rs
  src/output/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/test_utils.rs
  src/scan_result_shaping.rs
  src/scan_result_shaping_test.rs
  src/scanner/mod.rs
  src/scanner/process.rs
  tests/output_format_golden.rs
Due: fmt, clippy

style: format rebased file reference tests
  src/assembly/file_ref_resolve_test.rs
Due: fmt, clippy

fix: align clue detection split with scancode
  src/license_detection/detection/analysis.rs
  src/license_detection/detection/mod.rs
Due: fmt, clippy

fix: promote covered low-quality detections
  src/license_detection/detection/mod.rs
  src/license_detection/mod.rs
Due: fmt, clippy

test: align ibmpl split-match expectation
  src/license_detection/rules/loader_test.rs
Due: fmt, clippy

fix: complete summary package-origin parity
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/post_processing/golden_test.rs
  src/post_processing/mod.rs
  src/post_processing/summary_test.rs
  testdata/summarycode-golden/summary/package_copyright_precedence/codebase/Demo.nuspec
  testdata/summarycode-golden/summary/package_copyright_precedence/codebase/LICENSE
  testdata/summarycode-golden/summary/package_copyright_precedence/codebase/README.txt
  testdata/summarycode-golden/summary/package_copyright_precedence/package_copyright_precedence.expected.json
Due: fmt, clippy

perf: reduce facet assignment overhead
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/post_processing/facet_test.rs
  src/post_processing/mod.rs
Due: fmt, clippy

perf: remove generated rereads from output
  docs/implementation-plans/README.md
  docs/implementation-plans/post-processing/SUMMARIZATION_PLAN.md
  src/main.rs
  src/post_processing/generated_test.rs
  src/post_processing/golden_test.rs
  src/post_processing/mod.rs
  src/post_processing/output_test.rs
  src/post_processing/test_utils.rs
  src/scanner/mod.rs
  src/utils/generated.rs
Due: fmt, clippy

docs: simplify CLI parity flag inventory
  docs/implementation-plans/infrastructure/CLI_PLAN.md
Due: none

perf(license_detection): borrow Rule in Candidate instead of cloning
  src/license_detection/seq_match/candidates.rs
  src/license_detection/seq_match/matching.rs
Due: fmt, clippy

fix: improve package data parser parity
  docs/HOW_TO_ADD_A_PARSER.md
  src/models/file_info.rs
  src/parsers/bower.rs
  src/parsers/bower_test.rs
  src/parsers/conan.rs
  src/parsers/conan_test.rs
  src/parsers/cpan.rs
  src/parsers/cpan_makefile_pl.rs
  src/parsers/cpan_makefile_pl_test.rs
  src/parsers/cpan_test.rs
  src/parsers/docker.rs
  src/parsers/docker_test.rs
  src/parsers/meson.rs
  src/parsers/meson_test.rs
  src/parsers/nuget.rs
  src/parsers/nuget_test.rs
  src/parsers/pip_inspect_deplock.rs
  src/parsers/pip_inspect_deplock_test.rs
  src/parsers/python.rs
  src/parsers/python_test.rs
  src/parsers/vcpkg.rs
  src/parsers/vcpkg_test.rs
  src/post_processing/output_test.rs
  src/test_utils.rs
  testdata/bower/basic/bower.json.expected.json
  testdata/conan/recipes/libgettext/manifest/conanfile.py-expected.json
  testdata/cpan/makefile-pl/basic/Makefile.PL.expected.json
  testdata/cpan/makefile-pl/version-abstract-from/Makefile.PL.expected.json
  testdata/cpan/meta_json/META.json.expected.json
  testdata/cpan/meta_yml/META.yml.expected.json
  testdata/docker-golden/jibri/Dockerfile.expected.json
  testdata/python/golden/pypi.json-expected.json
  testdata/python/pypi.json
  testdata/vcpkg/golden/port-vcpkg-expected.json
Due: fmt, clippy, generate-supported-formats

fix: normalize safe haxe and podspec licenses
  src/parsers/haxe.rs
  src/parsers/haxe_test.rs
  src/parsers/podspec.rs
  src/parsers/podspec_json.rs
  src/parsers/podspec_json_test.rs
  testdata/haxe/basic/haxelib.json.expected
  testdata/haxe/basic2/haxelib.json.expected
  testdata/haxe/deps/haxelib.json.expected
  testdata/haxe/tags/haxelib.json.expected
Due: fmt, clippy, generate-supported-formats

ci: enable LFS for checkout in CI workflows
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

perf(license_detection): reduce allocations in match merging
  src/license_detection/match_refine/merge.rs
  src/license_detection/models/license_match.rs
Due: fmt, clippy

test: ignore slow determinism test in CI
  src/license_detection/embedded_test.rs
Due: fmt, clippy

fix: ensure unknown_automaton is deterministic by sorting patterns
  src/license_detection/embedded_test.rs
  src/license_detection/index/builder/mod.rs
Due: fmt, clippy

fix: ensure deterministic artifact generation
  resources/license_detection/license_index.bincode.zst
  src/license_detection/embedded_test.rs
  src/license_detection/index/builder/mod.rs
  src/license_detection/models/rule.rs
  xtask/src/bin/generate_index_artifact.rs
Due: fmt, clippy
