Repository mstykow/scancode-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, generate-supported-formats

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: fmt
    name: Format Rust code and stage changes
    entry: bash -c 'cargo fmt --all && git add -u :/*.rs'
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: clippy
    name: Run clippy
    entry: cargo clippy
    args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
    language: system
    types: [rust]
    pass_filenames: false
  
  - id: generate-supported-formats
    name: Generate docs/SUPPORTED_FORMATS.md
    entry: bash -c 'cargo run --quiet --bin generate-supported-formats && git add docs/SUPPORTED_FORMATS.md'
    language: system
    pass_filenames: false
    files: ^src/parsers/.*\.rs$

test(deno): add parser golden coverage
  src/parsers/deno_golden_test.rs
  src/parsers/mod.rs
  testdata/deno/golden/deno_json/deno.json
  testdata/deno/golden/deno_json/deno.json-expected.json
  testdata/deno/golden/deno_jsonc/deno.jsonc
  testdata/deno/golden/deno_jsonc/deno.jsonc-expected.json
  testdata/deno/golden/deno_lock/deno.lock
  testdata/deno/golden/deno_lock/deno.lock-expected.json
Due: fmt, clippy, generate-supported-formats

feat(deno): add lockfile parser
  src/parsers/deno_lock.rs
Due: fmt, clippy, generate-supported-formats

test(assembly): cover deno sibling merge
  src/assembly/assemblers.rs
  src/assembly/mod.rs
Due: fmt, clippy

feat(deno): add manifest parser
  Cargo.lock
  Cargo.toml
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/models/package_type.rs
  src/parsers/deno.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(assembly): add deno assembly golden
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/deno-basic/deno.json
  testdata/assembly-golden/deno-basic/deno.lock
  testdata/assembly-golden/deno-basic/expected.json
Due: fmt, clippy

test(deno): cover manifest and lock parsing
  src/parsers/deno_lock_test.rs
  src/parsers/deno_test.rs
Due: fmt, clippy, generate-supported-formats

fix(deno): normalize scoped package identity
  src/models/file_info.rs
  src/parsers/deno.rs
  src/parsers/deno_test.rs
Due: fmt, clippy, generate-supported-formats

docs(parsers): require golden coverage
  docs/HOW_TO_ADD_A_PARSER.md
Due: none

feat(gradle): add module metadata parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/gradle_module.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(gradle): cover module metadata parsing
  src/parsers/gradle_module_golden_test.rs
  src/parsers/gradle_module_test.rs
  testdata/gradle-golden/module/converter-moshi-2.11.0.module
  testdata/gradle-golden/module/converter-moshi-2.11.0.module-expected.json
  testdata/gradle-golden/module/material-1.9.0.module
  testdata/gradle-golden/module/material-1.9.0.module-expected.json
  testdata/gradle-golden/module/not-a-gradle-module.module
  testdata/gradle-golden/module/simple.module
  testdata/gradle-golden/module/simple.module-expected.json
  testdata/gradle-golden/module/standalone.module
Due: fmt, clippy, generate-supported-formats

docs(gradle): record module metadata support
  docs/improvements/gradle-module-parser.md
Due: none

fix(gradle): classify module metadata as standalone
  src/assembly/assemblers.rs
Due: fmt, clippy

fix(gradle): preserve per-variant dependency metadata
  src/parsers/gradle_module.rs
  src/parsers/gradle_module_test.rs
  testdata/gradle-golden/module/converter-moshi-2.11.0.module-expected.json
  testdata/gradle-golden/module/material-1.9.0.module-expected.json
Due: fmt, clippy, generate-supported-formats

feat(go): add workspace parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/go.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

fix(assembly): preserve workspace metadata
  src/assembly/assemblers.rs
  src/assembly/mod.rs
  src/models/file_info.rs
Due: fmt, clippy

test(go): cover workspace parsing
  src/parsers/go_golden_test.rs
  src/parsers/go_work_test.rs
  testdata/go-golden/gowork-sample1/go.work
  testdata/go-golden/gowork-sample1/go.work.expected
  testdata/go-golden/gowork-sample1/go.work.expected.json
  testdata/go-golden/gowork-sample1/mymodule/go.mod
  testdata/go-golden/gowork-sample1/tools/formatter/go.mod
  testdata/go-golden/gowork-sample2/go.work
  testdata/go-golden/gowork-sample2/go.work.expected
  testdata/go-golden/gowork-sample2/go.work.expected.json
  testdata/go-golden/gowork-sample2/myapp/go.mod
Due: fmt, clippy, generate-supported-formats

test(assembly): add go workspace golden
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/go-workspace-basic/expected.json
  testdata/assembly-golden/go-workspace-basic/go.mod
  testdata/assembly-golden/go-workspace-basic/go.work
  testdata/assembly-golden/go-workspace-basic/mymodule/go.mod
  testdata/go-golden/gowork-sample1/go.work.expected
  testdata/go-golden/gowork-sample2/go.work.expected
Due: fmt, clippy

docs(go): record workspace support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/go-work-parser.md
  testdata/go-golden/README.md
Due: none

docs(go): mark workspace support complete
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  testdata/assembly-golden/deno-basic/expected.json
Due: none

docs: update documentation for ADRs and improvements
  docs/DOCUMENTATION_INDEX.md
  docs/adr/0006-datasourceid-driven-package-assembly.md
  docs/adr/README.md
  docs/adr/template.md
  docs/implementation-plans/package-detection/PARSER_ENHANCEMENT_PLAN.md
  docs/improvements/README.md
  docs/improvements/alpine-parser.md
Due: none

feat(bazel): add module parser
  docs/SUPPORTED_FORMATS.md
  src/models/datasource_id.rs
  src/parsers/bazel.rs
  src/parsers/mod.rs
Due: fmt, clippy, generate-supported-formats

test(bazel): cover module parsing
  src/parsers/bazel_module_golden_test.rs
  src/parsers/bazel_module_test.rs
  testdata/bazel-golden/module/MODULE.bazel
  testdata/bazel-golden/module/MODULE.bazel-expected.json
  testdata/bazel-golden/module/MODULE_no_version.bazel
  testdata/bazel-golden/module/MODULE_no_version.bazel-expected.json
Due: fmt, clippy, generate-supported-formats

test(assembly): add bazel module golden
  src/assembly/assemblers.rs
  src/assembly/assembly_golden_test.rs
  testdata/assembly-golden/bazel-module-basic/MODULE.bazel
  testdata/assembly-golden/bazel-module-basic/expected.json
Due: fmt, clippy

docs(bazel): record module support
  docs/implementation-plans/package-detection/PARSER_PLAN.md
  docs/improvements/README.md
  docs/improvements/bazel-module-parser.md
Due: none

test(bazel): expand module coverage
  src/parsers/bazel.rs
Due: fmt, clippy, generate-supported-formats

test(bazel): sync expanded coverage fixtures
  src/parsers/bazel_module_test.rs
  testdata/bazel-golden/module/MODULE.bazel
  testdata/bazel-golden/module/MODULE.bazel-expected.json
Due: fmt, clippy, generate-supported-formats
